<div class="assessment-details" *ngIf="showResult">
  <div class="assessment-container"></div>
  <div class="assessment-card">
    <div class="assessment-score">
      <p *ngIf="assessmentData?.fromGroup">{{'AVERAGE_SCORE' | translate}}</p>
      <p *ngIf="assessmentData?.fromUser">{{'SCORE' | translate}}</p>
      <div class="assessment-stats">
        <ion-icon name="stats"></ion-icon>
        <span *ngIf="assessmentData?.totalScore.toString()">{{assessmentData?.totalScore}}
          <span *ngIf="assessmentData?.totalQuestionsScore"> / {{assessmentData?.totalQuestionsScore}} </span>
          <span *ngIf="!assessmentData?.totalQuestionsScore && assessmentData.maxTotalScore"> / {{assessmentData?.maxTotalScore}}</span>
        </span>
        <span *ngIf="!assessmentData?.totalScore.toString()">--</span>
      </div>
    </div>
    <div class="assessment-time">
      <p *ngIf="assessmentData?.fromGroup">{{'AVERAGE_TIME' | translate}}</p>
      <p *ngIf="assessmentData?.fromUser">{{'TOTAL_TIME' | translate}}</p>
      <div class="assessment-result">
        <ion-icon md="md-time"></ion-icon>
        <span *ngIf="assessmentData?.uiTotalTime">{{assessmentData?.uiTotalTime}}</span><span *ngIf="!assessmentData?.uiTotalTime">--/--</span>
      </div>
    </div>
  </div>
</div>
<ngx-datatable id="datatable" class="material striped" [rows]="assessmentData?.uiRows" [rowClass]="getCell" [columns]="columns" [scrollbarV]="true" columnMode="flex" [headerHeight]="'40'" [footerHeight]="0" [rowHeight]="40" (activate)="onActivate($event,assessmentData.showPopup, assessmentData.popupCallback)" [sorts]="[{prop: columns[0]?.name, dir: 'asc'}]">
    <ngx-datatable-column name={{columns[0].name}} prop={{columns[0].prop}} [flexGrow]="2" [cellClass]="'datatable-body-cell-column1'" headerClass="assessment-header assessment-header1" [resizeable]="false"></ngx-datatable-column>
    <ngx-datatable-column name={{columns[1].name}} prop={{columns[1].prop}} [flexGrow]="1" [cellClass]="'datatable-body-cell-column2'" headerClass="assessment-header" [resizeable]="false"></ngx-datatable-column>
    <ngx-datatable-column name={{columns[2].name}} prop={{columns[2].prop}} [flexGrow]="1" [cellClass]="'datatable-body-cell-column3'" headerClass="assessment-header" [resizeable]="false"></ngx-datatable-column>
</ngx-datatable>