<div class="assessment-details">
  <div class="assessment-container"></div>
  <div class="assessment-card">
    <div class="assessment-score">
      <p>Score</p>
      <div class="assessment-stats">
        <ion-icon name="stats"></ion-icon>
        <span>{{assessmentData?.totalScore}}/{{assessmentData?.maxTotalScore}}</span>
      </div>
    </div>
    <div class="assessment-time">
      <p>Total Time</p>
      <div class="assessment-result">
        <ion-icon md="md-time"></ion-icon>
        <span>{{assessmentData?.uiTotalTime}}</span>
      </div>
    </div>
  </div>
</div>
<ngx-datatable id="datatable" class="material striped" [rows]="assessmentData?.uiRows" [rowClass]="getCell" [columns]="columns" [scrollbarV]="true"
  [scrollbarH]="false" columnMode="flex" [headerHeight]="'50'" [footerHeight]="0" [rowHeight]="50" (activate)="onActivate($event)"
  (select)='onSelect($event)'>
    <ngx-datatable-column name={{columns[0].name}} prop={{columns[0].prop}} [flexGrow]="2" [cellClass]="getCellClass" headerClass="assessment-header"></ngx-datatable-column>
    <ngx-datatable-column name={{columns[1].name}} prop={{columns[1].prop}} [flexGrow]="1" [cellClass]="getCellClass" headerClass="assessment-header"></ngx-datatable-column>
    <ngx-datatable-column name={{columns[2].name}} prop={{columns[2].prop}} [flexGrow]="1" [cellClass]="getCellClass" [sortable]="false" headerClass="assessment-header"></ngx-datatable-column>
</ngx-datatable>