page-onboarding {
    ion-slide {
        background-color: #ffffff;
    }
    .action-button {
        width:100% !important;
    }
    .item-img {
        max-width: 80%;
        text-align: center;
    }
    .swiper-slide {
        height: 75% !important;
    }
}
