<ion-header>
  <ion-navbar>
    <ion-title>Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <!-- <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)"> -->
  <form class="form">
    <!-- <ion-item>
      <ion-label stacked>DEGREE
        <span class="star" style="color: red">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" placeholder="Degree" class="form-controll" required></ion-input>
    </ion-item> -->

    <!-- <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Sausage</ion-label>
        <ion-checkbox [(ngModel)]="sausage" disabled="true"></ion-checkbox>
      </ion-item>

    <ion-item>
      <ion-row>
        <ion-col padding>
          <ion-spinner name="bubbles"></ion-spinner>
          <! <button no-margin ion-button full large color="primary">Update</button> -->
        <!-- </ion-col>
        <ion-col padding>
          <ion-spinner name="bubbles"></ion-spinner>
          <! <button no-margin ion-button full large color="danger">Cancel</button> -->
        <!-- </ion-col>
      </ion-row>
    </ion-item> --> 

    <!-- <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-checkbox ></ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Sausage</ion-label>
        <ion-checkbox disabled="true"></ion-checkbox>
      </ion-item> -->

    <!-- <div class="form-top-margin"></div> -->

    <ion-item>
      <ion-label stacked>ADDRESS LINE 1
        <span class="star" style="color: red">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" placeholder="Address Line 1" class="form-controll" required></ion-input>
    </ion-item>

    <div class="form-top-margin"></div>

    <ion-item>
      <ion-label stacked>ADDRESS LINE 2</ion-label>
      <ion-input type="text" placeholder="Optional"></ion-input>
    </ion-item>

    <div class="form-top-margin"></div>

    <ion-item>
      <ion-label stacked>CITY
        <span class="star" style="color: red">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" placeholder="City" class="form-controll" required></ion-input>
    </ion-item>

    <div class="form-top-margin"></div>

    <ion-item>
      <ion-label stacked>STATE</ion-label>
      <ion-input type="text" placeholder="Optional"></ion-input>
    </ion-item>

    <div class="form-top-margin"></div>

    <ion-item>
      <ion-label stacked>COUNTRY</ion-label>
      <ion-input type="text" value="India" placeholder="Optional"></ion-input>
    </ion-item>

    <div class="form-top-margin"></div>

    <ion-item>
      <ion-label stacked>PINCODE</ion-label>
      <ion-input type="number" placeholder="Optional"></ion-input>
    </ion-item>

    <div class="form-top-margin"></div>

    <!-- <ion-footer> -->
    <ion-row>
      <ion-col padding>
        <button class="action-button" ion-button outline icon-start>
          Delete
        </button>
        <!-- <button no-margin ion-button full large color="primary">Update</button> -->
      </ion-col>
      <ion-col padding>
        <button class="action-button" ion-button icon-start [disabled]="true" item-end>
          Save
        </button>
        <!-- <button no-margin ion-button full large color="danger">Cancel</button> -->
      </ion-col>
    </ion-row>

    <!-- <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.terms">
          <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div> -->

    <!-- <button ion-button full type="submit" [disabled]="!validations_form.valid">Submit</button> -->
  </form>
</ion-content>