<!-- Generated template for the CourseDetailComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon md="md-share" float-right></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- Page body -->
<ion-content padding>
  <div class="content-details-holder" *ngIf="contentDetail">
    <h4>{{contentDetail.name}}</h4>
    <p>{{contentDetail.description}}</p>
    <div class="about-section">
      <h4 class="padding-10 background-gray">About</h4>
      <p>{{contentDetail.description}}</p>
      <div *ngIf="contentDetail.gradeLevel && contentDetail.gradeLevel.length" margin-top>
        <div>GRADE:</div>
        <span *ngFor="let grade of contentDetail.gradeLevel">
          <span>{{grade}}</span>
        </span>
      </div>
      <div *ngIf="contentDetail.subject" margin-top>
        <div>SUBJECT:</div>
        <span>{{contentDetail.subject}}</span>
      </div>
    </div>

    <div class="structure-section" margin-top>
      <h4 class="padding-10 background-gray">Structure</h4>
      <span *ngFor="let structure of objectKeys(courseStructure)">
          {{courseStructure[structure] + '  ' +  structure}}
      </span>
      <!-- {{childrenData.children}} -->
      <div *ngIf="childrenData && childrenData.children">
        <ion-item *ngFor="let item of childrenData.children; let i = index" style="padding-left: 0px;">
        <span ion-text>{{ (i) + (1) }}: {{ item.contentData.name }}</span>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
<!-- Page footer -->
<ion-footer>
  <ion-toolbar padding>
    <button ion-button block (click)="navigateToBatchListPage('');">ENROLL IN COURSE</button>
  </ion-toolbar>
</ion-footer>