<!-- Generated template for the CourseDetailComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon md="md-share" float-right></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- Page body -->
<ion-content padding>
  <div class="content-details-holder" *ngIf="contentDetail">
    <h4>{{contentDetail.name}}</h4>
    <p>{{contentDetail.description}}</p>

    <div class="about-section">
      <h4 class="padding-10 background-gray">About</h4>
      <p padding>{{contentDetail.description}}</p>
      <div *ngIf="contentDetail.gradeLevel && contentDetail.gradeLevel.length" padding>
        <div>GRADE:</div>
        <span *ngFor="let grade of contentDetail.gradeLevel">
          <span>{{grade}}</span>
        </span>
      </div>
      <div *ngIf="contentDetail.subject" padding>
        <div>SUBJECT:</div>
        <span>{{contentDetail.subject}}</span>
      </div>
    </div>

    <div class="structure-section">
      <h4 class="padding-10 background-gray">Structure</h4>
      <p>Ionic apps are created and developed primarily through the Ionic command line utility (the “CLI”), and use Cordova
        to build/deploy as a native app.</p>
      <ion-item>
        <span ion-text>AA</span>
      </ion-item>
      <ion-item>
        <span ion-text>BB</span>
      </ion-item>
    </div>
  </div>
</ion-content>
<!-- Page footer -->
<ion-footer>
  <ion-toolbar padding>
    <button ion-button block (click)="navigateToBatchListPage('');">ENROLL IN COURSE</button>
  </ion-toolbar>
</ion-footer>