<ion-header>
  <ion-navbar>
    <ion-title>{{'SHARE_THIS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col col-md-6>
      <p *ngIf="groupList.length" text-left ion-text color="title" text-uppercase>
        <b>{{'GROUPS' | translate}}</b> {{ '(' + groupList?.length + ')'}}
      </p>
    </ion-col>
    <ion-col col-md-6 class="padding-right0">
      <button ion-button float-end clear class="padding-right0" (click)="selectAll()">{{'SELECT_ALL' | translate}}</button>
    </ion-col>
  </ion-row>

  <ion-item *ngFor="let group of groupList; let i = index;" class="item-background" margin-bottom no-lines>
    <ion-label (click)="toggleGroupSelected(i)">
      <h6 class="padding-top">
        <b>{{group?.name}}</b>
      </h6>
      <p>
        <span  ion-text color="text_gray" *ngIf="group?.profilesCount > 1">{{group?.profilesCount}} {{'USERS' | translate}}</span>
        <span  ion-text color="text_gray" *ngIf="group?.profilesCount === 1">{{group?.profilesCount}} {{'USER' | translate}}</span>
      </p>
    </ion-label>
    <ion-checkbox item-end mode="ios" checked="{{isGroupSelected(group?.gid)}}" (click)="toggleGroupSelected(i)"></ion-checkbox>
  </ion-item>

  <p *ngIf="userList.length" text-left ion-text color="title" text-uppercase>
    <b>{{'USERS' | translate}}</b> {{ '(' + userList?.length + ')'}}
  </p>
  <ion-item *ngFor="let user of userList; let i = index;" class="item-background" margin-bottom no-lines>
    <ion-label (click)="toggleUserSelected(i)">
      <h6 class="padding-top">
        <b>{{user?.handle}}</b>
      </h6>
      <p>{{user?.profileType}}</p>
    </ion-label>
    <ion-checkbox item-end mode="ios" checked="{{isUserSelected(user?.uid)}}" (click)="toggleUserSelected(i)"></ion-checkbox>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-row padding>
    <ion-col col-md-10 offset-md-1>
      <button ion-button block (click)="share()" [disabled]="!isShareEnabled()" text-uppercase>{{'SHARE' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>