<!-- Generated template for the CourseBatchesComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      BATCHES FOR THIS COURSE
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- Page body -->
<ion-content padding>
  <div>
    <ion-col float-left>
      <b (click)="showFilter = true">{{selectedFilter}}</b>
      <ion-icon name="arrow-down" (click)="showFilter = true" float-end></ion-icon>
      <br>
      <div *ngIf="showFilter" style="margin-top: 9px;">
        <div (click)="showFilter = false; selectedFilter = 'View ongoing batches'" [hidden]="selectedFilter === 'View ongoing batches'">View ongoing batches</div>
        <div (click)="showFilter = false; selectedFilter = 'View upcoming batches'" [hidden]="selectedFilter === 'View upcoming batches'">View upcoming batches</div>
      </div>
    </ion-col>
  </div>

  <div class="batch-list" padding-top>
    <div [hidden]="selectedFilter === 'View upcoming batches'">
    <ion-list *ngIf="ongoingBatches && ongoingBatches.length && !showLoader">
      <ion-item *ngFor="let batch of ongoingBatches">
        <h3>{{batch.name}}</h3>
        <span>{{batch.startDate}} - {{batch.endDate}}</span>
        <p *ngIf="batch.creatorFirstName">Created by {{batch.creatorFirstName + ' ' + batch.creatorLastName}}</p>
        <!-- <p><ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="batch.startDate"></ion-datetime></p> -->
        <button ion-button clear item-end (click)="enrollIntoBatch(batch)">ENROLL</button>
      </ion-item>
    </ion-list>
    </div>
    <div [hidden]="selectedFilter === 'View ongoing batches'">
      <ion-list *ngIf="upcommingBatches && upcommingBatches.length && !showLoader">
        <ion-item *ngFor="let batch of upcommingBatches">
          <h3>{{batch.name}}</h3>
          <span>{{batch.startDate}} - {{batch.endDate}}</span>
          <p *ngIf="batch.creatorFirstName">Created by {{batch.creatorFirstName + ' ' + batch.creatorLastName}}</p>
          <!-- <p><ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="batch.startDate"></ion-datetime></p> -->
          <button ion-button clear item-end (click)="enrollIntoBatch(batch)">ENROLL</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div *ngIf="showLoader">
    <ion-row style="padding-top: 30px;" padding>
      <ion-col text-center>
        <p>Loading batches...</p>
        <ion-spinner padding></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
</ion-content>