<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'PERSONAL_DETAILS' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="additionalInfoForm" class="form" (ngSubmit)="onSubmit($event)">
    <ion-item>
      <ion-label stacked text-capitalize>{{ 'NAME' | translate }} </ion-label>
      <span ion-text color="danger">&nbsp;*</span>
      <ion-input formControlName="firstName" placeholder="{{'NAME_HINT' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'LAST_NAME' | translate }}</ion-label>
      <ion-input formControlName="lastName" placeholder="{{'LAST_NAME_HINT' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked text-capitalize>{{'LANGUAGES' | translate }}</ion-label>
      <ion-select formControlName="languages" multiple="true" interface="popover" placeholder="{{'SELECT' | translate }}">
          <ion-option *ngFor="let lang of languageList" text-capitalize value="{{lang}}">{{lang}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'EMAIL_ID' | translate }}</ion-label>
      <ion-input formControlName="emailId" placeholder="{{'ERROR_EMPTY_EMAIL' | translate }}" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'PHONE' | translate }}</ion-label>
      <ion-input formControlName="phone" placeholder="{{'ERROR_EMPTY_MOBILE' | translate }}" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'DESCRIPTION' | translate }}</ion-label>
      <ion-input formControlName="description" placeholder="optional"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'SUBJECTS' | translate }}</ion-label>
      <ion-select formControlName="subjects" multiple="true" interface="popover" placeholder="{{'SELECT' | translate }}">
          <ion-option *ngFor="let subject of subjectList" text-capitalize value="{{subject}}">{{subject}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'GENDER' | translate }}</ion-label>
      <ion-select formControlName="gender" interface="popover" placeholder="{{'SELECT' | translate }}">
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
        <ion-option value="Transgender">Transgender</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'DATE_OF_BIRTH' | translate }}</ion-label>
      <ion-datetime formControlName="dob" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'GRADE' | translate }}</ion-label>
      <ion-select formControlName="grade" multiple="true" interface="popover" placeholder="{{'SELECT' | translate }}">
          <ion-option *ngFor="let grade of gradeList" text-capitalize value="{{grade}}">{{grade}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'CURRENT_LOCATION' | translate }}</ion-label>
      <ion-input formControlName="currentLoc" placeholder="optional"></ion-input>
    </ion-item>

    <ion-label stacked>SOCIAL MEDIA LINKS</ion-label>
    <ion-item>
      <ion-label stacked>{{'FACEBOOK' | translate }}</ion-label>
      <ion-input formControlName="facebookLink" placeholder="optional" type="url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'TWITTER' | translate }}</ion-label>
      <ion-input formControlName="twitterLink" placeholder="optional" type="url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'LINKEDIN' | translate }}</ion-label>
      <ion-input formControlName="linkedInLink" placeholder="optional" type="url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'BLOG' | translate }}</ion-label>
      <ion-input formControlName="blogLink" placeholder="optional" type="url"></ion-input>
    </ion-item>

    <ion-item>
          <button type="submit" [disabled]="!additionalInfoForm.valid" ion-button block class="text-capitalize">{{ 'SAVE' | translate }}</button>
    </ion-item>
</form>
</ion-content>