page-collection-details {
    .padding-10 {
        padding: 10px;
    }

    .background-gray {
        background: #efeff4;
        margin: 0 -26px;
        padding-left: 25px !important;
    }

    .scroll {
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        overflow: scroll !important;
    }

    .item-divider {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0px;
        z-index: 3 !important;
    }

    ul {
        padding: 0px;
        margin: 0px;

        &.rating li {
            padding: 1px 1px !important;
            background: none;
            color: map-get($colors, primary);

            ion-icon {
                font-size: 16px;
            }
        }
    }

    .read-more {
        color: rgb(17, 85, 204) !important;
    }

    .back-button-md {
        margin-left: -1px !important;
    }

    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }

    .progress-inner-primary {
        background-color: #AED6F1;
    }

    .padding-0 {
        padding: 0px !important;
    }

    button {
        border-radius: 5px !important;
    }

    .text-gray-color {
        color: gray;
        font-family: 'OpenSans/Regular';
    }

    .content-size {
        font-family: 'OpenSans/Regular' !important;
        color: grey;
        font-size: 1.3rem;
    }

    .content-structure {
        font-family: "OpenSans/Regular";
        color: #808080;
        font-size: 1.2rem;
    }

    .loading-backdrop {
        .backdrop-container {
            width: 100%;
            padding: 16px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -50px;
        }

        .backdrop-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 16px;
        }

        background-color: #ffffff;
        height: 100%;
        z-index: 1000;
        opacity: 1 !important;
    }

    .content-with-footer {
        height: 90% !important;
    }
    .scroll-content { 
        margin-bottom: 0px !important;
    }
}

.content-action .list {
    margin-bottom: 0px !important;
}
