page-collection-details {
    
    

    .loading-backdrop {
        .backdrop-container {
            width: 100%;
            padding: 16px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -50px;
        }

        .backdrop-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 16px;
        }

        background-color: #ffffff;
        height: 100%;
        z-index: 1000;
        opacity: 1 !important;
    } 

    .scroll-content { 
        margin-bottom: 0px !important;
    }

    ul {
        padding: 0 !important;
        margin: 0px;
  
        &.rating li {
          padding: 1px 1px !important;
          background: none;
          color: map-get($colors, primary);
  
          ion-icon {
            font-size: 16px;
          }
        }
    }
}