<!-- <ion-header>
	<ion-navbar>
		<ion-title>
		</ion-title>
		<ion-buttons end *ngIf="!isDepthChild">
			<button ion-button icon-only (click)="share()">
				<ion-icon md="md-share" float-right></ion-icon>
			</button>
			<button *ngIf="contentDetail?.isAvailableLocally" ion-button icon-only (click)="showOverflowMenu($event)" style="font-size: 1.8rem;">
				<ion-icon md="md-more" float-end></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header> -->
<!-- Page body -->
<ion-content padding [ngClass]="{'content-with-footer': (showDownloadBtn && !isDepthChild)}">
	<div class="content-details-holder" *ngIf="contentDetail">
    <h6
      class="font-size-20">{{(contentDetail?.contentData.name && contentDetail?.contentData.name?.length > 25) ? (contentDetail?.contentData.name |
      slice:0:25) + '...' : (contentDetail?.contentData.name)
			}}
		</h6>
		<!-- Owner and download info -->
		<ion-grid class="padding-0">
      <div *ngIf="contentDetail?.contentData.creator || contentDetail?.contentData.owner">
				<span class="text-gray-color">{{ 'CONTENT_CREATED_BY' | translate }}</span>
        <span
          class="content-meta-title">{{ contentDetail?.contentData.creator || contentDetail?.contentData.owner }}</span>
			</div>
      <ion-row class="padding-top-10 credits" (click)="viewCredits()"
               *ngIf="contentDetail?.contentData.creators || contentDetail?.contentData.attributions || contentDetail?.contentData.contributors">
				{{ 'CREDITS' | translate }}
			</ion-row>
			<ion-row class="padding-top-10">
				<ion-col class="padding-0">
					<div class="size_txt padding-bottom-5" no-margin>
						<span class="content-size">{{ contentDetail?.contentType }} </span>
						<!--  TODO: show 0 if not available-->
            <span *ngIf="contentDetail?.contentData.size"
                  class="content-size">[{{ contentDetail?.contentData.size | fileSize }}] &lrm;</span>
					</div>
					<ion-row>
						<div class="col-2">
              <rating align-items-start (click)="rateContent();"
                      [(ngModel)]="contentDetail.contentData.me_averageRating" readOnly="true"
                      max="5" no-padding></rating>
						</div>
						<div class="text-gray-color col-1">
              &nbsp;({{ contentDetail?.contentData.me_totalRatings ? contentDetail?.contentData.me_totalRatings : 0 }})
						</div>
					</ion-row>
				</ion-col>
        <ion-col offset-2 *ngIf="contentDetail?.contentData.me_totalDownloads">
          <div
            class="padding-bottom-5 text-align-end content-meta-title">{{ contentDetail?.contentData.me_totalDownloads }}</div>
					<div float-right class="text-gray-color">{{ 'DOWNLOADS' | translate }}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<br />

		<!-- Read more / less -->
    <div class="about-section"
         *ngIf="contentDetail?.contentData.description || contentDetail?.contentData.gradeLevel || contentDetail?.contentData.subject || contentDetail?.contentData.board">
			<h6 class="padding-10 background-gray font-size-20">{{ 'ABOUT' | translate }}</h6>
			<p *ngIf="!showMoreFlag" class="text-gray-color">
        {{ (contentDetail?.contentData.description?.length > 100) ? (contentDetail?.contentData.description | slice:0:10)
				+ '...'
        : (contentDetail?.contentData.description) }} </p>
			<div class="course-details" *ngIf="showMoreFlag">
        <p *ngIf="contentDetail?.contentData.description?.length" class="text-gray-color">
          {{ contentDetail?.contentData.description }}
				</p>
        <div *ngIf="contentDetail?.contentData.gradeLevel?.length" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'CLASS' | translate }}</div>
          <span class="text-gray-color">{{contentDetail?.contentData.gradeLevel}}</span>
				</div>
        <div *ngIf="contentDetail?.contentData.subject" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'SUBJECT' | translate }}</div>
          <span class="text-gray-color">{{contentDetail?.contentData.subject | csa}}</span>
				</div>
        <div *ngIf="contentDetail?.contentData.board" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'BOARD' | translate }}</div>
          <span class="text-gray-color">{{contentDetail?.contentData.board}}</span>
				</div>
				<div *ngIf="contentDetail?.medium" margin-top>
					<div class="content-meta-title">{{ 'MEDIUM' | translate }}</div>
          <span class="text-gray-color">{{contentDetail?.contentData.medium | csa}}</span>
				</div>
			</div>

      <div class="read-more"
           *ngIf="contentDetail?.contentData.description?.length > 100 || contentDetail?.contentData.gradeLevel || contentDetail?.contentData.subject"
           (click)="showMoreFlag = !showMoreFlag">
				<div *ngIf="showMoreFlag" class="padding-top-10">
					<ion-grid no-padding>
						<ion-row>
							<ion-col col-3 class="col-3-no-space" (click)="readLessorReadMore('READ_LESS')">
								<span> {{ 'READ_LESS' | translate }} </span>
							</ion-col>
							<ion-col col-1>
								<ion-icon class="line-height" name="ios-arrow-up"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
				<div *ngIf="!showMoreFlag">
					<ion-grid no-padding>
						<ion-row>
							<ion-col col-3 class="col-3-no-space" (click)="readLessorReadMore('READ_LESS')">
								<span> {{ 'READ_MORE' | translate }} </span>
							</ion-col>
							<ion-col col-1>
								<ion-icon class="line-height" name="ios-arrow-down"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>
		<br />
		<!-- Course structure section -->
		<div class="structure-section" margin-top>
			<h6 class="padding-10 background-gray font-size-20">{{ 'STRUCTURE' | translate }}</h6>
      <div padding-top *ngIf="contentDetail?.contentData.contentTypesCount" class="content-structure">
				<span *ngFor="let structure of objectKeys(contentDetail?.contentData.contentTypesCount);let last = last;">
					{{contentDetail.contentData.contentTypesCount[structure] + ' ' + structure}} {{last ? '' : ' |' }}
				</span>
			</div>
			<div *ngIf="fromCoursesPage && !isAlreadyEnrolled">
				<ion-list *ngIf="childrenData?.length" padding-top>
					<ion-item *ngFor="let item of childrenData; let i = index;" class="child-item" >
						<span ion-text class="span-semibold">{{ (item?.contentData?.name && item?.contentData?.name.length > 30) ?
							(item?.contentData?.name | slice:0:30) + '...'
							: (item?.contentData?.name)}}</span>
					</ion-item>
				</ion-list>
			</div>
			<div *ngIf="fromCoursesPage && isAlreadyEnrolled && isChildClickable">
				<ion-list *ngIf="childrenData && childrenData?.length" padding-top>
					<ion-item *ngFor="let item of childrenData; let i = index;" class="child-item"  (click)="navigateToDetailsPage(item, depth + '.' + (i + 1))">
						<span ion-text class="span-semibold">{{ (item?.contentData?.name && item?.contentData?.name.length > 30) ?
							(item?.contentData?.name | slice:0:30) + '...'
							: (item?.contentData?.name)}}</span>
						<ion-icon name="ios-arrow-forward" float-end></ion-icon>
					</ion-item>
				</ion-list>
			</div>
			<div *ngIf="!fromCoursesPage && !isAlreadyEnrolled">
				<ion-list *ngIf="childrenData && childrenData?.length" padding-top>
					<ion-item *ngFor="let item of childrenData; let i = index;" class="child-item"  (click)="navigateToDetailsPage(item, depth + '.' + (i + 1))">
						<span ion-text class="span-semibold">{{ (item?.contentData?.name && item?.contentData?.name.length > 30) ?
							(item?.contentData?.name | slice:0:30) + '...'
							: (item?.contentData?.name)}}</span>
						<ion-icon name="ios-arrow-forward" float-end></ion-icon>
					</ion-item>
				</ion-list>
			</div>
			<div *ngIf="fromCoursesPage && isAlreadyEnrolled && !isChildClickable ">
				<ion-list *ngIf="childrenData && childrenData?.length" padding-top>
					<ion-item *ngFor="let item of childrenData; let i = index;" class="child-item">
						<span ion-text class="span-semibold">{{ (item?.contentData?.name && item?.contentData?.name.length > 30) ?
							(item?.contentData?.name | slice:0:30) + '...'
							: (item?.contentData?.name)}}</span>
					</ion-item>
				</ion-list>
			</div>

			<!-- Import content loader -->
			<div *ngIf="showChildrenLoader">
				<ion-row style="padding-top: 30px;" padding>
					<ion-col text-center>
						<p *ngIf="downloadProgress !== 100">{{ 'FETCHING_CONTENTS' | translate: {'%s': downloadProgress ?
							downloadProgress : '0'} }}</p>
						<p *ngIf="downloadProgress === 100">{{ 'LOADING_CONTENT' | translate }}</p>
						<ion-spinner padding></ion-spinner>
					</ion-col>
				</ion-row>
			</div>
			<div text-center *ngIf="childrenData?.length === 0 && !showChildrenLoader">
				<img src="assets/imgs/ic_coming_soon.png" width="110px" height="80px" />
				<h4><b>{{ 'UNIT_COMING_SOON' | translate }}</b></h4>
				<p>{{ 'CONTENT_CREATING' | translate }}</p>
			</div>
			<!-- End import content -->
		</div>
		<br />
    <div class="license-section padding-10 background-gray" *ngIf="contentDetail?.contentData.license">
			<div class="row" *ngIf="showLicense">
				<span *ngIf="contentDetail?.contentData.license">
					<div class="size_txt content-meta-title">{{ 'LICENSE' | translate }}</div>
					<div class="margin-top-5 text-gray-color">{{ contentDetail?.contentData.license }}</div>
				</span>
			</div>
			<span class="read-more text-gray-color">
				<span *ngIf="showLicense" (click)="showLicense = false">
					<br /> {{ 'HIDE_CREDITS_INFO' | translate }}
					<ion-icon name="ios-arrow-up"></ion-icon>
				</span>
				<span *ngIf="!showLicense" (click)="showLicense = true">
					{{ 'VIEW_CREDITS_INFO' | translate }}
					<ion-icon name="ios-arrow-down"></ion-icon>
				</span>
			</span>
		</div>
		<div padding-top></div>
	</div>
</ion-content>
<!-- Page footer -->
<ion-footer *ngIf="showDownloadBtn && !isDepthChild">
	<ion-toolbar padding>
		<button ion-button block *ngIf="showDownloadBtn && !isDownloadStarted" (click)="showDownloadConfirmationAlert()"> {{
			'DOWNLOAD_ALL_CONTENT' | translate }} ({{(downloadSize | fileSize)
			}})
		</button>
    <button *ngIf="isDownloadStarted" ion-button block outline
            [ngStyle]="{'background': '-webkit-linear-gradient(left, #DBECFF '  +(currentCount/queuedIdentifiers.length)*100+ '%, white 0%)'}">
      {{ 'DOWNLOADING_2' | translate }}... {{ currentCount }} / {{ queuedIdentifiers?.length }}
    </button>
	</ion-toolbar>
</ion-footer>

<ion-backdrop class="loading-backdrop" *ngIf="showLoading && !isDownloadStarted" text-center>
	<div class="backdrop-container">
    <ion-label>{{ 'LOADING_CONTENTS' | translate: {'%s': downloadProgress ? downloadProgress : 0} }}</ion-label>
		<pb-horizontal [progress]="downloadProgress" isOnBoardCard="false"></pb-horizontal>
	</div>

	<div class="backdrop-footer">
		<button ion-button small (click)="cancelDownload()">{{ 'CANCEL' | translate }}</button>
	</div>
</ion-backdrop>
