app-rating-alert {

  ul.rating .ion-md-star-outline:before{
    content: "\F4B2" !important;
    color: $info-color !important;
    font-weight: $font-weight-bold
  }

        /* Sb-Rating Component Styling */
  ul {
    @include padding($base-block-space);
    &.rating li {
      @include padding($base-block-space * 1.5 !important);
      background: none;
      color: $info-color;
      ion-icon {
        font-size: ($font-size-base * 2);
      }
    }
  }

  .sb-modal-close{
    font-size: 24px !important;
  }

  .content-rating-alert ion-backdrop {
      background-color: map-get($colors, dark) !important;
      opacity: 0.4 !important;
  }

  .app-rate-heading{
    margin: $base-block-space 0;
    color: $info-color;
  }

  .app-rate-message{
    margin-bottom: $base-block-space;
    color: $gray-800;
  }
  
  .app-rate-appname{
    line-height: 1.3;
    color: $info-color;
    opacity: 0.9;
  }

  .app-rate-btn{
    background-color: $info-color;
    height: ($base-block-space*5)-2;
    border-radius: 2px !important
  }

  .app-rate-btn-outline{
    border-color: $info-color;
    color: $info-color;
    height: ($base-block-space*5)-2;
    border-radius: 2px !important
  }

  .app-rate-ptb-16 {
    padding: 16px 0;
  }
  
  .app-rate-btn-ellipsis span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 3;
  }

  .button-md{
    text-transform: none !important;
  }

  .sb-popover-items{
      padding-bottom: 0 !important;
  }

  .sb-popover-footer{
      margin: 0 !important
  }

  .app-rating-img{
    margin-top: $base-block-space * 2;
    padding-left: $base-block-space * 1;
    height: $base-block-space * 7;
  }

  .btn-pr-8{
    padding-right: $base-block-space * 1 !important;
  }

  .btn-pl-8{
    padding-left: $base-block-space * 1 !important;
  }
  
}