<ion-content style="margin: 5%; border-radius: 5px; width: 90%;" no-padding class="sb-popover-container ">
  <div class="sb-popover-items">
    <ion-icon end name="close" float-right class="sb-modal-close" (click)="closePopover()"></ion-icon>

    <img class="img-container app-rating-img" src="{{appLogo$ | async}}">
    <div class="app-rate-appname" *ngIf="appName?.length" ><b>{{appName}}</b></div>
    <div class="app-rate-heading"><b>{{currentViewText.heading | translate}}</b></div>
    <div class="app-rate-message" [ngClass]="{'app-rate-ptb-16':currentViewText.type !== 'appRate'}" >{{currentViewText.message | translate}}</div>

    <div *ngIf="currentViewText.type === 'appRate'">
      <rating #rating></rating>
      <ion-row padding-bottom>
        <ion-col col-6 class="btn-pr-8"><button ion-button outline block class="app-rate-btn-outline" (click)="rateLater()">{{'BTN_LATER' | translate}}</button></ion-col>
        <ion-col col-6 class="btn-pl-8"><button ion-button [disabled]="!rating.value" block class="app-rate-btn" (click)="submitRating(rating.value)">{{'BTN_SUBMIT' | translate}}</button></ion-col>
      </ion-row>
    </div>

    <div *ngIf="currentViewText.type === 'storeRate'">
      <ion-row padding-bottom>
        <ion-col col-5 class="btn-pr-8"><button ion-button outline block class="app-rate-btn-outline" (click)="rateLater()">{{'BTN_LATER' | translate}}</button></ion-col>
        <ion-col col-7 class="btn-pl-8"><button ion-button block class="app-rate-btn app-rate-btn-ellipsis" (click)="rateOnStore()">{{'BTN_RATE_ON_PLAYSTORE' | translate}}</button></ion-col>
      </ion-row>
    </div>

    <div padding-bottom *ngIf="currentViewText.type === 'helpDesk'">
      <button margin-bottom ion-button class="app-rate-btn" (click)="goToHelpSection()">{{'BTN_VISIT_HELP_SECTION' | translate}}</button>
    </div>
  </div>
</ion-content>
