app-rating-alert {

        /* Sb-Rating Component Styling */
  ul {
    @include padding($base-block-space);
    &.rating li {
      @include padding($base-block-space * 1 !important);
      background: none;
      color: $info-color;
      ion-icon {
        font-size: (($font-size-base * 3) - 2);
      }
    }
  }

  .content-rating-alert ion-backdrop {
      background-color: map-get($colors, dark) !important;
      opacity: 0.4 !important;
  }

  .app-rate-heading{
    color: $info-color;
  }
  
  .app-rate-appname{
    color: $info-color;
    opacity: 0.8;
  }

  .app-rate-btn{
    background-color: $info-color;
  }

  .app-rate-btn-outline{
    border-color: $info-color;
    color: $info-color;
  }

  .sb-popover-items{
      padding-bottom: 0 !important;
  }

  .sb-popover-footer{
      margin: 0 !important
  }

  .app-rating-img{
    margin-top: $base-block-space * 2;
    padding-left: $base-block-space * 1;
    height: $base-block-space * 7;
  }

  .btn-pr-8{
    padding-right: $base-block-space * 1 !important;
  }

  .btn-pl-8{
    padding-left: $base-block-space * 1 !important;
  }
  
}