
<div class="sb-card full"  [ngClass]="{'offline': !course.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable}"
(click)="navigateToDetailPage(course)">
    <div class="img-container">
      <img *ngIf="!(!course.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable)" src="{{ course?.contentData?.courseLogoUrl || course?.contentData?.appIcon || defaultImg }}"/>
      <img *ngIf="!course.isAvailableLocally && !commonUtilService.networkInfo.isNetworkAvailable" src="assets/imgs/ic_offline_white_sm.png"/>
    </div>
    <div class="sb-card-details">
      <div class="title">{{course?.contentData?.name}}</div>
      <div class="grade_ellipsis"><span class="info class">{{course?.contentData?.subject | csa}}</span><span  *ngIf="course?.contentData?.gradeLevel && course?.contentData?.subject" class="separator-dot"></span><span class="info subject">{{course?.contentData?.gradeLevel}}</span></div>
    </div>
</div>
  <!-- <div class="sb-card offline full">
      <div class="img-container">
          <ion-icon ios="ios-notifications-off" md="md-notifications-off" class="white offline-icon"></ion-icon>
      </div>
      <div class="sb-card-details">
        <div class="title">{{course?.name}}</div>
        <div><span class="info class">{{course?.name}}</span><span class="separator-dot"></span><span class="info subject">{{course?.subject}}</span></div>
      </div>
   </div> -->