page-enrollment-details {
    .subtitle {
        text-transform: capitalize;
       
        @extend .font-weight-700;
        &.buttontext{
            color: map-get($colors, primary);
        }
        &.mytitle{
            color: map-get($colors, primary_black);
            background-color:map-get($colors, light_gray) !important;
            font-size: 1.2em;
        }
        &.head{
            font-size: 1.2em;
            color: map-get($colors, primary_black);
            background-color:map-get($colors, light_gray) !important;
        }
        &.title{
            color: map-get($colors, primary_black);
            font-size: 1em;
        }

        
    }
    .item-divider .header{
        
    }

    .enroll-msg-ended {
        color: #e55a28;
        font-size: 0.9em;
    }
}
