<ion-header class=" subtitle head">

  <ion-navbar>
    <ion-title>{{ 'VIEW_ALL_BATCHES' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item-group>
      <ion-item-divider class="subtitle mytitle">{{ 'VIEW_RETIRED_BATCHES' | translate }}</ion-item-divider>
      <ion-item *ngFor="let batches of retiredBatched; let i=index">
        <div item-start>
          <h5 class="subtitle title">{{ batches.batch.name }}</h5>
          <p>{{batches.batch.startDate | date: 'mediumDate' }} - {{ batches.batch.endDate | date: 'mediumDate' }}</p>
          <p *ngIf="batch?.creatorFirstName">{{ 'BATCH_CREATED_BY' | translate }} {{ batches.creatorFirstName }}</p>
        </div>
        <button ion-button clear item-end class="subtitle buttontext" (click)="resumeCourse(batches)">{{ 'RESUME' | translate }}</button>
      </ion-item>

      <ion-item-divider class="subtitle mytitle">{{ 'VIEW_ONGOING_BATCHES' | translate }}</ion-item-divider>
      <ion-item *ngFor="let batch of upcommingBatches; let i=index">
        <div item-start>
          <h5 class="subtitle title">{{ batch.name }}</h5>
          <p>{{batch.startDate | date: 'mediumDate' }} - {{ batch.endDate | date: 'mediumDate' }}</p>
          <p *ngIf="batch?.creatorFirstName">
            <span>{{ 'BATCH_CREATED_BY' | translate }}</span>&nbsp;
            <span *ngIf="batch?.creatorFirstName" class="text-gray-color">{{ batch.creatorFirstName }}</span>&nbsp;
            <span class="text-gray-color"
              *ngIf="batch?.creatorLastName">{{batch.creatorLastName}}</span>
          </p>
          <p *ngIf="batch?.enrollmentEndDate">
              <span *ngIf="(todayDate > batch?.enrollmentEndDate); else lastDateForEnrollment" class="enroll-msg-ended">{{ 'BATCH_ENROLLMENT_ENDED' | translate}}</span>
              <ng-template #lastDateForEnrollment>
                <span class="enroll-msg-style">{{'ENROLLMENT_LAST_DATE' | translate}} {{batch.enrollmentEndDate | date: 'mediumDate'}}</span>
              </ng-template>
          </p>
        </div>
        <button class="enroll-btn" ion-button clear item-end (click)="enrollIntoBatch(batch)" [disabled]="(batch?.enrollmentEndDate && (todayDate > batch?.enrollmentEndDate))"
          [ngClass]="{'enroll-style' : (batch?.enrollmentEndDate && (todayDate > batch?.enrollmentEndDate))}">
          {{ 'ENROLL' | translate }}
        </button>
      </ion-item>
      <!-- <ion-item>
        <div item-start>
          <h2 class="subtitle title">Batch 3</h2>
          <p>November5, 2018-Jan 10, 2019</p>
          <p>Created By Ankit Jain</p>
        </div>
        <button ion-button clear item-end class="subtitle buttontext">Resume</button>
      </ion-item> -->
    </ion-item-group>
  </ion-list>
</ion-content>