<!-- Generated template for the BookmarkComponent component -->
<div>
    <ion-grid class="padding-0">
        <ion-row >
          <ion-col col-8 class="padding-0" style="border-right: 1px solid #fff;">
              You can now bookmark a resource in the app and find it on your 'Resources' tab
          </ion-col>
          <ion-col col-4 class="padding-0" style="margin: auto;
          text-align: center;" (click)="updateBookmarkPreference()">
              Okay
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
