<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'BATCHES_FOR_THIS_COURSE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- Page body -->
<ion-content padding overflow-scroll="true">

  <div class="my-overlay" padding *ngIf="isGuestUser">
    <!--<div class="guest-user-info" text-center>
          <p> {{ 'OVERLAY_LABEL_TAKE_COURSE' | translate }} </p>
          <br/>
          <span>{{ 'OVERLAY_INFO_TEXT_TAKE_COURSE' | translate }} </span>
          <br/>
          <br/>
          <button ion-button block (click)="signIn()">{{ 'OVERLAY_SIGN_IN' | translate }}</button>
        </div>-->
    <div class="guest-user-info" text-center>
      <sign-in-card (valueChange)="buttonClick($event)" [source]="'course-batches'" [title]="'OVERLAY_LABEL_TAKE_COURSE'" [description]="'OVERLAY_INFO_TEXT_TAKE_COURSE'"></sign-in-card>
    </div>
  </div>

  <div *ngIf="ongoingBatches && ongoingBatches.length">
    <div class="background-gray">
      <div class="width-100 batch-font" text-capitalize>
        {{ 'VIEW_ONGOING_BATCHES' | translate }}
      </div>
    </div>

    <div class="batch-list" padding-top *ngIf="!isGuestUser">
      <div>
        <ion-list *ngIf="ongoingBatches && ongoingBatches.length && !showLoader">
          <ion-item no-lines *ngFor="let batch of ongoingBatches">
            <div class="batch-name">{{ batch.name }}</div>
            <span class="text-gray-color">
              {{batch.startDate | date: 'mediumDate' }} - {{ batch.endDate | date: 'mediumDate' }}
            </span>
            <p *ngIf="batch.creatorFirstName">
              <span>{{ 'BATCH_CREATED_BY' | translate }}</span>&nbsp;
              <span class="text-gray-color">{{ batch.creatorFirstName }}</span>&nbsp;<span class="text-gray-color" *ngIf="batch.creatorLastName">{{batch.creatorLastName}}</span>
            </p>
            <button class="enroll-btn" ion-button clear item-end (click)="enrollIntoBatch(batch)">
              {{ 'ENROLL' | translate }}
            </button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <div *ngIf="upcommingBatches && upcommingBatches.length">
  <div class="background-gray">
    <div class="width-100 batch-font" text-capitalize>
      {{ 'VIEW_UPCOMING_BATCHES' | translate }}
    </div>
  </div>

  <div class="batch-list" padding-top *ngIf="!isGuestUser">
    <div>
      <ion-list *ngIf="upcommingBatches && upcommingBatches.length && !showLoader">
        <ion-item no-lines *ngFor="let batch of upcommingBatches">
          <div class="batch-name">{{ batch.name }}</div>
          <span>{{ batch.startDate | date: 'mediumDate' }} - {{ batch.endDate | date: 'mediumDate' }}</span>
          <p *ngIf="batch.creatorFirstName">
            <span> {{ 'BATCH_CREATED_BY' | translate }} </span>&nbsp;
            <span class="text-gray-color">{{ batch.creatorFirstName }}</span>&nbsp;<span class="text-gray-color" *ngIf="batch.creatorLastName">{{batch.creatorLastName}}</span>
          </p>
          <button class="enroll-btn" ion-button clear item-end (click)="enrollIntoBatch(batch)">
            {{ 'ENROLL' | translate }}
          </button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  </div>

  <div *ngIf="showLoader">
    <ion-row class="padding-top-30" padding>
      <ion-col text-center>
        <p>{{ 'MSG_LOADING_BATCHES' | translate }}</p>
        <ion-spinner padding></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
</ion-content>