page-course-batches {
    .my-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        //background: rgba(0,0,0,0.7);
        background: rgba(255, 255, 255, 0.8);
        z-index: 20;
        top: 0;
        @include ltr() {
        left: 0;
        };
    
        @include rtl() {
        right: 0;
        };
        margin-top: 56px;
      }
    .batch-filter-icon {
        float: right;
        @include padding(null, 25px, null, null);
    }
    .batch-filter-holder{
        margin-top: -10px;
    }
    .background-gray{
        background: #efeff4;
        @include margin(0, -26px);
        @include padding(null, null, null, 25px !important);
        margin-top: -13px;
    }
    .batch-empty-msg-wrapper {
        padding-top: 100px;
        .msg-holder {
            padding-top: 30px;
            .empty-batch-icon{
                width: 50px; 
                @include margin(null, null, null, 118px);
            }
            .text-holder{
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
    .guest-user-info {
        padding-top: 135px;
    }
    .batch-name {
        margin-top: 0px; 
        font-size: 1.6rem;
        font-weight: 500;
    }
    .selected-filter {
        width: 88%;
        padding-top: 8px; 
        font-weight:600;
    }
    .padding-top-30 {
        padding-top: 30px;
    }
    .batch-list {
        @include margin(null, null, null, -10px);
        .enroll-btn{
            @include padding(null, 0, null, null !important);
        }
    }
    .padding-top-8 {
        padding-top: 8px;
    }
    .padding-top-9 {
        padding-top: 9px;
    }
    .font-weight-500{
        font-weight: 500;
    }
    .back-button-md {
        @include margin(null, null, null, -1px !important);
    }
    .text-gray-color {
        color: gray;
        font-family: 'OpenSans/Regular';
    }
}
