# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
reports/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
/www/
$RECYCLE.BIN/
/plugins

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

/buildConfig/build.json
/buildConfig/gk.jks
/buildConfig/secret.gradle
/buildConfig/sunbird.properties
/buildConfig/secret.tar
/src/assets/data/

google-services.json
