page-tabs {
}


.sb-toast.available-later {
    .toast-wrapper {
        background: transparent;
        top: unset !important;
        bottom: 104px;
        max-width: 80%;
        width: auto;
        display: flex;

        .toast-message {
            @include padding(8px, 16px);
            font-size: 12px;
        }

        .toast-container {
            background: $warning-color;
            padding: 0;
            color: $white-color;
            border-radius: 4px;
            box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.16), 0 2px 1px 0 rgba(0,0,0,0.24);
            // left: unset;
            // right: unset;
            // margin-left: 50%;
            // transform: translateX(-50%);
            display: inline-block;
            margin: 0 auto;
        }
    }

}
