<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-geniecanvas"
    version="1.0.0">
    <name>Cordova Plugin for Splash Screen</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    
    <dependency id="cordova-plugin-genie-sdk" url="https://github.com/project-sunbird/cordova-plugin-genie-sdk.git"/>

    <hook src="scripts/android_after_add.js" type="after_prepare" />

    <framework src="build-extras.gradle" custom="true" type="gradleReference"/>

    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="geniecanvas" />
    </js-module>
    
    <!-- android -->
    <platform name="android">

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="geniecanvas">
          <param name="android-package" value="org.sunbird.GenieCanvas" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

       <config-file target="AndroidManifest.xml" parent="application">
        <provider
            android:name="org.sunbird.UserProvider"
            android:authorities="${applicationId}.profiles"
            android:exported="true" />
        </config-file>
         <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="org.sunbird.TelemetryProvider"
                android:authorities="${applicationId}.telemetry"
                android:exported="true" />
        </config-file>
         <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="org.sunbird.PartnerProvider"
                android:authorities="${applicationId}.partner"
                android:exported="true" />
        </config-file>
         <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="org.sunbird.ContentProvider"
                android:authorities="${applicationId}.content"
                android:exported="true" />
        </config-file>
         <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="org.sunbird.SummarizerProvider"
                android:authorities="${applicationId}.summarizer"
                android:exported="true" />
        </config-file>
     
      <source-file src="src/android/org/apache/cordova/Util.java" target-dir="src/org/apache/cordova/" />
      <source-file src="src/android/org/sunbird/GenieCanvas.java" target-dir="src/org/sunbird/" />
      <source-file src="src/android/org/sunbird/PlayerConfig.java" target-dir="src/org/sunbird/" />
      <source-file src="src/android/org/sunbird/ContentProvider.java" target-dir="src/org/sunbird/" />
      <source-file src="src/android/org/sunbird/PartnerProvider.java" target-dir="src/org/sunbird/" />
      <source-file src="src/android/org/sunbird/TelemetryProvider.java" target-dir="src/org/sunbird/" />
      <source-file src="src/android/org/sunbird/UserProvider.java" target-dir="src/org/sunbird/" />
      <source-file src="src/android/org/sunbird/SummarizerProvider.java" target-dir="src/org/sunbird/" />

    </platform>

    <!-- ios -->
    <!-- <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="GenieSDK" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MyCordovaPlugin">
                <param name="ios-package" value="MyCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MyCordovaPlugin.h" />
        <source-file src="src/ios/MyCordovaPlugin.m" />
    </platform> -->
</plugin>
