<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isEditGroup">{{'CREATE_GROUP' | translate}}</ion-title>
      <ion-title *ngIf="isEditGroup">{{'EDIT_GROUP' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-top padding-right>
  <form [formGroup]="groupEditForm">
    <ion-item>
      <ion-label class="label-font" text-uppercase stacked>
        {{ 'GROUP_NAME' | translate }}
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="name" text-capitalize placeholder="{{'GROUP_NAME' | translate}}"></ion-input>
    </ion-item>
    <!-- Syllabus -->
    <ion-item>
      <ion-label stacked text-uppercase class="label-font">{{'SYLLABUS' | translate }}
      </ion-label>
      <ion-select text-capitalize formControlName="syllabus" placeholder="{{'SELECT' | translate }}" (ionChange)="getClassList(eachSyllabus?.code)"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" [selectOptions]="syllabusOptions">
        <ion-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus?.code}}">{{eachSyllabus?.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked text-uppercase class="label-font">{{'CLASS' | translate}}</ion-label>
      <ion-select formControlName="class" [selectOptions]="classOptions" [disabled]="!(groupEditForm.value.syllabus != '')"
        placeholder="{{'CLASS'|translate | titlecase}}" okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}">
        <ion-option [value]="class?.code" *ngFor="let class of classList" text-capitalize>{{ class?.name }}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <div class="border">
    <ion-row padding>
      <ion-col col-md-10 offset-md-1>
        <button ion-button block [disabled]="!groupEditForm.valid" *ngIf="!isEditGroup" (click)="navigateToUsersList()">{{'NEXT' | translate}}</button>
        <button ion-button block [disabled]="!groupEditForm.valid" *ngIf="isEditGroup" (click)="updateGroup()">{{'SAVE' | translate}}</button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>