<ion-content>
    <h4 class="sort-heading">{{'SORT_BY' | translate}}</h4>
    <form novalidate [formGroup]="sortForm" class="form-position">
        <ion-item>
            <ion-label stacked class="label-font text-uppercase">{{'BOARD' | translate }}</ion-label>
            <ion-select multiple="true" #boardSelect text-capitalize formControlName="board" [selectOptions]="boardOptions"
                okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" placeholder="{{'BOARD_OPTION_TEXT' | translate}}">
                <ion-option *ngFor="let board of boardList" value="{{board?.name}}">{{board?.name}}&lrm;</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked class="label-font text-uppercase">{{'MEDIUM' | translate }}</ion-label>
            <ion-select formControlName="medium" #mediumSelect multiple="true" text-capitalize [selectOptions]="mediumOptions"
                okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" placeholder="{{'MEDIUM_OPTION_TEXT' | translate}}">
                <ion-option *ngFor="let medium of mediumList" text-capitalize value="{{medium?.name}}">{{medium?.name}}</ion-option>
            </ion-select>
        </ion-item>
    </form>
</ion-content>
<ion-footer class="bottom-button">
    <button ion-button block class="sort-by" (click)="dismiss()"> {{'SAVE' | translate}}</button>
</ion-footer>