
<ion-content no-padding>
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-grade-pills-container" id="gradeScroll">
        <div class="pill" *ngFor="let grade of categoryGradeLevels; let i = index; let first = first"
             [ngClass]="{'active': grade?.selected, '': !grade?.selected}" attr.id="class{{i}}" (click)="classClick(i,'sendClassClickedTelemetry');">
          {{grade?.name}}</div>
      </div>
    </div>
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-medium-pills-container">
        <div class="pill" *ngFor="let item of subjects; let i = index;"
             [ngClass]="{'active': item?.selected}" [@appear] (click)="mediumClick(item?.name,'sendMediumClickedTelemetry')">{{item?.name}}
        </div>
      </div>
    </div>
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-grade-pills-container">
        <div class="pill" *ngFor="let type of mimeTypes; let i = index; let first = first"
             [ngClass]="{'active': type?.selected, '': !type?.selected}" attr.id="class{{i}}"
             (click)="onFilterMimeTypeChange(type.value, i, type.name);">
            <span class="img-align" *ngIf="type?.iconNormal && type?.selected">
              <img class="filter-icon" src="{{type?.iconActive}}" alt="">
            </span>
          <span class="img-align" *ngIf="type?.iconNormal && !type?.selected">
              <img class="filter-icon" src="{{type?.iconNormal}}" alt="">
            </span>
          <span class="allign-middle">{{type?.name | translate}}</span>

        </div>
      </div>
    </div>

  <div class="search-bar">
    <label>
      <input type="search" placeholder="{{'SEARCH_BOOK' | translate}}" [(ngModel)]="searchKeywords" (keyup.enter)="handleSearch()"/>
    </label>
      <ion-icon name="search"></ion-icon>
  </div>

<div *ngFor="let items of storyAndWorksheets">
  <div class="sb-textbook-container" *ngIf="items?.contents && items?.contents?.length">
        <div class="sb-card-container sb-card-textbook-container">
        <textbook-card *ngFor="let item of items?.contents; let i = index" [content]="item"
                       [layoutName]='search' (click)="navigateToDetailPage(item, i, item.name)"></textbook-card>
      </div>
  </div>
</div>
</ion-content>

<ion-footer class="bottom-button">
  <button ion-button block class="sort-by"> {{'SORT_BY' | translate}}</button>
</ion-footer>
