
<ion-content no-padding>
  <form [formGroup]="searchForm">
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-grade-pills-container" id="gradeScroll">
        <div class="pill"
             *ngFor="let grade of categoryGradeLevels; let i = index; let first = first"
             [class.active]="searchForm.get('grade').value[0] === grade.name"
             attr.id="gradeLevel{{i}}"
             (click)="searchForm.get('grade').patchValue([grade.name]); classClick(i)">
          {{grade?.name}}</div>
      </div>
    </div>
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-medium-pills-container">
        <div class="pill"
             *ngFor="let subject of subjects; let i = index;"
             [class.active]="searchForm.get('subject').value[0] ? searchForm.get('subject').value[0] === subject.name : subject.name === 'All'"
             [@appear]
             (click)="searchForm.get('subject').patchValue([subject.name])">
          {{subject?.name}}
        </div>
      </div>
    </div>
    <div class="sb-slider-pills-container">
      <div class="sb-pills-container sb-grade-pills-container">
        <div class="pill" *ngFor="let mimeType of mimeTypes; let i = index; let first = first"
             [class.active]="mimeType?.selected"
             (click)="searchForm.get('mimeType').patchValue(mimeType.value); onMimeTypeClicked(mimeType, i)">
            <span class="img-align" *ngIf="mimeType?.iconNormal && mimeType?.selected">
              <img class="filter-icon" src="{{mimeType?.iconActive}}" alt="">
            </span>
          <span class="img-align" *ngIf="mimeType?.iconNormal && !mimeType?.selected">
              <img class="filter-icon" src="{{mimeType?.iconNormal}}" alt="">
            </span>
          <span class="allign-middle">{{mimeType?.name | translate}}</span>

        </div>
      </div>
    </div>

    <div class="search-bar">
      <label>
        <input type="search"
               #searchInput
               placeholder="{{'SEARCH_BOOK' | translate}}"
               [formControl]="searchForm.get('query')"/>
      </label>
      <ion-icon name="search"></ion-icon>
    </div>
  </form>
  <div class="spinner-container" *ngIf="showLoader">
    <ion-spinner padding class="loader"></ion-spinner>
  </div>
  <ng-container *ngFor="let content of contentSearchResult let i = index">
<!--    <div *ngIf="content | hasMimeType: activeMimeTypeFilter">-->
      <div class="sb-card-container sb-card-textbook-container">
        <textbook-card [content]="content" [layoutName]='layoutName'
                       (click)="openContent(content, i)"></textbook-card>
      </div>
<!--    </div>-->
  </ng-container>
</ion-content>

<ion-footer class="bottom-button">
  <button ion-button block class="sort-by" (click)="openSortOptionsModal()"> {{'SORT_BY' | translate}}</button>
</ion-footer>
