<ion-header>
  <ion-navbar>
    <ion-title>
      {{'ADD_USERS_TO_GROUP' | translate:{'%s': ""} }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goTOGuestEdit()">
        <ion-icon name="add" float-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="userList?.length">
    <ion-row>
      <ion-col class="rm-padding-left" col-md-4>
        <p *ngIf="userList.length" text-left ion-text color="title" text-uppercase>
          <b>{{userList?.length}}&nbsp;{{'USERS' | translate}}</b>
        </p>
      </ion-col>
      <ion-col col-md-4 push-md-4 class="rm-padding-right">
        <button class="rm-padding-right" ion-button float-end clear (click)="selectAll()">{{'SELECT_ALL' | translate}}</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!userList?.length && !loading">
    <div text-center>
      <img class="rounded image-style" src="assets/imgs/ic_businessman.png" />
      <h6>
        <b>{{'NO_USERS_ON_THIS_DEVICE' | translate}}</b>
      </h6>
      <p ion-text [color]="grey">{{'NO_USERS_SUGGESTION_MESSAGE' | translate}}</p>
      <h6 ion-text color="primary">{{'CREATE_USER' | translate}}</h6>
    </div>
  </div>
  <div *ngIf="userList?.length">
    <ion-item *ngFor="let user of userList; let i = index;" class="item-background" margin-bottom no-lines>
      <ion-label (click)="toggleSelect(i)">
        <h6 class="line-height-2">
          <b>{{user?.handle}}</b>
        </h6>
        <p>
          <span *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</span>
          <span *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</span>
          <span *ngIf="user?.grade?.length">•</span> {{ getGradeNameFromCode(user) }}</p>
      </ion-label>
      <ion-checkbox item-end mode="ios" checked="{{isUserSelected(i)}}" (click)="toggleSelect(i)"></ion-checkbox>
    </ion-item>
  </div>

</ion-content>
<ion-footer>
  <ion-row padding>
    <ion-col col-md-10 offset-md-1>
      <button ion-button block (click)="createGroup()" [disabled]="!userList?.length">{{'CREATE_GROUP' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>
