view-all-card {
    .sb-card{
        .img-container{
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .grade_ellipsis{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
}
