<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h3> {{ 'CHOOSE_FROM_FOLLOWING' | translate }}</h3>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="facets?.values && facets?.values.length">
      <ion-col col-6 *ngFor="let facetValue of facets.values">
        <ion-item no-lines padding-no>
          <ion-label margin-no text-capitalize>{{ facetValue.name }}</ion-label>
          <ion-checkbox [(ngModel)]="facetValue.apply"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <button ion-button block (click)="confirm()">{{ 'CONFIRM' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
