page-filter {
  .subtitle {
    text-transform: capitalize;
    font-size: 1.3em;
    @extend .font-weight-700;
    color: map-get($colors, primary_black);
  }
  .filter-item {
    width: auto;
    margin: 16px !important;
    background-color: map-get($colors, white_f0);
    color: map-get($colors, dark_gray);
    font-size: 1em;
    @extend .font-weight-600;
    height: 2em;
    ion-icon {
      color: map-get($colors, dark_gray);
    }
  }
  .scroll-list {
    overflow-y: scroll;
    max-height: 50vh !important;
    padding-bottom: 10vh !important;
  }
  ion-content {
    padding: 1px;
  }
  .item-inner>ion-icon {
    min-height: 2rem !important;
    font-size: 2rem !important;
  }
  .item-inner {
    @include padding(null, 0, null, null !important);
  }
}

.resource-filter .popover-content {
  margin: 0;
  width: 100% !important;
  max-height: 70% !important;
  box-shadow: unset;
  position: fixed;
  @include ltr() {
    left: 0 !important;
  }

  @include rtl() {
    right: 0 !important;
  }
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
}

.resource-filter ion-backdrop {
  background-color: map-get($colors, black) !important;
  opacity: 0.4 !important;
}
