<ion-content>
  <h4 no-margin padding class="subtitle">{{ 'AVAILABLE_FILTERS' | translate }} </h4>
  <div class="scroll-list">
    <ion-list *ngIf="facetsFilter && facetsFilter.length" no-lines>
      <ion-item class="filter-item" *ngFor="let facet of facetsFilter" (click)="openFilterOptions(facet)">
        <ion-label text-capitalize>{{ facet.displayName | translate  }}</ion-label>
        <ion-label text-end>{{ getSelectedOptionCount(facet) }}</ion-label>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button ion-button outline block (click)="cancel()"> {{ 'CANCEL' | translate }}</button>
    </ion-col>

    <ion-col col-6>
      <button ion-button block (click)="apply()"> {{ 'APPLY' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>
