group-report-alert {
    .msg {
        color: white;
        font-size: medium;
        background-color: blue;
    }
    .twocolordiv {
        position: relative;
        z-index: 9;
        background: red;
        width: 60%;
        height: 10px;
    }
    .twocolordiv:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 30%;
        bottom: 0;
        left: 0;
        background: green;
    }
    .row-align {
        padding: 10px 16px !important;
    }
    .margin0 {
        margin: 0 !important;
    }
    .scroll {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 40vh;
        padding-bottom: 10px !important;
    }
    .toolbar-md {
        padding: 0 !important;
    }
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        background-image: none;
    }
    .toolbar-background-md {
        border-color: none !important;
        background: none !important;
    }
    progress-bar {
        padding: 8px !important;
        margin-top: 12px !important;
    }
    .input-wrapper {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .item-ios {
        padding-left: 0;
    }
    .item-md {
        padding-left: 0 !important;
    }
    .text-center {
        text-align: center !important;
        font-size: 1.3rem !important;
    }
    .grid-align {
        background-color: white;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding: 0 !important;
    }
    .report-header {
        background-color: dodgerblue !important;
        padding: 12px !important
    }
    .result {
        color: white;
    }
    .text-alignment {
        text-align: center;
        font-size: 1rem;
    }
    .white {
        color: white;
    }
    .icon-tickmark {
        color: green;
        font-weight: 600;
    }
    .ellipsis {
        max-width: 100%;
        text-overflow: ellipsis;
    }
    .column-align {
        color: dodgerblue;
        text-align: center;
        padding: 0 !important;
    }
    .text-align {
        color: dodgerblue;
        font-size: 1.1rem;
    }
    .icon-align {
        color: dodgerblue;
        font-size: 2.6rem;
    }
    .G:nth-child(even) {
        background: lightgrey;
    }
    .G:nth-child(odd) {
        background: #FFF;
    }
    .assessmentDetails h3 {
        white-space: normal;
    }
}
.group-report-alert .popover-content {
    margin: 0;
    width: 100% !important;
    max-height: 75vh !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0 !important;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
    overflow-y: hidden;
}
.group-report-alert ion-backdrop {
    background-color: #000 !important;
    opacity: 0.4 !important;
}
.fromGroup ngx-datatable datatable-body {
    height: calc(100vh - 50.5vh) !important;
}