version: 2.1
jobs:
 build:
   docker:
     - image: circleci/node:chakracore-10.13.0
   steps:
     - checkout
     - run:
         name: Check current version of node
         command: node -v
     - restore_cache:
         keys:
           - node_modules_cache_{{ checksum "package-lock.json" }}
     - run:
         name: Install project dependencies
         command: |
                   if [ ! -d "node_modules" ]; then
                   npm ci -f
                   fi
     - save_cache:
         key: node_modules_cache_{{ checksum "package-lock.json" }}
         paths:
           - node_modules
     - run:
         name: Run Tests
         command: npm run test:ci
     - store_artifacts:
         path: /coverage
     - store_test_results:
         path: /coverage
