page-profile {
    .refreshspinner {
        stroke:#024f9d !important;
        width: 30px;
        left: 0;
        top: 0;
        height: 40px;
        position: relative!important;
      }
    .spinner-div{
        padding: 40px;
        background-color: #ECEFF0;
        text-align: center;
        border : none !important;
    }
    .profile-last-login-text {
        color: #bdbdbd;
        text-align: center;
        @include margin(0);
        font-size: 1.2rem;
        @include padding(0, 5px, 8px, 5px);
    }
    .profile-completed-text {
        color: rgb(104, 103, 101);
        text-align: left;
        @include margin(null, null, 8px, null !important);
        font-size: small;
        @include padding(0);
    }
    .profile-add-exp-text {
        color: map-get($colors, primary);
        text-align: right;
        font-size: small;
        @include padding(0);
        @extend .font-weight-bold;
    }
    .profile-completed-ion-row {
        @include margin(5%, null, null, null !important);
        @include padding(6%, null, 1%, null);
    }
    .profile-completed-ion-col {
        @include padding(0);
    }
    .profile-name {
        color: map-get($colors, dark);
        text-align: center;
        font-size: 2rem;
        @extend .font-weight-bold;
        @include margin(0);
        @include padding(10px, 5px, 0, 5px);
    }
    .grey-bg {
        background: rgba(99, 99, 99, 0.158);
        font-size: 14px;
        border-radius: 5px;
        @include padding(6px);
    }
    .item-profile-img {
        max-width: 100px;
        border-radius: 50%;
        text-align: center;
    }
    .custom-avatar {
        height: 22vw;
        width: 22vw;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        @include margin(null, auto, null, auto);
    }
    .list-header {
        font-size: 12pt;
        color: black;
        @extend .font-weight-500;
        margin-bottom: 0 !important;
        span {
            color: map-get($colors, primary);
            font-size: 1.5rem;
        }
    }
    ion-list-header {
        @extend .font-weight-700;
    }
    ion-label {
        @include margin(5%, 0, 0, 0 !important);
    }
    .section-title {
        color: map-get($colors, dark);
        font-size: 1.6rem;
        @include padding(0);
        @include margin(3px, null, 3%, 0 !important);
        @extend .font-weight-bold;
    }
    .info-title {
        color: #696969;
        font-size: 0.9em;
        @extend .font-weight-500;
    }
    .image-holder {
        width: 50px;
        height: 50px;
    }
    .skill-row {
        @include margin(12px, null, null, null !important);
    }
    .skill-name-col {
        border-radius: 50px 0 0 50px;
        background-color: #f1f1f1;
    }
    .skill-count-col {
        border-radius: 0 50px 50px 0;
        background-color: #f1f1f1;
    }
    .skill-endorse-col {
        border-radius: 50px;
        background-color: #f1f1f1;
    }
    ion-item {
        span {
            display: block;
        }
    }
    ion-row {
        @include padding(0 !important);
    }
    col-2 {
        @include padding(null, null, null, 0 !important);
    }
    .item-md.item-block .item-inner {
        @include padding(null, 0, null, null !important);
    }
    .additional-info ion-row {
        font-size: 1.2rem;
        @include padding(null, null, 10px, null !important);
    }
    .details-title {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        font-size: 1.3rem;
        @extend .font-weight-bold;
    }
    .details p {
        font-size: 1.2rem !important;
    }
    .vertical-separator {
        border-left: solid;
        border-width: 1px;
        border-color: darkgrey;
    }
    .social-icon-size ion-icon {
        font-size: 1.8em !important;
        @include padding(null, null, null, 10px !important);
    }
    .social-icon-size a {
        color: transparent;
    }
    .inner {
        width: auto;
        height: 100%;
        course-card {
            display: table-cell;
        }
    }
    .course-scroll-dimensions {
        width: 100%;
        height: 166px;
    }
    ion-spinner {
        position: absolute;
        display: inline-block;
        width: 20px;
        left: 47vw;
        top: 10vh;
        height: 20px;
    }
    .spinner-crescent circle {
        stroke-width: 7px;
    }
    .spinner-md-crescent circle {
        stroke: #0288d1;
    }

    .scroll-content {
        background-color: #FAFAFA !important;
        // @include padding(0 !important);
    }


    ion-scroll{
        .scroll-content{
            background-color: #fff !important;
            min-height: 225px;
            width: 100%;
            @include padding(0 !important);
        }

        .scroll-zoom-wrapper {
            white-space: nowrap;
        }
    }

   

    .badges{
        ion-avatar img, ion-thumbnail img {
            display: block;
            @include margin(30px auto);
            
        }
    }

    .card.card-md {
        border-radius: 4px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        border: solid 0.5px #cccccc;
        width: 80vw;
        display: inline-block;

        .badge {
            @include padding(0, 20px);
            color: #006DE5;
            border: solid 0.5px #006DE5;
            font-size: 11px;
            height: 20px;
            box-shadow: none;
            @extend .font-weight-400;
            text-transform: capitalize;
            .button-inner{
                display: inline-block;
                line-height: 22px;
            }
        }
        .top {
            min-height:85px; 
            // background: #E9E9E9;
            .img-container {
                border: 1px solid #c6dbd8;
                @include padding(0 !important);
                background: #E9E9E9;
                min-height: 85px;
                max-height: 85px;
                border-radius: 4px;
                img {
                    max-height: 100%;
                    @include margin(0 auto);
                    width: auto;
                    transform: translateY(-56%);
                    position: relative;
                    top: 50%;
                    transform: perspective(1px) translateY(-50%);
                }
            }
            .info{
                color: #616161;
            }
        }
        h6.name{
            word-break: break-all;
            white-space: normal;
            min-height: 32px;
            font-size: 14px !important;
            color: #333333;     
            font-size: 14px !important;
            color: #333333;
            width: 100%;
            white-space: normal;
            min-height: 32px;
        }

        h6.second-line-ellipsis{
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            height: 32px;
        }

        .author {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #666666;
            min-height: 20px;
        }
            
    }

    .roles-container{
        color: #007AFF; 
        @include margin(5px, 0);
    }
    .roles{
        border: .5px solid #007AFF;
          @include padding(4px, 15px);
          border-radius: 4px;
          display: inline-block;
    }
    .school-recent {
        margin: 0 auto;
        @include padding(0, 16px, 16px, 16px);
        text-align: center;
    }

    .contacts{
        padding:15px; 
        background-color:#196DAB;
        text-align: center;

        .phone{
          display: inline-block;
          border-radius: 25px;
          @include padding($base-block-space, $base-block-space*2);
          @include margin(null, null, 10px, null);
          background-color: #fff;
          color: #007AFF;

          &.light{
            color: #9b9b9b;
          }
        }

        .email{
            display: inline-block;
          border-radius: 25px;
          @include padding($base-block-space, $base-block-space*2);
          background-color: #fff;
          color: #007AFF;
          border-bottom: 0.3px solid #196DAB;
          border-top: 0.3px solid #196DAB;
          &.light{
            color: #9b9b9b;
          }
        }
    }

    .school-details{
        padding:15px; 
        background-color:#E0EFFF; 
        text-align: center; 
        border-bottom: 0.3px solid #196DAB;
        border-top: 0.3px solid #196DAB;
        .container {
            text-align: center; 
            @include margin(null, null, 10px, null);
        }
    }

    .trainigs{
        .heading {
            @include padding(15px); 
            background-color: #fff; 
            @include margin(null, null, 2px, null);
        }
        .content {
            @include padding(15px ); 
            background-color: #fff;
        }
    }

    .contributions {
        min-height: 305px; 
        @include margin(null, null, 10px, null);
    }
    
    .short-btn {
        height: 26px;
    }

    .custom-round{
        border-radius: 64px !important;
    }

    .bottom-cover {
        height: 65px;
    }

    .training-1 {
        flex: 1;
    }

    .training-2 {
        width: 15%;
    }

    .flex-nowrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

}

.sb-btn-tile {
    .button-inner {
      flex-direction: column;
    }
    .sb-dt-card-danger-icon{
      font-size : ($font-size-base * 2) + 2;
      color: $orange;
      @include margin(0,0,($base-block-space * .5),0);
    }
    .sb-dt-card-blue-icon{
      font-size : ($font-size-base * 2) + 2;
      color: $primary-color;
      @include margin(0,0,($base-block-space * .5),0);
    }   
    .sb-btn-footer-text {
      color : $gray;
      font-weight: 100;
      font-size: ($font-size-base - 2);
      text-align: center;
      text-transform: initial;
    }
    ion-icon {
      line-height: 30px;
    }
   
  }

.padding-right-10 {
    @include padding(null, 10px, null, null !important);
}

.padding-left-10 {
    @include padding(null, null, null, 10px !important);
}

.padding-left-none {
    @include padding(null, null, null, 0 !important);
}

.padding-left-5 {
    @include padding(null, null, null, 5px !important);
}

.padding-5 {
    @include padding(5px !important);
}

.loading {
    background-color: transparent !important;
}

.loading-md .loading-wrapper {
    border-radius: 50% !important;
    @include padding(10px !important);
    max-height: 48px !important;
    max-width: 48px !important;
}

.ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.display-inline-block {
    display: inline-block !important;
}

.courses-holder {
    height: 46%;
    .scroll-content {
        @include padding(6px, 0, 0, 6px !important);
    }
}

.bolder{
    @extend .font-weight-bold;
}

.fw{
    @extend .font-weight-600;
}

.f11{
    font-size: 11px;
}

.f16{
    font-size: 16px;
}

.PTB0{
    @include padding(0, null, 0, null);
}

.lighter{
    color:#9b9b9b;
}

.MR10{
    @include margin(null, 10px, null, null);
}

.MT0{
    margin-top: 0;
}

.ML10{
    @include margin(null, null, null, 10px);
}

.MB5 {
    @include margin(null, null, 5px, null);
}

.MB10 {
    @include margin(null, null, 10px, null);
}

.MB15 {
    @include margin(null, null, 15px, null);
}

.MB30{
    @include margin(null, null, 30px, null);
}

.MT15 {
    @include margin(15px, null, null, null);
}

.txt-lowercase {
    text-transform: lowercase;
}

.txt-capitalize {
    text-transform: capitalize;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.asPerStateRecord{
    color: white;
    font-size: 10px;
    white-space:pre;
    display:inline-block;
    font-weight:bold;
    background-color: black;
    padding: 6px;
    position: absolute;
    right: 13px;
    top: 22px;
    
}
.isymbol{
    position: relative;
    top: 0;
    line-height: 12px;
    margin-left: 5px;
}
.info-icon{
    vertical-align: sub;
    margin-right: 13px;
    font-size: 1.8em !important;
    color: #a4a4a4;

}
.info-icon-text{
    font-size: 10px;
    text-align: center;
}

