page-profile {
  .profile-last-login-text {
    color: #bdbdbd;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    padding: 0 5px 8px 5px;
  }

  .profile-completed-text {
    color: rgb(104, 103, 101);
    text-align: left;
    margin-bottom: 8px;
    font-size: small;
    padding: 0;
  }

  .profile-add-exp-text {
    color: map-get($colors, primary);
    text-align: right;
    margin-bottom: 8px;
    font-size: small;
    padding: 0;
    font-weight: bold;
  }

  .profile-completed-ion-row {
    padding-bottom: 1%;
    padding-top: 6%;
  }

  .profile-completed-ion-col {
    padding: 0;
  }

  .profile-name {
    color: map-get($colors, dark);
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding: 5px;
    font-weight: bold;
  }

  .grey-bg {
    background: rgba(99, 99, 99, 0.158);
    font-size: 14px;
    border-radius: 5px;
    padding: 6px;
  }

  .item-profile-img {
    max-width: 100px;
    border-radius: 50%;
    text-align: center;
  }

  .custom-avatar {
    height: 22vw;
    width: 22vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .list-header {
    font-size: 12pt;
    color: black;
    font-weight: 500;
    margin-bottom: 0 !important;

    span {
        color: map-get($colors, primary);
        font-size: 1.5rem;
    }
  }

  ion-list-header {
    font-weight: 700 !important;
  }

  ion-label {
    margin-right: 0 !important;
  }

  .section-title {
    color: map-get($colors, dark);
    margin-bottom: 3%;
    font-size: 1.6rem;
    padding: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .info-title {
    color: #696969;
    font-size: 0.9em;
    font-weight: 500;
  }

  .image-holder {
    width: 50px;
    height: 50px;
  }

  .skill-row {
    margin-top: 12px !important;
  }

  .skill-name-col {
    border-radius: 50px 0 0 50px;
    background-color: #f1f1f1;
  }
  .skill-count-col {
    border-radius: 0 50px 50px 0;
    background-color: #f1f1f1;
  }
  .skill-endorse-col {
    border-radius: 50px;
    background-color: #f1f1f1;
  }

  ion-item {
    span {
      display: block;
    }
  }

  ion-row {
    padding: 0 !important;
  }

  col-2 {
    padding-left: 0 !important;
  }

  .item-md.item-block .item-inner {
    padding-right: 0 !important;
  }

  .additional-info ion-row {
    font-size: 1.2rem;
    padding-bottom: 10px !important;
  }
  .details-title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .details p {
    font-size: 1.2rem !important;
  }
  .vertical-separator {
    border-left: solid;
    border-width: 1px;
    border-color: darkgrey;
  }
  .social-icon-size ion-icon {
    font-size: 1.8em !important;
    padding-left: 10px !important;
  }

  .social-icon-size a {
    color: transparent;
  }

  .inner {
    width: auto;
    height: 100%;

    course-card {
      display: table-cell;
    }
  }
  .course-scroll-dimensions{
    width: 100%; height: 166px;
  }

  ion-spinner {
    position: absolute;
    display: inline-block;
    width: 20px;
    left: 47vw;
    top: 10vh;
    height: 20px;
  }

  .spinner-crescent circle {
    stroke-width: 7px;
  }
  .spinner-md-crescent circle {
      stroke: #0288d1;
  }
}

.padding-right-10 {
  padding-right: 10px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-none {
    padding-left: 0 !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-5 {
    padding: 5px !important;
}
.loading{
  background-color: transparent !important;
}

.loading-md .loading-wrapper {
  border-radius: 50% !important;
  padding: 10px !important;
  max-height: 48px !important;
  max-width: 48px !important;
}
.ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.display-inline-block {
    display: inline-block !important;
}
.courses-holder{
  height: 46%;
  .scroll-content{
    padding-left: 0px !important;
  }
}