<ion-content padding [ngClass]="{'content-with-footer': (((courseCardData && courseCardData?.batchId) && ( showResumeBtn || childrenData && childrenData?.length || downloadIdentifiers && downloadIdentifiers?.length && !isDownloadStarted )) || (courseCardData && !courseCardData?.batchId && course && course?.createdBy !== userId))}">
	<pb-horizontal *ngIf="course?.progress" [progress]="course?.progress" class="course-progress" [ngClass]="{'blurbackground': batchExp}"></pb-horizontal>
	<div class="content-details-holder" *ngIf="course">
		<ion-grid class="padding-0">
			<h6>{{course.name}}</h6>
			<div *ngIf="course?.creator || course?.owner">
				<span class="text-gray-color">{{ 'CONTENT_CREATED_BY' | translate }}</span>
				<span class="content-meta-title">{{ course?.creator || course?.owner }}</span>
			</div>
			<ion-row class="padding-top-10 credits" (click)="viewCredits()" *ngIf="course?.creators || course?.attributions || course?.contributors">
				{{ 'CREDITS' | translate }}
			</ion-row>
			<ion-row class="padding-top-101">
				<ion-col class="padding-0">
					<div class="size_txt padding-bottom-5" no-margin *ngIf="courseCardData?.batchId">
						<span class="content-size">{{ 'YOUR_PROGRESS' | translate: {'%s': course?.progress ? course?.progress : '0'} }}</span>
					</div>
					<ion-row>
						<div class="col-2">
							<rating align-items-start (click)="rateContent();" [(ngModel)]="course.me_averageRating" readOnly="true" max="5"
							 no-padding></rating>
						</div>
						<div class="margin-top-3 text-gray-color col-1">
							&nbsp;({{ course?.me_totalRatings ? course?.me_totalRatings : 0 }})
						</div>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
		<br />
		<div class="about-section" *ngIf="course?.description || course?.gradeLevel || course?.subject || course?.board">
			<h6 class="padding-10 background-gray font-size-20">{{ 'ABOUT' | translate }}</h6>
			<p *ngIf="!showMoreFlag" class="text-gray-color">
				{{ (course && course.description && course.description.length > 100) ? (course?.description | slice:0:100) + '...' : (course?.description)
				}} </p>
			<div class="course-details" *ngIf="showMoreFlag">
				<p *ngIf="course?.description?.length" class="text-gray-color">
					{{ course?.description }}
				</p>
				<div *ngIf="course?.author" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'AUTHOR' | translate }}</div>
					<!-- <span *ngFor="let grade of course.gradeLevel"> -->
					<span class="text-gray-color">{{course?.author}}</span>
					<!-- </span> -->
				</div>
				<div *ngIf="course?.organisation" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'PUBLISHED_BY' | translate:{'%s': appName} }}</div>
					<!-- <span *ngFor="let grade of course.gradeLevel"> -->
					<span class="text-gray-color">{{course?.organisation}}</span>
					<!-- </span> -->
				</div>
				<div *ngIf="course?.license" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'LICENSE' | translate }}</div>
					<!-- <span *ngFor="let grade of course.gradeLevel"> -->
					<span class="text-gray-color">{{course?.license}}</span>
					<!-- </span> -->
				</div>
				<div *ngIf="course?.copyright" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'COPYRIGHT' | translate }}</div>
					<!-- <span *ngFor="let grade of course.gradeLevel"> -->
					<span class="text-gray-color">{{course?.copyright}}</span>
					<!-- </span> -->
				</div>
				<!-- Batch details - only for enrolled courses -->
				<div *ngIf="batchDetails?.name" margin-top>
					<div class="content-meta-title" style="color: black !important">{{ 'BATCH_DETAILS' | translate }}</div>
					<span class="text-gray-color"> {{batchDetails?.name}}</span>
					<br />
					<span class="text-gray-color">{{ batchDetails?.startDate | date: 'mediumDate' }} - {{ batchDetails.endDate | date:
						'mediumDate' }}</span>
					<br />
					<span *ngIf="batchDetails?.creatorFirstName">
						<span class="text-gray-color"> {{ 'BATCH_CREATED_BY' | translate }} </span>
						<span class="font-weight-500 content-meta-title"> {{batchDetails?.creatorFirstName + ' ' +
							batchDetails?.creatorLastName}} </span>
					</span>
				</div>

			</div>

			<div class="read-more" *ngIf="course && course.description && course.description.length > 100 || course?.gradeLevel || course?.subject" (click)="showMoreFlag = !showMoreFlag">
				<div *ngIf="showMoreFlag" class="padding-top-10" (click)="readLessorReadMore('read-less-clicked')">
					{{ 'READ_LESS' | translate }}
					<ion-icon name="ios-arrow-up"></ion-icon>
				</div>
				<div *ngIf="!showMoreFlag" (click)="readLessorReadMore('read-more-clicked')">
					{{ 'READ_MORE' | translate }}
					<ion-icon name="ios-arrow-down"></ion-icon>
				</div>
			</div>
		</div>
		<br />

		<div class="structure-section" margin-top>
			<h6 class="padding-10 background-gray font-size-20">{{ 'STRUCTURE' | translate }}</h6>
			<div padding-top *ngIf="course?.contentTypesCount" class="content-structure">
				<span *ngFor="let structure of objectKeys(course?.contentTypesCount);let last = last;">
					{{course.contentTypesCount[structure] + ' ' + structure}} {{last ? '' : ' |' }}
				</span>
			</div>
			<!-- enrolledCourseMimeType === 'application/vnd.ekstep.content-collection' -->
			<ion-list *ngIf="childrenData && childrenData.length" padding-top class="list-mb-48">
				<span *ngIf="courseCardData && enrolledCourseMimeType === 'application/vnd.ekstep.content-collection'">
					<ion-item *ngFor="let item of childrenData; let i = index;" class="child-item" (click)="navigateToChildrenDetailsPage(item, depth + '.' + (i + 1))">
						<ion-icon [name]="item.status? 'ios-checkmark-circle': (item.lastRead? 'ios-radio-button-on': 'ios-radio-button-off')"></ion-icon>
						<span ion-text class="span-semibold" [ngClass]="{'fontBold': item.lastRead}">{{ (item?.contentData?.name &&
							item?.contentData?.name.length > 30) ?
							(item?.contentData?.name | slice:0:30) + '...'
							: (item?.contentData?.name)}}</span>
						<ion-icon name="ios-arrow-forward" float-end></ion-icon>
					</ion-item>
				</span>
				<span *ngIf="courseCardData && !enrolledCourseMimeType === 'application/vnd.ekstep.content-collection'">
					<ion-item *ngFor="let item of childrenData; let i = index;" class="child-item">
						<span ion-text class="span-semibold">{{ (item?.contentData?.name && item?.contentData?.name.length > 30) ?
							(item?.contentData?.name | slice:0:30) + '...'
							: (item?.contentData?.name)}}</span>
					</ion-item>
				</span>
			</ion-list>
			<!-- Import content loader -->
			<div *ngIf="showChildrenLoader">
				<ion-row style="padding-top: 30px;" padding>
					<ion-col text-center>
            <p
              *ngIf="downloadProgress !== 100">{{ 'FETCHING_CONTENTS' | translate: {'%s': downloadProgress ? downloadProgress : 0} }}</p>
						<p *ngIf="downloadProgress === 100">{{ 'LOADING_CONTENT' | translate }}</p>
						<ion-spinner padding></ion-spinner>
					</ion-col>
				</ion-row>
			</div>
			<div text-center *ngIf="childrenData?.length === 0 && !showChildrenLoader">
				<img src="assets/imgs/ic_coming_soon.png" width="110px" height="80px" />
				<h4>
					<b>{{ 'UNIT_COMING_SOON' | translate }}</b>
				</h4>
				<p>{{ 'CONTENT_CREATING' | translate }}</p>
			</div>
			<!-- End import content -->
		</div>
		<br />
		<br />
		<!-- <div class="license-section padding-10 background-gray" *ngIf="course?.license">
			<div class="row" *ngIf="showLicense">
				<span>
					<div class="size_txt content-meta-title">{{ 'LICENSE' | translate }}</div>
					<div class="margin-top-5 text-gray-color">{{ course?.license }}</div>
				</span>
			</div>
			<span class="read-more text-gray-color">
				<span *ngIf="showLicense" (click)="showLicense = false">
					<br /> {{ 'HIDE_CREDITS_INFO' | translate }}
					<ion-icon name="ios-arrow-up"></ion-icon>
				</span>
				<span *ngIf="!showLicense" (click)="showLicense = true">
					{{ 'VIEW_CREDITS_INFO' | translate }}
					<ion-icon name="ios-arrow-down"></ion-icon>
				</span>
			</span>
		</div> -->
		<div padding-top></div>
	</div>
</ion-content>
<!-- Page footer -->

<ion-footer *ngIf="courseCardData?.batchId">
	<ion-toolbar class="toolbar-p-16">
		<button ion-button block *ngIf="!showResumeBtn && childrenData?.length" (click)="startContent()">{{
			'START_COURSE' | translate }}</button>
		<button ion-button block *ngIf="showResumeBtn" (click)="resumeContent(courseCardData?.lastReadContentId)">{{
			'RESUME_COURSE' | translate }}</button>
		<button ion-button block outline *ngIf="downloadIdentifiers?.length && !isDownloadStarted" (click)="downloadAllContent();">{{
			'DOWNLOAD_ALL_CONTENT' | translate }} ({{ (downloadSize && downloadSize > 0) ? (downloadSize | fileSize) : 'O BYTES'
			}})
		</button>
    <button *ngIf="isDownloadStarted" ion-button block outline
            [ngStyle]="{'background': '-webkit-linear-gradient(left, #DBECFF '  +(currentCount/queuedIdentifiers.length)*100+ '%, white 0%)'}">
      {{ 'DOWNLOADING_2' | translate }}... {{ currentCount }} / {{ queuedIdentifiers?.length }}
    </button>
	</ion-toolbar>
</ion-footer>
<ion-footer *ngIf="!courseCardData?.batchId && course?.createdBy !== userId && !isAlreadyEnrolled">
	<ion-toolbar class="toolbar-p-16">
		<button ion-button block (click)="navigateToBatchListPage();">{{ 'ENROLL_COURSE' | translate }}</button>
	</ion-toolbar>
</ion-footer>

<ion-backdrop class="loading-backdrop" *ngIf="showLoading && !isDownloadStarted" text-center>
	<div class="backdrop-container">
    <ion-label>{{ 'LOADING_CONTENTS' | translate: {'%s': downloadProgress ? downloadProgress : 0} }}</ion-label>
		<pb-horizontal [progress]="downloadProgress" isOnBoardCard="false"></pb-horizontal>
	</div>

	<div class="backdrop-footer">
		<button ion-button small (click)="cancelDownload()">{{ 'CANCEL' | translate }}</button>
	</div>
</ion-backdrop>
