<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon md="md-share" float-right></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="content-details-holder" *ngIf="contentDetail">
    <h6>{{contentDetail.name}}</h6>
    <div class="progress-section">
      <p>Your progress: {{cardData.progress ? cardData.progress : '0'}} % </p>
      <rating [ngModel]="0" readOnly="true" max="5" no-padding></rating>
    </div>
    <br/>
    <div class="about-section">
      <h6 class="padding-10 background-gray">{{ 'ABOUT' | translate }}</h6>
      <p *ngIf="!showMoreFlag">
        {{ (contentDetail.description.length > 6) ? (contentDetail.description | slice:0:6) + '...' : (contentDetail.description)
        }} </p>
      <div class="course-details" *ngIf="showMoreFlag">
        <p *ngIf="showMoreFlag && contentDetail.description.length > 6">
          {{ contentDetail.description }}
        </p>
        <div *ngIf="contentDetail.gradeLevel && contentDetail.gradeLevel.length" margin-top>
          <div>GRADE:</div>
          <span *ngFor="let grade of contentDetail.gradeLevel">
            <span>{{grade}}</span>
          </span>
        </div>
        <div *ngIf="contentDetail.subject" margin-top>
          <div>SUBJECT:</div>
          <span>{{contentDetail.subject}}</span>
        </div>
      </div>

      <span class="read-more" *ngIf="contentDetail.description && contentDetail.description.length > 6" (click)="showMoreFlag = !showMoreFlag">
        <span *ngIf="showMoreFlag">
          {{ 'READ_LESS' | translate }}
          <ion-icon name="ios-arrow-up"></ion-icon>
        </span>
        <span *ngIf="!showMoreFlag">
          {{ 'READ_MORE' | translate }}
          <ion-icon name="ios-arrow-down"></ion-icon>
        </span>
      </span>
    </div>
    <!-- Course structure section -->
    <div class="structure-section" margin-top>
      <h6 class="padding-10 background-gray">Structure</h6>
      <div *ngIf="contentDetail.contentTypesCount" padding-top>
        <span *ngFor="let structure of objectKeys(contentDetail.contentTypesCount)">
          {{contentDetail.contentTypesCount[structure] + ' ' + structure}}
        </span>
      </div>
      <div *ngIf="childrenData && childrenData.children" padding-top>
        <ion-item *ngFor="let item of childrenData.children; let i = index" style="padding-left: 0px;">
          <span (click)="navigateToChildrenDetailsPage(item, i + 1);">
            <span ion-text>{{ (i) + (1) }}: {{ item.contentData.name }}</span>
            <ion-icon name="ios-arrow-forward" float-end></ion-icon>
          </span>
        </ion-item>
      </div>
      <!-- Import content loader -->
      <div *ngIf="showChildrenLoader">
        <ion-row style="padding-top: 30px;" padding>
          <ion-col text-center>
            <p>Fetching content {{ downloadProgress ? downloadProgress : '' }}</p>
            <ion-spinner padding></ion-spinner>
          </ion-col>
        </ion-row>
      </div>
      <!-- End import content -->
    </div>
  </div>
</ion-content>
<!-- Page footer -->
<ion-footer>
  <ion-toolbar padding>
    <button ion-button block *ngIf="cardData && !cardData.lastReadContentId">START</button>
    <button ion-button block *ngIf="showResumeBtn" (click)="resumeContent(cardData.lastReadContentId)">RESUME</button>
    <button ion-button block outline *ngIf="downloadIdentifiers && downloadIdentifiers.length && !showDownloadProgress"
      (click)="importContent(downloadIdentifiers, true)">DOWNLOAD ALL ({{ downloadContentsSize }})</button>
    <button *ngIf="showDownloadProgress && !isDownloadComplete" ion-button block outline [style.width]="downloadProgress" [ngClass]="(currentCount < 100) ? 'progress-inner-primary' : 'progress-inner-secondary'">DOWNLOADING... {{ currentCount }} of {{ totalDownload }}</button>
  </ion-toolbar>
</ion-footer>