page-alert-qr-scanner {
  .msg {
    color: grey;
    font-size: medium;
    padding: 16px;
  }
}

.qr-alert .popover-content {
  margin: 0;
  width: 100%;
  height: auto;
  box-shadow: unset;
  position: fixed;
  left: 0 !important;
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
}

.qr-alert ion-backdrop {
  background-color: #000 !important;
  opacity: 0.4 !important;
}

