<div class="invalidContent" *ngIf="!invalidContent">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="img-container">
          <img [src]="icon" width="auto" height="120px" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset-2 col-7 text-center class="msg">
          <p> {{ messageKey | translate }}</p>
        </ion-col>
      </ion-row>

      <ion-row text-center *ngIf="showOnlyPrimaryBtn">
          <ion-col col-12>
              <a block (click)="tryAgain()"> {{ tryAgainKey | translate }}</a>
            </ion-col>

        <!-- <ion-col col-6>
          <button ion-button block (click)="tryAgain()"> {{ tryAgainKey | translate }}</button>
        </ion-col>  -->
      </ion-row>

      <!-- <ion-row text-center *ngIf="!showOnlyPrimaryBtn">
        <ion-col col-12 text-center>
          <button ion-button block (click)="tryAgain()"> {{ tryAgainKey | translate }}</button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>
  <ion-footer padding>
    <button ion-button block icon-end (click)="cancel()"> {{ skipKey | translate }}
      <ion-icon name="arrow-round-forward" role="img" class="icon icon-md ion-md-arrow-round-forward pull-right"
        aria-label="arrow round-forward" ng-reflect-name="arrow-round-forward"></ion-icon>
    </button>
  </ion-footer>
</div>
<div class="invalidContent" *ngIf="invalidContent">
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="img-container">
          <img [src]="icon" width="auto" height="120px" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset-2 col-8 text-center class="msg">
          <p><b> {{ messageKey | translate }} </b></p>
        </ion-col>
      </ion-row>

      <ion-row text-center *ngIf="!showOnlyPrimaryBtn">
        <ion-col col-12>
          <a block (click)="tryAgain()"> {{ tryAgainKey | translate }}</a>
        </ion-col>
      </ion-row>


      <!-- <ion-row text-center *ngIf="showOnlyPrimaryBtn">
        <ion-col col-12 text-center>
          <button ion-button block (click)="tryAgain()"> {{ tryAgainKey | translate }}</button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>

  <ion-footer padding>
    <button class="arrow-icon" ion-button block icon-end (click)="cancel()"> {{ skipKey | translate }}
      <ion-icon name="arrow-round-forward" role="img" class="icon icon-md ion-md-arrow-round-forward pull-right"
        aria-label="arrow round-forward" ng-reflect-name="arrow-round-forward"></ion-icon>
    </button>
  </ion-footer>
</div>