page-alert-qr-scanner {
  .msg {
    color: map-get($colors, black );
    font-size: medium;
    padding: 16px;
    @extend .font-weight-bold;
  }
}

.qr-alert .popover-content {
  margin: 0;
  width: 100%;
  height: auto;
  box-shadow: unset;
  position: fixed;
  
  @include ltr() {
    left: 0 !important;
  }

  @include rtl() {
    right: 0 !important;
  }
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
}

.qr-alert ion-backdrop {
  background-color: #000 !important;
  opacity: 0.4 !important;
}


.qr-alert-invalid   .popover-content {
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: unset;
    position: fixed;
    @include ltr() {
      left: 0 !important;
    }
  
    @include rtl() {
      right: 0 !important;
    }
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
  }

  .qr-alert-invalid .popover-content{
    max-height:100% !important;
  }
  .qr-alert-invalid ion-backdrop {
    background-color: #000 !important;
    opacity: 0.4 !important;
  }

  .qr-alert-invalid .invalidContent{
  
  .img-container{
    text-align: center; 
    margin-top: 10vh !important;
    margin-bottom: 20px !important;
}

.button-inner {
    display: initial !important;
  }
.arrow-icon {
    @include padding(null, null, null, 2.8em !important);
}

ion-icon {
    
    @include ltr() {
      float: right !important;
    }

    @include rtl() {
      float: left !important;
    }
}

.footer-md::before {
    top: 0;
    bottom: auto;
    height: 0px !important;
}
}




