image-picker {
    // .popover-content{height:480px !important;}
    .center {
        margin: auto;
        width: 100%;
        padding: 10px;
        max-height: 50vh;
    }
    .button-row {
        margin: auto;
    }
    .popover-md .popover-content {
        top: 22vh;
        left: 10vw;
        transform-origin: left top 0;
        transform: scale(1);
        transition-delay: initial;
        transition-property: none;
        height: 62vh;
        width: 80vw;
    }
}