<!-- Generated template for the CourseDetailComponent component -->
<ion-header>
	<ion-navbar>
		<ion-title>
			<!-- <ion-icon md="md-share" float-right></ion-icon> -->
		</ion-title>
		<ion-buttons end>
			<!-- <button ion-button icon-only (click)="selectBookmark()" *ngIf="!content?.bookmarked">
				<ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" float-right></ion-icon>
			</button> -->
			<!-- <button ion-button icon-only (click)="deSelectBookmark()" *ngIf="content?.bookmarked" style="color:#0079FE">
				<ion-icon name="ios-bookmark" ios="ios-bookmark" float-right></ion-icon>
			</button> -->
			<button ion-button icon-only (click)="share()">
				<ion-icon md="md-share" float-right></ion-icon>
			</button>
			<button *ngIf="content?.downloadable" ion-button icon-only (click)="showOverflowMenu($event)" style="font-size: 1.8rem;">
				<ion-icon md="md-more" float-end></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<!-- Page body -->
<ion-content padding [ngClass]="{'content-with-footer': content}">
	<!-- <div *ngIf="showMessage" style="background-color: #F2F8FF;
    margin: -16px;
    display: block;
    padding: 15px;
    margin-bottom: 16px;
    color: gray;
		">
		Resource bookmarked successfully. You can find this under 'Saved Resources' on the Resources tab
	</div> -->
	<div class="content-details-holder" *ngIf="content">
		<h6 class="font-size-20">{{content?.name}}</h6>
		<!-- Owner and download info -->
		<ion-grid class="padding-0">
			<div *ngIf="content?.creator || content?.owner">
				<span class="text-gray-color">{{ 'CONTENT_CREATED_BY' | translate }}</span>
				<span class="content-meta-title">{{ content?.creator || content?.owner }}</span>
			</div>
			<ion-row class="padding-top-10 credits" (click)="viewCredits()" *ngIf="content?.creator || content?.attributions">
				{{ 'CREDITS' | translate }}
			</ion-row>
			<ion-row class="padding-top-10">
				<ion-col class="padding-0">
					<div class="size_txt padding-bottom-5" no-margin>
						<span class="content-size">{{ content?.contentType }}</span>
						<!--Size 0 if not -->
						<span class="content-size">[{{ content?.size | fileSize }}] &lrm;</span>
					</div>
					<ion-row>
						<div class="col-2">
							<rating align-items-start (click)="rateContent('manual');" [(ngModel)]="content.me_averageRating" readOnly="true"
							 max="5" no-padding></rating>
						</div>
						<div class="margin-top-3 text-gray-color col-1">
							&nbsp;({{ content?.me_totalRatings ? content?.me_totalRatings : 0 }})
						</div>
					</ion-row>

				</ion-col>
				<ion-col offset-2 *ngIf="content.me_totalDownloads">
					<div class="padding-bottom-5 text-align-end content-meta-title">{{ content?.me_totalDownloads }}</div>
					<div float-right class="text-gray-color">{{ 'DOWNLOADS' | translate }}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<br />

		<!-- Read more / less -->
		<div class="about-section" *ngIf="content?.description || content?.gradeLevel || content?.subject || content?.board">
			<h6 class="padding-10 background-gray font-size-20">{{ 'ABOUT' | translate }}</h6>
			<p *ngIf="!showMoreFlag" class="text-gray-color">
				{{ (content?.description && content?.description?.length > 100) ? (content?.description | slice:0:99) + '...' :
				(content?.description)
				}} </p>
			<div class="course-details" *ngIf="showMoreFlag">
				<p *ngIf="content?.description && content?.description?.length" class="text-gray-color">
					{{ content?.description }}
				</p>
				<div *ngIf="content?.gradeLevel && content?.gradeLevel?.length" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'CLASS' | translate }}</div>
					<span class="text-gray-color">{{content?.gradeLevel}}</span>
				</div>
				<div *ngIf="content?.subject" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'SUBJECT' | translate }}</div>
					<span class="text-gray-color">{{content?.subject}}</span>
				</div>
				<div *ngIf="content?.board" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'BOARD' | translate }}</div>
					<span class="text-gray-color">{{content?.board}}</span>
				</div>

				<div *ngIf="content?.medium" margin-top>
					<div class="content-meta-title" text-uppercase>{{ 'MEDIUM' | translate }}</div>
					<span class="text-gray-color">{{content?.medium}}</span>
				</div>
			</div>

			<div class="read-more" *ngIf="content?.description?.length > 100 || content?.gradeLevel || content?.subject" (click)="showMoreFlag = !showMoreFlag">
				<div *ngIf="showMoreFlag" class="padding-top-10">
					<ion-grid no-padding>
						<ion-row>
							<ion-col col-3 class="col-3-no-space" (click)="readLessorReadMore('READ_LESS')">
								<span> {{ 'READ_LESS' | translate }} </span>
							</ion-col>
							<ion-col col-1>
								<ion-icon class="line-height" name="ios-arrow-up"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
				<div *ngIf="!showMoreFlag">

					<ion-grid no-padding>
						<ion-row>
							<ion-col col-3 class="col-3-no-space" (click)="readLessorReadMore('READ_LESS')">
								<span> {{ 'READ_MORE' | translate }} </span>
							</ion-col>
							<ion-col col-1>
								<ion-icon class="line-height" name="ios-arrow-down"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>
		<br />
		<div class="license-section padding-10 background-gray" *ngIf="content?.license">
			<div class="row" *ngIf="showLicense">
				<span *ngIf="content?.license">
					<div class="size_txt content-meta-title">{{ 'LICENSE' | translate }}</div>
					<div class="margin-top-5 text-gray-color">{{ content?.license }}</div>
				</span>
			</div>
			<span class="read-more text-gray-color">
				<span *ngIf="showLicense" (click)="showLicense = false">
					<br /> {{ 'HIDE_CREDITS_INFO' | translate }}
					<ion-icon name="ios-arrow-up"></ion-icon>
				</span>
				<span *ngIf="!showLicense" (click)="showLicense = true">
					{{ 'VIEW_CREDITS_INFO' | translate }}
					<ion-icon name="ios-arrow-down"></ion-icon>
				</span>
			</span>
		</div>
		<div padding-top></div>
	</div>
</ion-content>
<!-- Page footer -->

<ion-footer *ngIf="content && !appGlobalService?.CONTENT_STREAMING_ENABLED ">
	<ion-toolbar padding>
		<button ion-button block *ngIf="content?.downloadable" (click)="showSwitchUserAlert(false)" [disabled]="isDownloadStarted">{{
			'PLAY_FROM_DEVICE' | translate }}</button>
		<ion-icon *ngIf="isDownloadStarted && downloadProgress !== 100" (click)="cancelDownload()" name="ios-close-circle-outline"
		 class="cancel-download" color="primary"></ion-icon>
		<!-- <button ion-button block *ngIf="!content?.downloadable && !isDownloadStarted" (click)="downloadContent()">
			{{ isDownloadStarted ? ('DOWNLOADING_1' | translate:{'%s': downloadProgress}) + ' %' : ('DOWNLOAD' | translate) }}
		</button> -->
		<button ion-button *ngIf="!content?.downloadable" (click)="downloadContent()" text-uppercase [ngClass]="{'text-font': isDownloadStarted && ('DOWNLOADING_1' | translate).length > 18}"
		 [ngStyle]="{'background': '-webkit-linear-gradient(left, rgba(0,73,153, 0.86) '  +downloadProgress+ '%, #006DE5 0%)', 'width': isDownloadStarted === true ? '80%' : '100%'}"
		 style="transition: all 0s ease 0s;">
			{{ isDownloadStarted ? ('DOWNLOADING_1' | translate:{'%s': downloadProgress}) + ' %' : ('DOWNLOAD' | translate) }}
		</button>
		<!-- Update content -->
		<button ion-button outline *ngIf="isUpdateAvail && content?.downloadable && downloadProgress !== 100" (click)="downloadContent()"
		 text-uppercase [ngStyle]="{'background': '-webkit-linear-gradient(left, #DBECFF '  +downloadProgress+ '%, white 0%)' , 'width': isDownloadStarted === true ? '80%' : '100%' , 'pointer-events': isDownloadStarted === true ? 'none': 'auto'}">
			{{ isDownloadStarted ? ('UPDATING_CONTENT' | translate:{'%s': downloadProgress}): ('UPDATE_CONTENT' |
			translate:{'%s': content?.size
			| fileSize}) }}
		</button>

	</ion-toolbar>

</ion-footer>


<!--- Ion footer  displays when content streaming is enabled -->

<ion-footer *ngIf="content && appGlobalService?.CONTENT_STREAMING_ENABLED">
	<ion-toolbar padding *ngIf="!content?.streamingUrl">
		<button ion-button block *ngIf="content?.downloadable" (click)="showSwitchUserAlert(false)"  [disabled]="isDownloadStarted">{{
			'PLAY_FROM_DEVICE' | translate }}</button>
		<ion-icon *ngIf="isDownloadStarted && downloadProgress !== 100" (click)="cancelDownload()" name="ios-close-circle-outline"
		 class="cancel-download" color="primary"></ion-icon>
		<!-- <button ion-button block *ngIf="!content?.downloadable && !isDownloadStarted" (click)="downloadContent()">
			{{ isDownloadStarted ? ('DOWNLOADING_1' | translate:{'%s': downloadProgress}) + ' %' : ('DOWNLOAD' | translate) }}
		 -->
		<button ion-button *ngIf="isDownloadStarted" (click)="downloadContent()" text-uppercase [ngClass]="{'text-font': isDownloadStarted && ('DOWNLOADING_1' | translate).length > 18}"
		 [ngStyle]="{'background': '-webkit-linear-gradient(left, rgba(0,73,153, 0.86) '  +downloadProgress+ '%, #006DE5 0%)', 'width': isDownloadStarted === true ? '80%' : '100%'}"
		 style="transition: all 0s ease 0s;">
			{{ isDownloadStarted ? ('DOWNLOADING_1' | translate:{'%s': downloadProgress}) + ' %' : ('DOWNLOAD' | translate) }}
		</button>
		<!-- Update content -->
		<button ion-button outline *ngIf="isUpdateAvail && content?.downloadable && downloadProgress !== 100" (click)="downloadContent()"
		 text-uppercase [ngStyle]="{'background': '-webkit-linear-gradient(left, #DBECFF '  +downloadProgress+ '%, white 0%)' , 'width': isDownloadStarted === true ? '80%' : '100%' , 'pointer-events': isDownloadStarted === true ? 'none': 'auto'}">
			{{ isDownloadStarted ? ('UPDATING_CONTENT' | translate:{'%s': downloadProgress}): ('UPDATE_CONTENT' |
			translate:{'%s': content?.size
			| fileSize}) }}
		</button>
</ion-toolbar>
	<ion-toolbar padding *ngIf="content?.streamingUrl">
		<button ion-button block *ngIf="!content?.downloadable" (click)="showSwitchUserAlert(true)" text-uppercase [disabled]="isDownloadStarted || !commonUtilService.networkInfo.isNetworkAvailable ? true : false">{{'PLAY_ONLINE'
			| translate}}</button>
		<ion-icon *ngIf="isDownloadStarted && downloadProgress !== 100" (click)="cancelDownload()"
		 name="ios-close-circle-outline" class="cancel-download" color="primary"></ion-icon>
		<button ion-button outline *ngIf="!content?.downloadable" (click)="downloadContent()" text-uppercase [ngClass]="{'text-font': isDownloadStarted && ('DOWNLOADING_1' | translate).length > 18}"
		 [ngStyle]="{'background': '-webkit-linear-gradient(left, #DBECFF '  +downloadProgress+ '%, white 0%)', 'width': isDownloadStarted === true ? '80%' : '100%'}"
		 style="transition: all 0s ease 0s;" [disabled]="isDownloadStarted">
			{{ isDownloadStarted ? ('DOWNLOADING_1' | translate:{'%s': downloadProgress}) + '%' : ('DOWNLOAD_CONTENT' |
			translate:{'%s': content?.size
			| fileSize}) }}
		</button>
		<!-- Update content -->
		<button ion-button outline *ngIf="isUpdateAvail && content?.downloadable && downloadProgress !== 100" (click)="downloadContent()"
		 text-uppercase [ngStyle]="{'background': '-webkit-linear-gradient(left, #DBECFF '  +downloadProgress+ '%, white 0%)' , 'width': isDownloadStarted === true ? '80%' : '100%' , 'pointer-events': isDownloadStarted === true ? 'none': 'auto'}">
			{{ isDownloadStarted ? ('UPDATING_CONTENT' | translate:{'%s': downloadProgress}): ('UPDATE_CONTENT' |
			translate:{'%s': content?.size
			| fileSize}) }}
		</button>
		<button ion-button block *ngIf="content?.downloadable" (click)="showSwitchUserAlert(false)" text-uppercase
		 [disabled]="isDownloadStarted">{{'PLAY_FROM_DEVICE'| translate}}</button>
	</ion-toolbar>
</ion-footer>