
page-content-details {
    .text-font {
        .button-inner{
            font-size: 1rem !important;
        }
    }
    .cancel-download {
        font-size: 50px;
        float: right;
        padding-top: 3px;
    }
    
    .scroll-content { 
        margin-bottom: 0px !important;
    }
}
