<ion-card (click)="navigateToCourseDetailPage(course, layoutName);">
  <ion-grid no-padding>
    <ion-row class="top-container" no-padding>
      <ion-col col-12>
        <div class="img-container">
        </div>
        <ion-badge class="badge" *ngIf="onProfile" color="light" item-end>{{course?.contentType}}</ion-badge>
        <img-loader src="{{ course?.courseLogoUrl || course?.appIcon || defaultImg }}"
          backgroundSize="cover"
          width="200px"
          height="95px"
          spinner="true"
          fallback="{{defaultImg}}"
          fallbackAsPlaceholder="true"
          (load)="onImageLoad($event)"></img-loader>
        <ion-label class="card-title">{{course?.courseName || course?.name}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="padding-top-8" [ngClass]="{'bottom-container' : layoutName !== 'SavedResources'}" no-padding>
      <ion-col col-8 *ngIf="layoutName === 'Popular' && pageName !== 'library'">
        <rating [(ngModel)]="course.progress" readOnly="true" max="5" no-padding></rating>
        <ion-label class="size_txt" no-margin *ngIf="course?.size">{{ 'FILE_SIZE_1' | translate }} [{{course?.size | fileSize }}]</ion-label>
      </ion-col>
      <!-- Saved Resources -->
      <ion-col col-8 *ngIf="layoutName === 'SavedResources'">
          <p style="font-size: 0.95em; padding-top: 3px;">{{ course?.contentType }}</p>
          <p style="font-size: 0.80em;">{{ 'SAVED_ON' | translate }} {{ course?.lastUpdatedOn | date: 'medium' | slice:0:6 }}...</p>
      </ion-col>
      <ion-col col-8 *ngIf="pageName === 'library'">
          <rating [(ngModel)]="course.progress" readOnly="true" max="5" no-padding></rating>
          <ion-label class="size_txt" no-margin *ngIf="course?.contentType">{{ course?.contentType }}</ion-label>
      </ion-col>
      <ion-col col-8 *ngIf="layoutName === 'Inprogress'" style="padding-top: 8px;">
        {{ 'COURSE_PROGRESS_COMPLETED_1' | translate }} {{course?.progress}} %
      </ion-col>
      <ion-col col-4>
        <button ion-button outline small float-end>
          <span *ngIf="layoutName === 'Inprogress'">{{ 'RESUME' | translate }}</span>
          <span *ngIf="layoutName !== 'Inprogress'">{{ 'OPEN' | translate }}</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
