 application-header {
    .sb-pt-6{
        padding-top: 6px;
    }
    ion-menu{
        .header-md::after{
            opacity: 0.2 !important;
        }
    }

    .sb-header-toolbar{
        padding: 0 $base-block-space !important;
    }

    @keyframes jump {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(-6px);
      }
    }

    .dw-icon{
        width: 20px;
    }

    .jump-animation{
        display: inline-block;
      animation: jump 2s infinite;
        position: relative;
    }
}
