parent-details {
    .mrgin-top-8{
        margin-top: 8px
    }

    ul {
        padding: 0px;
        margin: 0px;
  
        &.rating li {
          padding: 1px 1px !important;
          background: none;
          color: map-get($colors, primary);
  
          ion-icon {
            font-size: 16px;
          }
        }
      }
      .back-button-md {
        margin-left: -1px !important;
    }
}
