page-guest-edit.profile {

    ion-label{
        flex: unset !important;
    }
    
}

.multiple-select-alert .alert-head {
    padding: 8px 20px 8px !important;
}

.multiple-select-alert .alert-checkbox-label {
    text-transform: capitalize !important;
}

.select-wp{
    border-radius: 5px;
    height: 40px;
    border-width: 1px;

    .select-text{
        -webkit-align-self: center;
        align-self: center; 
    }
}