sb-download-popup {

    .sb-progress-percent-text {
        color: $primary-color;
        font-size: $h5-font-size;
        line-height: 22px;
    }.p-0 {
        padding: 0 !important;
    }
    .sb-popover-download.collapsed
    {
        z-index: 9;
    }

}