confirm-alert {

    .close-button.button-outline-md {
        border-color: transparent;
        color: #2e3f51;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        margin-top: 3px !important;
        height: 1.4em;
    }
    .close-button.button-outline-md .button-inner {
        padding-right: 14px;
    }
    .close-button.button-outline-md [icon-only] ion-icon {
        font-size: 1.4em;
    }
}

.confirm-alert-box .popover-content {
    margin: 0;
    width: 100vw !important;
    height: 20vh !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
    overflow-y: hidden;
}
.confirm-alert-box ion-backdrop {
    background-color: map-get($colors, dark) !important;
    opacity: 0.4 !important;
}

