<!-- Generated template for the AnnouncementList component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'ALL_ANNOUNCEMENTS' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="bordernone" *ngIf="announcementList && announcementList.length">
        <home-announcement-card *ngFor="let item of announcementList" [announcement]="item"></home-announcement-card>
    </div>
    <div *ngIf="announcementList && announcementList.length === 0 && !showLoader">No data found</div>
    <ion-spinner *ngIf="showLoader" padding></ion-spinner>
    <ion-infinite-scroll *ngIf="enableInfiniteScroll" (ionInfinite)="doInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>