page-course-search {
    
}

.sb-card-container .sb-card-textbook-container{
    .sb-card{
        .sb-card-details{
            .title {
                width:100%;
                overflow:hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-weight: bold;
                font-size:($font-size-base + 2);
                color: $gray-800;
              }
        } 
    }
}
