page-textbook-view-more {

    .sb-card-textbook-container, .sb-card-view-all-container{
        
        textbook-card {
          .sb-card{
             border-bottom: 0.5px solid rgba(151, 151, 151, 0.40);
            &:last-child{
               border-bottom: 0.5px solid rgba(151, 151, 151, 0.40);
            }
          }
        }
      }
}
