<ion-content>
  <ion-grid padding>
    <ion-row class="display-inline">
      
        <p class="page-title"> {{ 'WHAT_WENT_WRONG' | translate }}</p>
    </ion-row>
    <form [formGroup]="reportIssues">
      <ion-row *ngFor="let issue of issues.controls; let i=index" class="negative-margin-6">
        <ion-item no-lines padding-no>
          <ion-label margin-no text-capitalize>{{ options.issues[i].name | translate }}</ion-label>
          <ion-checkbox [formControl]="issue"></ion-checkbox>
        </ion-item>
      </ion-row>
      <br/>
      <ion-row class="display-inline">
        <ion-item no-lines padding-no>
          <ion-input class="form-control additional-comment" formControlName="comment" placeholder="{{ 'FLAG_CONTENT_COMMENT_PLACEHOLDER' | translate }}"></ion-input>
        </ion-item>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-12 text-center>
      <button ion-button block (click)="submit(reportIssues.value)">{{ 'CONFIRM' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>