<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h3> {{ 'WHAT_WENT_WRONG' | translate }}</h3>
      </ion-col>
    </ion-row>

    <form [formGroup]="reportIssues">
      <ion-row *ngFor="let issue of issues.controls; let i=index">
        <ion-item no-lines padding-no>
          <ion-label margin-no text-capitalize>{{ options.issues[i].name | translate }}
            <ion-icon ios="ios-help-circle" md="md-help-circle"></ion-icon>
          </ion-label>
          <ion-checkbox [formControl]="issue"></ion-checkbox>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-textarea class="form-control" formControlName="comment"></ion-textarea>
        </ion-item>
      </ion-row>
      <!-- <button type=”submit”>Submit</button> -->
      <ion-row>
          <ion-col col-12 text-center>
            <button ion-button block (click)="submit(reportIssues.value)">{{ 'CONFIRM' | translate }}</button>
          </ion-col>
        </ion-row>
    </form>
  </ion-grid>
</ion-content>