report-issues {
    ion-item {
        padding-left: 0px !important;
    
        .checkbox {
          margin: 8px !important;
        }
    
        ion-label {
          font-size: 14px !important;
          text-overflow: unset !important;
          white-space: unset !important;
        }
    
      }
      .display-inline {
        display: inline;
      }
      .page-title {
        color: map-get($colors, dark);
        margin-bottom: 3%;
        font-size: 1.6rem;
        padding: 0;
        margin-left: 0;
        font-weight: bold;
      }
      .additional-comment {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid gray;
        padding-top: 12px;
      }
      .negative-margin-6{
        margin-left: -6px;
      }
}

.report-issue-box .popover-content {
    margin: 0;
    width: 100% !important;
    height: auto;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
  }
  
  .report-issue-box ion-backdrop {
    background-color: #000 !important;
    opacity: 0.4 !important;
  }