<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <div padding *ngIf="announcementDetail">
            <div class="border-bottom">
                <div class="announcement-type">{{announcementDetail?.type}}</div>
                <div class="margin-top">{{announcementDetail?.description}}</div>
                <div class="margin-top">{{announcementDetail?.from}}</div>
                <div class="margin-top" *ngIf="announcementDetail?.links">
                    <span>{{'WEBLINKS' | translate}}</span>
                    <div *ngFor="let webLink  of  announcementDetail?.links">
                        <a (click)="openLink(webLink)">{{webLink}}</a>
                    </div>
                </div>
                <div class="margin-top" *ngIf="announcementDetail?.attachments">
                    <span>{{'ATTACHMENTS' | translate}}</span>
                    <pb-horizontal *ngIf="showProgressBar" [progress]="progress" [isOnBoardCard]="isAttachment"></pb-horizontal>
                    <ion-list style="border:1px solid #efeff4" *ngFor="let item of announcementDetail?.attachments">
                        <ion-item>
                            <ion-avatar item-start style="border:1px solid #efeff4">
                                <img src="assets/imgs/ic_action_attachment.png">
                            </ion-avatar>
                            <h2 class="ellipsis">{{item.name}}</h2>
                            <p>{{item?.size}}</p>
                            <button (click)="downloadattachment(item.link)" style="border: 1px solid  steelblue;background-color:white;color:steelblue"
                                ion-button item-end>View</button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="margin-top">
                <div style="display:inline-block">{{'SENT_ON' | translate}} {{ announcementDetail?.createdDate | date:'MMM d, y,'}}</div>
                <div style="display:inline-block" class="share-icon" float-end>
                    <img (click)="share(announcementDetail)" src="assets/imgs/ic_share_black.png" />
                </div>
            </div>
        </div>
    </ion-list>
</ion-content>