upgrade-popover {
    .scroll {
        height: 15vh;
        overflow: scroll;
        overflow-y: visible;
    }
    ion-app.md [padding-horizontal] .scroll-content {
        @include padding(null, 1px !important);
    }
    ion-app.md [padding-top] .scroll-content {
        padding-top: 0 !important;
    }

    
}
.upgradePopover { 
    height: auto;
    max-height: 65vh;
    ion-content {
        padding: 1px 16px !important;
    }
    .popover-content {
        padding: 1px !important;
        top: 20vh !important;
        width: 80vw !important;
        @include ltr() {
            left: 10vw !important;
            right: 10vw !important;
        }
    
        @include rtl() {
            right: 10vw !important;
            left: 10vw !important;
        }
    }
    ion-backdrop {
    background-color: map-get($colors, dark) !important;
    opacity: 0.2 !important;
    height: 100vh;
}}
