upgrade-popover {
    .scroll {
        height: 15vh;
        overflow: scroll;
        overflow-y: visible;
    }
    ion-app.md [padding-horizontal] .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    ion-app.md [padding-top] .scroll-content {
        padding-top: 0 !important;
    }
}
.upgradePopover { 
    height: auto;
    max-height: 65vh;
    .popover-content {
        top: 20vh !important;
        left: 10vw !important;
        right: 10vw !important;
        width: 80vw !important;
    }
    ion-backdrop {
    background-color: map-get($colors, dark) !important;
    opacity: 0.2 !important;
    height: 100vh;
}}
