<ion-content padding-top padding-horizontal>
    <div text-center>
        <img src="assets/imgs/ic_launcher.png" height="70" width="70" />
        <h6>
            <b>{{upgradeType.upgrade.title}}</b>
        </h6>
        <p class="scroll">{{upgradeType.upgrade.desc}}</p>
    </div>

</ion-content>
<ion-footer no-border padding>
    <ion-row *ngIf="!isMandatoryUpgrade && upgradeType?.upgrade?.actionButtons[1]?.action === 'no'">
        <button ion-button block outline small (click)="cancel() ">{{ upgradeType?.upgrade?.actionButtons[1]?.label }}</button>
    </ion-row>
    <ion-row *ngIf="upgradeType?.upgrade?.actionButtons[0]?.action === 'yes'">
        <button ion-button block small (click)="upgrade(upgradeType?.upgrade?.actionButtons[0]?.link) ">{{ upgradeType?.upgrade?.actionButtons[0]?.label }}</button>
    </ion-row>
</ion-footer>