<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-genie-sdk"
    version="1.0.0">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <framework src="build-extras.gradle" custom="true" type="gradleReference"/>

    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="GenieSDK" />
    </js-module>
    <js-module src="www/telemetry.js" name="telemetry">
        <clobbers target="telemetry" />
    </js-module>
    <js-module src="www/content.js" name="content">
        <clobbers target="content" />
    </js-module>
    <js-module src="www/auth.js" name="auth">
        <clobbers target="auth" />
    </js-module>
    <js-module src="www/event.js" name="event">
        <clobbers target="event" />
    </js-module>
     <js-module src="www/downloadService.js" name="downloadService">
        <clobbers target="downloadService" />
    </js-module>
    <!-- android -->
    <platform name="android">

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GenieSDK">
          <param name="android-package" value="org.genie.GenieSDK" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/org/genie/GenieSDK.java" target-dir="src/org/genie/" />
      <source-file src="src/android/org/genie/TelemetryHandler.java" target-dir="src/org/genie/" />
      <source-file src="src/android/org/genie/ContentHandler.java" target-dir="src/org/genie/" />
      <source-file src="src/android/org/genie/AuthHandler.java" target-dir="src/org/genie/" />
      <source-file src="src/android/org/genie/GenieEventHandler.java" target-dir="src/org/genie/" />
      <source-file src="src/android/org/genie/GenieSdkEventListener.java" target-dir="src/org/genie/" />
      <source-file src="src/android/org/genie/DownloadService.java" target-dir="src/org/genie/" />

    </platform>

    <!-- ios -->
    <!-- <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="GenieSDK" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MyCordovaPlugin">
                <param name="ios-package" value="MyCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MyCordovaPlugin.h" />
        <source-file src="src/ios/MyCordovaPlugin.m" />
    </platform> -->
</plugin>
