sb-no-network-popup {

    .no-net-heading{
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
        padding-left: $base-block-space * 0.5;
    }

    .no-net-message{
        font-size: $font-size-xs;
        padding-left: $base-block-space * 0.5;
    }

    .no-net-popup{
        background-color: #E55A28 !important;
        color: $white-color !important;
    }

    .no-net-close-btn{
        font-size: 24px;
        float: right;
    }

}
