page-course-filter {
    background: red;

    .subtitle {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
    }

    .filter-item {
        width: auto;
        margin: 16px !important;
        background-color: #f1f1f1;
        color: #b3b3b3;

        ion-icon {
            color: #b3b3b3;
        }
    }

    .apply-button {
        margin: 16px !important;
        width: 90%;
    }

    .overlay {
        width: 100% !important;
        height: 100% !important;
        background-color: red;
        z-index: 100;
    }


}

.course-filter .popover-content {
    margin: 0;
    width: 100% !important;
    height: auto !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
}

.course-filter ion-backdrop {
  background-color: #000 !important;
  opacity: 0.4 !important;
}
