reports-page {
    .settings-item-style {
        padding-top:5px;
    }
    ion-icon{
        font-size: 22px !important;
        font-weight: 550;
    }
    .bgColor{
        background-color: #f7f7f7;
        border-radius: 3px;
    }
    .marginTop{
        margin-top: 15px !important
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{

        background-image: none;
    }
    .item-md.item-block .item-inner {
    border-bottom: 0 !important;
    }
    .subTitle {
        font-size: 1.4rem;
        font-weight: 700;
      }
}
