/* global styles */

// *{
//   transition: all 300ms ease-in-out
//   }
html,
body {
  height: 100%;
  // font-size:$font-size-base;
}
body {
  // background:$bg-body;
  position: relative;
  font-family: $font-stack-en;
}
