<ion-header>
  <ion-navbar>
    <ion-title>{{ 'TITLE_EXPERIENCE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="experienceForm" class="form">
    <ion-item>
      <ion-label stacked>{{ 'JOB_NAME' | translate }}
        <span ion-text color="danger">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" formControlName="jobName" placeholder="{{ 'JOB_NAME' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'ORGANIZATION' | translate }}
        <span ion-text color="danger">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" formControlName="orgName" placeholder="{{ 'ORGANIZATION' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'POSITION' | translate }}</ion-label>
      <ion-input type="text" formControlName="role" placeholder="{{ 'OPTIONAL' | translate }}"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label stacked>{{ 'SUBJECTS' | translate }}</ion-label>
      <ion-select formControlName="subject" [selectOptions]="subjectOptions" okText="{{'OKAY' | translate}}" cancelText="{{'CANCEL' | translate}}"
        multiple="true" placeholder="{{ 'SELECT' | translate }}">
        <ion-option *ngFor="let subject of subjectList" text-capitalize value="{{subject}}">{{subject}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-label stacked>{{ 'IS_THIS_YOUR_CURRENT_JOB' | translate }}</ion-label>
    <ion-row radio-group formControlName="isCurrentJob">
      <ion-col col-4>
        <ion-item no-lines>
          <ion-label class="radio-label">{{ 'YES' | translate }}</ion-label>
          <ion-radio class="radio-margin" (ionSelect)="currentJob=true" item-left value="true"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item no-lines>
          <ion-label class="radio-label">{{ 'NO' | translate }}</ion-label>
          <ion-radio (ionSelect)="currentJob=false" item-left value="false"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>{{ 'FROM' | translate }}</ion-label>
        <ion-icon name="calendar"></ion-icon>
        <ion-datetime formControlName="joiningDate" displayFormat="DD-MM-YYYY" pickerFormat="DDDD MMMM YYYY" min="1950" [max]="todayDate"
          placeholder="{{ 'SELECT_DATE' | translate }}" cancelText="{{'CANCEL' | translate}}" doneText="{{'DONE' | translate}}"
          (ionChange)="changeJoiningDate()">
        </ion-datetime>
      </ion-col>
      <ion-col *ngIf="!currentJob">
        <ion-label>{{ 'TO' | translate }}</ion-label>
        <ion-icon name="calendar"></ion-icon>
        <ion-datetime formControlName="endDate" displayFormat="DD-MM-YYYY" pickerFormat="DDDD MMMM YYYY" [min]="joiningDate" [max]="todayDate"
          placeholder="{{ 'SELECT_DATE' | translate }}" cancelText="{{'CANCEL' | translate}}" doneText="{{'DONE' | translate}}">
        </ion-datetime>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col padding *ngIf="!isNewForm">
      <button ion-button block outline type="submit" (click)="showDeleteConfirm()" class="text-capitalize">{{ 'DELETE' | translate }}</button>
    </ion-col>
    <ion-col padding>
      <button ion-button block [disabled]="!experienceForm.valid" type="submit" (click)="onSubmit()" class="text-capitalize">{{ 'SAVE' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>
