page-experience {
    .form ion-label {
        @extend .text-uppercase;
    }
    .item-md {
        padding-left: 0 !important;
    }
    ion-radio {
        margin: 0 5px 0 0 !important;
    }
    ion-datetime {
        display: inline-flex !important;
    }
    .radio-label {
        font-size: 1.2rem;
        text-transform: capitalize !important;
    }
}

.alert-wp.confirm-alert .alert-wrapper {
    border: unset !important;
    background: white !important;
    bottom: 0;
    position: fixed;
}


.alert-wp.confirm-alert .closeButton {
text-align: right;
position: absolute;
width: 5px !important;
top: 3px;
z-index:1000;
background-color: transparent !important;
font-size:18px !important;
font-weight: 600 !important;
padding-top: 12px !important;

}


.alert-btn-cancel.alert-button {
    font-weight: 600 !important;
    background: transparent;
    color: map-get($colors, primary) !important;
    border-color: map-get($colors, primary);
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px !important;
    overflow: hidden;
    height: 4.3rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.alert-btn-delete.alert-button{
    font-weight: 600 !important;
    background:  map-get($colors, primary) !important;
    color: white !important;
    border-color: map-get($colors, primary);
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px !important;
    overflow: hidden;
    height: 4.3rem;
    font-size: 1.4rem;
    font-weight: 700;

}
.alert-wp ion-backdrop {
    background: black !important;
}
.alert-wp .alert-button:first-child:not(:only-child) {
    margin-right: 7% !important;
}
.alert-wp .alert-button {
    width: 46% !important;
    // font-weight: 400;
    // color: #000;
    // background: #b8b8b8;
}
.alert-wp .alert-title {
    font-size: 1.7rem !important;
    font-weight: 600 !important;
}
// h2{
// line-height: 0 !important;
// }
.alert-wp .alert-button-group{
    display: inline-block !important;

}
.alert-button{
    display: unset !important;
}