page-guest-profile {
  .profile-name {
    color: map-get($colors, dark);
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding: 5px;
    font-weight: bold;
  }

  .custom-avatar {
    height: 22vw;
    width: 22vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .info-title {
    color: #696969;
    font-size: 0.9em;
    font-weight: 500;
  }

  .section-title {
    color: map-get($colors, dark);
    margin-bottom: 3%;
    font-size: 1.6rem;
    padding: 0;
    margin-left: 0;
    font-weight: bold;
  }
}
