page-guest-profile {
  .profile-name {

    color: map-get($colors, dark);
    margin: 0;
    font-size: 1.6rem;
    padding: 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    /* display: table-row; */
    display: -ms-flexbox;
    /* white-space: nowrap; */
    /* display: flex; */
  }
  .user{
    text-align: center !important;
    padding-left: 1em !important;
  }
  .editIcon{
    margin-left: 5px;
    font-size: 1.8rem !important;
  }
  .change-role {
    color: dodgerblue;
    text-align: center;
    margin-right: 10px;
    font-size: 1.2rem;
    padding:0 2px 2px 2px;
    font-weight: normal;
    margin: 0;
  }
  .user-type {
    color: map-get($colors, dark);
    text-align: center;
    margin-right: 10px;
    font-size: 1.2rem;
    padding: 2px;
    font-weight: bold;
    margin: 0;
  }
  .offline-message{
    background-color: red !important;
    line-height: 2.5em !important;
    text-align: center !important;
    color: white;
    top: 0px;
    position: sticky;
    z-index: 11;
    display: block;
    width: 100%;
  }
  .custom-avatar {
    height: 22vw;
    width: 22vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .info-title {
    color: map-get($colors, dark_gray);
    font-size: 1.2rem;
    font-weight: 700;
  }
  .section-title {
    color: map-get($colors, dark);
    margin-bottom: -5px !important;
    font-size: 1.7rem;
    padding: 0;
    margin-left: 0;
    font-weight: 700;
  }
  .page-content {
    font-weight: 600;
    color: map-get($colors, secondary_black);
  }
  .vertical-align{
    vertical-align: sub;
    color: #979797;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .text-align{
    width:90%;
    display:inline-block;
    vertical-align:top;
  }
  .icon-align{
    margin-left: 2px;
     size: 2px;
      display:inline-block;
  }
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

/* Hide extra margin of the popover-controller */

.box {
  .popover-content{
    min-width: 96px;
    width: auto;
    display: inline-block;
    height: auto !important;
  }
  .list.list-md {
    margin-bottom: 0 !important;
  }
  .item-md {
    padding-left: 0 !important;
  }
  .label-md {
    margin-left: 16px;
  }
}

.signin-card-bg {
  background-color: map-get($colors, light_gray);
  padding-top: 10px;
  padding-bottom: 10px;
}
