page-resource-filter-options {
    ion-item {
        padding-left: 0px !important;

        .checkbox {
            margin: 8px !important;
        }

        ion-label {
            font-size: 14px !important;
            text-overflow: unset !important;
            white-space: unset !important;
        }
    }
}

.resource-filter-options .popover-content {
    margin: 0;
    width: 100% !important;
    height: 80% !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
}
