report-alert {
  .msg {
    color: white;
    font-size: medium;
    background-color: blue;
  }
  .input-wrapper {
    @include padding(null, 16px !important);
  }
  .row-align {
    @include padding(10px, 16px !important);
  }
  .item-ios {
    @include padding(null, null, null, 0 !important);
  }
  .item-md {
    @include padding(null, null, null, 0 !important);
  }
  .assessmentDetails h3 {
    white-space: normal;
  }
}

.report-alert .popover-content {
  margin: 0;
  width: 100% !important;
  max-height: 62vh !important;
  box-shadow: unset;
  position: fixed;
  @include ltr() {
    left: 0 !important;
  }
  @include rtl() {
    right: 0 !important;
  }
  top: unset !important;
  bottom: 0 !important;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
}

.report-alert ion-backdrop {
  background-color: #000 !important;
  opacity: 0.4 !important;
}