report-alert {
  .msg {
    color: white;
    font-size: medium;
    background-color: blue;
  }
  .input-wrapper {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .row-align {
    padding: 10px 16px !important;
  }
  .item-ios {
    padding-left: 0;
  }
  .item-md {
    padding-left: 0 !important;
  }
  .assessmentDetails h3 {
    white-space: normal;
  }
}

.report-alert .popover-content {
  margin: 0;
  width: 100% !important;
  max-height: 62vh !important;
  box-shadow: unset;
  position: fixed;
  left: 0 !important;
  top: unset !important;
  bottom: 0 !important;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
}

.report-alert ion-backdrop {
  background-color: #000 !important;
  opacity: 0.4 !important;
}