/* Sb-side menu Styling */
.sb-header {
  .bar-buttons-md.sb-hamburger,.bar-buttons-ios.sb-hamburger {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
  }
  .toolbar-ios {
      @include padding(0);
  }
  .toolbar-background.toolbar-background-md, .toolbar-background.toolbar-background-ios{
      background: $white;
  }
}
.sb-side-menu {
ion-label {
    display: flex;
    align-items: center;
    @include margin(0, 0 , 0 , 0);  
}
div 
{
  display: block;
}
.label-md{
 padding: 16px;
}
.img-container{
    height:($base-block-space * 4);
    width: ($base-block-space * 4);
    // background-color: $gray-0;
    vertical-align: bottom;
    @include margin(0, $base-block-space, 0, 0);
}
.toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color:$white;
  .toolbar-background-md,.toolbar-background-ios{
    background-color: $white;
  }

}
.toolbar-md,.toolbar-ios{
  min-height:($base-block-space * 9);
}

.toolbar-title {
  color: $primary-color;
  overflow: hidden;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  white-space: unset;
  align-items: center;

  .app-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
  }
}
.sb-menu-list  {

    .sb-menu-icon
    {
        width : ($base-block-space * 3);
        height: ($base-block-space * 3);
        align-items: center;
        div 
        {
          display: flex;
          flex-direction: column;
        }
    }
  
  .item {
    color: $primary-color;
    font-size: $font-size-base;
    line-height: normal;
    min-height: ($base-block-space * 6);
    @include margin (0,0,0,0);
    padding-left: 0;
    .item-inner {
      border-bottom: 0;
    }
    ion-icon {
      font-size:(($font-size-base * 2) - 4);
    }
    .sb-menu-item{
        @include margin(0,0,0,$base-block-space); 
    }
    .sb-menu-item-language{
      @include margin(0,0,0,$base-block-space); 
      color: $gray-100;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
.side-menu-footer {
  @include padding($base-block-space * 2);
  background-color: $gray-0;
  width: 100%;
  font-size: ($font-size-base);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-200;
  height: $base-block-space * 7;
  align-items: center;
  display: flex;
}

}
