<ion-content padding *ngIf="!changePermissionAccess">
  <p class="permission-title mt-0">{{'PERMISSION_REQUIRED_TITLE' | translate }}</p>
  <div class="permission-container">
    <div *ngFor="let item of permissionList" class="item-row d-flex mb-16">
      <div class="icon-col pr-16">
        <ion-icon item-start name="{{item?.icon}}"></ion-icon>
      </div>
      <div class="pl-16">
        <p class="title m-0 mb-8">{{item?.title}}</p>
        <p class="description">{{item?.description}}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer padding *ngIf="!changePermissionAccess">
  <button ion-button block (click)="onSyncClick()">{{'GRANT_ACCESS' | translate}}</button>
  <button ion-button block outline class="mt-8" (click)="onSyncClick()">{{'NOT_NOW' | translate}}</button>
</ion-footer>

<!-- For Edit permission page -->
<ion-content *ngIf="changePermissionAccess" padding-vertical class="changePermissionAccess">
  <div>
    <p class="permission-title" class="pl-16">{{'PERMISSION_EDIT_TITLE' | translate}}</p>
  </div>
  <div class="permission-container">
    <div *ngFor="let item of permissionList" class="item-row mb-16 d-flex">
      <div style="flex-grow:1000;" class="pl-16">
        <p class="title m-0 mb-8">{{item?.title}}</p>
        <p class="description">{{item?.description}}</p>
      </div>
      <div class="toggle-col">
        <ion-toggle class="pt-0" color="secondary" value="foo" checked="true"></ion-toggle>
      </div>
    </div>
  </div>
</ion-content>