<ion-header>
  <ion-row class="display-inline">
    <div float-start style="margin-left : 10px;">
      <p class="title heading1">{{ 'CREDITS' | translate }}</p>
    </div>
    <div float-end (click)="cancel()">
      <img src="assets/imgs/ic_action_close.png" class="tool-icon" float-end />
    </div>
  </ion-row>
  <br />
</ion-header>
<ion-content>
  <ion-grid padding>
    <div *ngIf="content?.creators || content?.creator">
      <ion-row class="text-gray-color">
        {{ 'CREATORS' | translate:{'%s': appName} }}
      </ion-row>
      <ion-row class="content">
        {{mergeProperties('creators', 'creator')}}
      </ion-row>
    </div>
    <div *ngIf="content?.contributors || content?.owner">
      <ion-row class="text-gray-color">
        {{ 'CONTRIBUTORS' | translate }}
      </ion-row>
      <ion-row class="content">
        {{mergeProperties('contributors', 'owner')}}
      </ion-row>
    </div>
    <div *ngIf="content?.attributions">
      <ion-row class="text-gray-color">
        {{ 'ATTRIBUTIONS' | translate }}
      </ion-row>
      <ion-row class="content">
       {{content?.attributions}}
      </ion-row>
    </div>
  </ion-grid>
</ion-content>