// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/opensans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/opensans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/opensans/OpenSans-ExtraBold.ttf');
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

h6 {
  font-family: "OpenSans/Bold" !important;
}
.font-size-14rem {
  font-size: 1.4rem !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.span-semibold {
  font-family: 'OpenSans/Semibold';
}

.content-meta-title {
  font-family: 'OpenSans/Regular' !important;
  font-weight: 600;
  color: gray;
}

.tool-icon {
  width: 25px;
  height: 25px;
  margin: 10px;
  float: right;
}

.header-title {
  font-size: 20px;
  height: 100%;
  vertical-align: middle;
}

// Re-usable css
.padding-bottom-5 {
  padding-bottom: 5px;
}

.text-align-end {
  text-align: end;
}

.margin-top-5 {
  margin-top: 5px;
}

.height-25 {
  height: 25%;
}

.border-radius-5 {
  border-radius: 5px;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.margin-top-0 {
  margin-top: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-top-16{
  padding-top: 16px;
}

.margin-top-3{
  margin-top: 2px !important;
}

.tabbar,
.tabs-ios,
.tabs-md,
.tabs-wp {
  .tab-button-icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    &:before {
      display: none;
    }
  }
}

.tabs-ios {
  a[aria-selected=false] {
    .tab-button-icon[ng-reflect-name=courses],
    .tab-button-icon[aria-label=courses] {
      background-image: url(../assets/imgs/ic_courses.png);
    }
    .tab-button-icon[ng-reflect-name=home],
    .tab-button-icon[aria-label=home] {
      background-image: url(../assets/imgs/ic_home.png);
    }
    .tab-button-icon[ng-reflect-name=resources],
    .tab-button-icon[aria-label=resources] {
      background-image: url(../assets/imgs/ic_notebook.png);
    }
    .tab-button-icon[ng-reflect-name=groups],
    .tab-button-icon[aria-label=groups] {
      background-image: url(../assets/imgs/ic_chat.png);
    }
    .tab-button-icon[ng-reflect-name=profile],
    .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/ic_profile.png);
    }
  }
  a[aria-selected=true] {
    //führ eventuellen text
    //span {
    //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=courses],
    .tab-button-icon[aria-label=courses] {
      background-image: url(../assets/imgs/ic_courses_blue.png);
    }
    .tab-button-icon[ng-reflect-name=home],
    .tab-button-icon[aria-label=home] {
      background-image: url(../assets/imgs/ic_home_blue.png);
    }
    .tab-button-icon[ng-reflect-name=resources],
    .tab-button-icon[aria-label=resources] {
      background-image: url(../assets/imgs/ic_notebook_blue.png);
    }
    .tab-button-icon[ng-reflect-name=groups],
    .tab-button-icon[aria-label=groups] {
      background-image: url(../assets/imgs/ic_chat_blue.png);
    }
    .tab-button-icon[ng-reflect-name=profile],
    .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/ic_profile_blue.png);
    }
  }
}

.tabs-md {
  a[aria-selected=false] {
    .tab-button-icon[ng-reflect-name=courses],
    .tab-button-icon[aria-label=courses] {
      background-image: url(../assets/imgs/ic_courses.png);
    }
    .tab-button-icon[ng-reflect-name=home],
    .tab-button-icon[aria-label=home] {
      background-image: url(../assets/imgs/ic_home.png);
    }
    .tab-button-icon[ng-reflect-name=resources],
    .tab-button-icon[aria-label=resources] {
      background-image: url(../assets/imgs/ic_notebook.png);
    }
    .tab-button-icon[ng-reflect-name=groups],
    .tab-button-icon[aria-label=groups] {
      background-image: url(../assets/imgs/ic_chat.png);
    }
    .tab-button-icon[ng-reflect-name=profile],
    .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/ic_profile.png);
    }
  }
  a[aria-selected=true] {
    //führ eventuellen text
    //span {
    //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=courses],
    .tab-button-icon[aria-label=courses] {
      background-image: url(../assets/imgs/ic_courses_blue.png);
    }
    .tab-button-icon[ng-reflect-name=home],
    .tab-button-icon[aria-label=home] {
      background-image: url(../assets/imgs/ic_home_blue.png);
    }
    .tab-button-icon[ng-reflect-name=resources],
    .tab-button-icon[aria-label=resources] {
      background-image: url(../assets/imgs/ic_notebook_blue.png);
    }
    .tab-button-icon[ng-reflect-name=groups],
    .tab-button-icon[aria-label=groups] {
      background-image: url(../assets/imgs/ic_chat_blue.png);
    }
    .tab-button-icon[ng-reflect-name=profile],
    .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/ic_profile_blue.png);
    }
  }
}

.tabs-wp {
  a[aria-selected=false] {
    .tab-button-icon[ng-reflect-name=courses],
    .tab-button-icon[aria-label=courses] {
      background-image: url(../assets/imgs/ic_courses.png);
    }
    .tab-button-icon[ng-reflect-name=home],
    .tab-button-icon[aria-label=home] {
      background-image: url(../assets/imgs/ic_home.png);
    }
    .tab-button-icon[ng-reflect-name=resources],
    .tab-button-icon[aria-label=resources] {
      background-image: url(../assets/imgs/ic_notebook.png);
    }
    .tab-button-icon[ng-reflect-name=groups],
    .tab-button-icon[aria-label=groups] {
      background-image: url(../assets/imgs/ic_chat.png);
    }
    .tab-button-icon[ng-reflect-name=profile],
    .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/ic_profile.png);
    }
  }
  a[aria-selected=true] {
    //führ eventuellen text
    //span {
    //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=courses],
    .tab-button-icon[aria-label=courses] {
      background-image: url(../assets/imgs/ic_courses_blue.png);
    }
    .tab-button-icon[ng-reflect-name=home],
    .tab-button-icon[aria-label=home] {
      background-image: url(../assets/imgs/ic_home_blue.png);
    }
    .tab-button-icon[ng-reflect-name=resources],
    .tab-button-icon[aria-label=resources] {
      background-image: url(../assets/imgs/ic_notebook_blue.png);
    }
    .tab-button-icon[ng-reflect-name=groups],
    .tab-button-icon[aria-label=groups] {
      background-image: url(../assets/imgs/ic_chat_blue.png);
    }
    .tab-button-icon[ng-reflect-name=profile],
    .tab-button-icon[aria-label=profile] {
      background-image: url(../assets/imgs/ic_profile_blue.png);
    }
  }
}

/* For changing the input placeholder based on Language Direction  */

input::placeholder {
  @include ltr() {
    text-align: left;
  }
  @include rtl() {
    text-align: right;
  }
}

.width-100 {
  width: 100%;
}

/* Ionic component Overrides */
.toolbar-title-md {
  font-weight: 600 !important;
}

/* Rating Component Global class */
ul.rating .ion-md-star-outline:before {
  content: "\f384" !important; //Change Outline star to filled star
  color: map-get($colors, dark_gray) !important; // Change the (fill) color of the Icon
}

/* Customization for ion-select  */

.select-box .alert-wrapper {
  margin: 0;
  width: 100vw !important;
  max-width: unset !important;
  max-height: 65vh;
  height: auto !important;
  box-shadow: unset;
  position: fixed;
  left: 0 !important;
  top: unset !important;
  bottom: 0;
  -webkit-transform-origin: bottom -100% !important;
  transform-origin: bottom -100% !important;
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  overflow-y: hidden;
  border: unset;
  background: map-get($colors, white);
}

.select-box {
  .alert-head {
    padding: 14px 14px !important;
  }
  .alert-title {
    font-size: 1.4rem !important;
    font-weight: 700;
  }
  ion-backdrop {
    background-color: map-get($colors, black) !important;
    opacity: 0.4 !important;
  }
}

.select-box.alert-md .alert-button:first-child:not(:only-child) {
  background: transparent !important;
  color: map-get($colors, primary) !important;
  margin-right: 1%;
}

.select-box.alert-md .alert-button:last-child:not(:only-child) {
  background: map-get($colors, primary) !important;
  color: map-get($colors, white) !important;
  margin-left: 5%;
}

.select-box.alert-md .alert-checkbox-group {
  max-height: 35vh !important;
  height: auto;
}

.select-box.alert-md .alert-button {
  margin-right: 1%;
  border-color: map-get($colors, primary);
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px !important;
  overflow: hidden;
  height: 4.3rem;
  font-size: 1.4rem;
  width: 46% !important;
  font-weight: 700;
}

.select-box.alert-md .alert-button-group {
  display: inline-block !important;
}

.select-box .alert-button {
  display: unset !important;
  .button-inner {
    justify-content: center;
  }
}

.user-popover {
  .popover-content{
    min-width: 96px;
    width: auto;
    display: inline-block;
    height: auto !important;
  }
  .list.list-md {
    margin-bottom: 0 !important;
  }
  .item-md {
    padding-left: 0 !important;
  }
  .label-md {
    margin-left: 16px;
  }
}

.line-height-2 {
  line-height: 2rem !important;
}

.circle {
  display: map-get($colors, gray);
  background: map-get($colors, gray);;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0;
}