page-resources {
ion-spinner {
    display: block;
    margin: auto;
  }
  ion-spinner * {
    stroke:$blue !important;
  }

  .sb-card-textbook-container, .sb-card-view-all-container{
    .sb-card-textbook{
    textbook-card {
      .sb-card{
         border-bottom: 0.5px solid rgba(151, 151, 151, 0.40);
        &:last-child{
           border-bottom: 0.5px solid rgba(151, 151, 151, 0.40);
        }
      }
      // &:last-child{
      //   .sb-card{
      //     border-bottom: none;
      //   }
      // }
    }
  }
  }
  .spinner-align{
    margin: 40px; 
    padding-top: 30px;
  } 
  .scrollable-container{
   margin-top:112px;
  }
  .fixed-container{
    width: 100%;
  }
  .main-container{
   background: #FFF
  }
  .offline-header{
    color: $gray-300;
    font-size: 16px;
  }
  .offline-content{
    color:$gray-300 !important;
    width:65%; 
    margin: auto;
  }

  .view-all-p8{
    padding: 0 $base-block-space !important;
  }
  #couchMark {
    position: fixed;
  }

  .skeleton-rectangle {
    width: 56px;
    height: 56px;
    border-radius: 2px;
    @extend .animated-background;
  }

  .skeleton-title, .skeleton-text {
    height: 14px;
    border-radius: 2px;
    margin-bottom: 8px;
    @extend .animated-background;
  }
  .skeleton-text {
    height: 8px;
    width: 80%;
  }
  .animation-background {
    padding: 0px 8px 0px 8px;
    background-color: #f2f2f2;
  }
}

.sb-view-more {
  background: #EDF4F9;
  text-align: center;
  padding: $base-block-space * 2;
  color:  $primary-color;
  font-weight: bolder;
}
