page-resources {
    .inner {
        width: auto;
        height: 100%;

        course-card {
          display: table-cell;
        }
      }
      .inprogress-courses {
        .bottom-container{
          background: #efeff4;
        }
      }

      .custom-ion-content {
        background: rgb(245, 245, 245)
      }

      .scroll-heading {
        padding-top: 10px;
        font-weight: 500;
        font-family: 'sunbirdboldfont';
        font-size: 1.350em;
      }
      .view-all-link {
        font-size: 1.4rem;
        padding-top: 11px;
        font-family: 'sunbirdboldfont';
        font-weight: 500;
      }
      .course-scroll-holder {
        background-color: #FDFEFE;
      }
      .toolbar-title-md {
        margin-left: -5px !important;
      }
      .course-page-color {
        background: #efeff4;
      }
      .padding-11 {
        padding: 11px;
      }
      .empty-saved-resources {
        height: 140px;
      }
      .devider-line {
        background: #efeff4;
        height: 7px;
      }
      ion-spinner {
        display: block;
        margin: auto;
      }
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40vw;
      }
      ion-icon {
        display: inline-block;
        font-size: 1em;
    }

      ion-select {
        max-width: 75%;
        font-size:14px;
        color: #488aff;
        font-weight: bold;
      }

      /* To give some space between the icons in the header */
      .tool-icon {
        margin: 10px 2px !important;
      }
      .tab-header{
        font-family: 'OpenSans/Regular';
      }
}
