<!-- <application-header [headerConfig]="headerConfig" (headerEvents)="handleHeaderEvents($event);"></application-header> -->
<!-- <ion-header class="sb-header">
    <ion-navbar class="sb-header-navbar" #content>
      <ion-toolbar class="sb-header-toolbar">
  
        <ion-buttons class="sb-hamburger" start *ngIf="headerConfig?.showBurgerMenu">
          <button class="sb-hamburger-menu sb-hamburger-icon" ion-button icon-only (click)="toggleMenu()">
             <img src="./assets/imgs/ic_burger_menu.png" class="tool-icon" >
          </button>
        </ion-buttons>
  
        <ion-buttons class="sb-header-btn-group" end>
          <button ion-button icon-only *ngIf="headerConfig?.actionButtons?.indexOf('notification') >=0" (click)="emitEvent($event, 'notification');">
            <ion-icon name="notifications-outline"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="headerConfig?.actionButtons?.indexOf('search') >=0" (click)="emitEvent($event, 'search');">
            <img src="./assets/imgs/ic_search.png" class="tool-icon" >
          </button>
          <button ion-button icon-only *ngIf="headerConfig?.actionButtons?.indexOf('person') >=0" (click)="emitEvent($event, 'person');">
              <ion-icon name="person"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="headerConfig?.actionButtons?.indexOf('filter') >=0" (click)="emitEvent($event, 'filter');">
              <img src="./assets/imgs/ic_filter.png" class="tool-icon" >
          </button>
          <button ion-button icon-only *ngIf="headerConfig?.actionButtons?.indexOf('filter-applied') >=0" (click)="emitEvent($event, 'filter');">
              <img src="./assets/imgs/ic_action_filter_applied.png" class="tool-icon" >
          </button>
        </ion-buttons>
  
      </ion-toolbar>
    </ion-navbar>
  </ion-header>
  
  <ion-menu [content]="content" class="sb-side-menu" persistent="true" >
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <img class="img-container">
            <span>Diksha</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="sb-menu-list">
          <ion-item >
            <span class="sb-menu-icon">
              <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
            </span>
            <span class="sb-menu-item" menuClose>User and Gropus</span>
          </ion-item>
          <ion-item >
            <span class="sb-menu-icon">
              <ion-icon ios="ios-clipboard" md="md-clipboard" MR5></ion-icon>
            </span>
            <span class="sb-menu-item" menuClose>Reports</span>
          </ion-item>
          <ion-item >
            <span class="sb-menu-icon">
              <ion-icon ios="ios-planet" md="md-planet"></ion-icon>
            </span>
            <span class="sb-menu-item" menuClose>Language</span>
          </ion-item>
          <ion-item >
            <span class="sb-menu-icon">
              <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
            </span>
            <span class="sb-menu-item" menuClose>Settings</span>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer class="side-menu-footer">
        Version V1.12.27
      </ion-footer>
    </ion-menu> -->

<ion-content hide-header-footer class="main-container avoid-bottom-tabs-space" (ionScrollEnd)="logScrollEnd($event)" scrollEvents="true" #contentView>

	<div ion-fixed class="fixed-container">
		<div class="sb-slider-pills-container">
			<div class="sb-pills-container sb-medium-pills-container">
				<div class="pill" *ngFor="let medium of categoryMediums; let i = index;"
					[ngClass]="{'active': medium?.selected}" [@appear] (click)="mediumClick(medium?.name,'sendMediumClickedTelemetry')">{{medium?.name}} Medium
				</div>
			</div>
		</div>
		<div class="sb-slider-pills-container">
			<div class="sb-pills-container sb-grade-pills-container" id="gradeScroll">
				<div class="pill" *ngFor="let grade of categoryGradeLevels; let i = index; let first = first"
					[ngClass]="{'active': grade?.selected, '': !grade?.selected}" attr.id="class{{i}}" (click)="classClick(i,'sendClassClickedTelemetry');">
					{{grade?.name}}</div>
			</div>
		</div>
	</div>
	<div class="scrollable-container">
		<ion-refresher (ionRefresh)="swipeDownToRefresh($event)"></ion-refresher>
		<div *ngIf="refresh" class="spinner-align">
			<ion-spinner icon="spiral"></ion-spinner>
		</div>
		<ion-spinner *ngIf="showLoader" padding style="padding-top: 100px;"></ion-spinner>
		<div *ngIf="recentlyViewedResources && recentlyViewedResources.length">
			<div class="sb-recently-viewed-container" style="padding-bottom:40px;">

				<div class="sb-recently-viewed-items">
					<div class="sb-recenlty-viewed-title">{{ 'RECENTLY_VIEWED' | translate }}
						<button ion-button class="sb-btn sb-btn-sm sb-btn-outline-info view-all-p8" float-end
							(click)="navigateToViewMoreContentsPage(recentViewedSection);">
							{{ 'VIEW_ALL' | translate }}</button></div>

					<div class="sb-card-scroll-container" (scroll)='onScroll($event)'>
						<!-- Card style -->
						<div class="sb-card-container sb-card-recently-container">
							<new-course-card *ngFor="let course of recentlyViewedResources" [course]="course" [env]="'home'"
								[index]="i" [sectionName]="recentViewedSection" [layoutName]="layoutSavedContent"></new-course-card>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="searchApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
			<div style="height: 500px;">
				<ion-spinner padding style="padding-top: 110px;"></ion-spinner>
			</div>
		</div>
		<div *ngFor="let items of storyAndWorksheets">
			<div class="sb-textbook-container" *ngIf="items?.contents && items?.contents?.length">
				<div class="sb-textbook-items">
					<div class="sb-textbook-title-container">
						<span class="textbook-icon">
							<ion-icon ios="ios-albums" md="md-albums"></ion-icon>
						</span>
						<span class="textbook-title">
							{{items.name}}
						</span>
					</div>
					<!-- Card style -->
					<div class="sb-card-container sb-card-textbook-container">
						<textbook-card *ngFor="let item of items?.contents; let i = index" [content]="item"
							[layoutName]='layoutName' (click)="navigateToDetailPage(item, i, item.name)"></textbook-card>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="pageApiLoader && storyAndWorksheets && storyAndWorksheets.length === 0">
			<div class="course-scroll-holder" style="height: 500px;">
				<ion-spinner padding style="padding-top: 110px;"></ion-spinner>
			</div>
		</div>

		<div padding text-center class="mt-32 mb-32" *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
			<img src="assets/imgs/ic_offline_orange_lg.png" />
			<h6 class="offline-header" ion-text>
				<b>{{ 'NO_INTERNET_TITLE' | translate }}</b>
			</h6>
			<p class="offline-content">{{ 'OFFLINE_WARNING_ETBUI' | translate }}</p>
		</div>
		<div *ngIf="showSignInCard" class="signin-card-bg">
			<sign-in-card (valueChange)="showOfflineNetworkWarning($event)" [source]="source"></sign-in-card>
		</div>
	</div>

</ion-content>
