page-resources {
    .inner {
        width: auto;
        height: 100%;

        course-card {
          display: table-cell;
        }
      }
      .inprogress-courses {
        .bottom-container{
          background: #efeff4;
        }
      }

      .custom-ion-content {
        background: rgb(245, 245, 245)
      }

      .scroll-heading {
        padding-top: 10px;
        font-weight: 500;
        font-family: 'sunbirdboldfont';
        font-size: 1.350em;
      }
      .view-all-link {
        font-size: 1.4rem;
        padding-top: 11px;
        font-family: 'sunbirdboldfont';
        font-weight: 500;
      }
      .signin-card-bg {
        background-color: map-get($colors, light_gray);
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .course-scroll-holder {
        background-color: #FDFEFE;
      }
      .toolbar-title-md {
        margin-left: -5px !important;
      }
      .course-page-color {
        background: #efeff4;
      }
      .padding-11 {
        padding: 11px;
      }
      .empty-saved-resources {
        height: 140px;
      }
      .devider-line {
        background: #efeff4;
        height: 7px;
      }
      ion-spinner {
        display: block;
        margin: auto;
      }
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40vw;
      }
      ion-icon {
        display: inline-block;
        font-size: 1em;
    }

      ion-select {
        max-width: 75%;
        font-size:14px;
        color: #488aff;
        font-weight: bold;
      }

      /* To give some space between the icons in the header */
      .tool-icon {
        margin: 10px 2px !important;
      }
      .tab-header{
        font-family: 'OpenSans/Regular';
      }
    .no-connection{
      height: 200px;
      .img-no-internet {
        width: 25%; height: 63%; background-color: white;
      }
      .offline-text {
        font-weight: 700; color: gray
      }
    }
    .offline-message{
      background-color: red !important;
      line-height: 2.5em !important;
      text-align: center !important;
      color: white;
      top: 0px;
      position: sticky;
      z-index: 11;
      display: block;
      width: 100%;
    }
    .middle {
      margin-top: 45%;
    }
}
