page-filter-options {
  .subtitle {
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 700;
    color: map-get($colors, primary_black);
  }
  ion-item {
    padding-left: 0 !important;
    .checkbox {
      margin: 8px !important;
    }
    ion-label {
      font-size: 14px !important;
      text-overflow: unset !important;
      white-space: unset !important;
    }
  }
  .col {
    min-height: 3.3em !important;
  }
  .scroll-list {
    overflow-y: scroll;
    max-height: 50vh !important; //padding-bottom: 10vh !important;
  }
  .item-md {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
  }
}

.resource-filter-options .popover-content {
  margin: 0;
  width: 100% !important;
  max-height: 70% !important;
  box-shadow: unset;
  position: fixed;
  left: 0 !important;
  top: unset !important;
  bottom: 0;
  transform-origin: bottom -100% !important;
  transform: translateY(0) !important;
}

.resource-filter-options ion-backdrop {
  background-color: map-get($colors, black) !important;
  opacity: 0.4 !important;
}
