<!--
  Generated template for the ActiveDownloadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content overflow-scroll="true">

  <div class="sb-view-all-container">
    <div class="sb-view-all-items" *ngIf="(activeDownloadRequests$ | async)?.length>0">
      <div class="sb-download-all">
        <div class="sb-view-all-title">
          <span class="page-heading">Active Downloads</span>
          <span class="page-info">Downloading Content : 1/{{(activeDownloadRequests$ | async)?.length}}</span>
        </div>
        <div (click)="cancelAllDownloads()" class="ion-button sb-download-cancel">
          <div>
            <ion-icon ios="ios-close" md="md-close" class="PL20"></ion-icon>
          </div>
          Cancel All
        </div>
      </div>
    </div>

    <!-- <div class="sb-card-container sb-card-view-all-container">
      <div>
        <div class="sb-card">
          <div class="img-container">
          </div>
          <div class="sb-card-details">
            <div class="title">Great thinkers and their new religion</div>
            <div class="info grade_ellipsis"><span class=" class">Social science</span><span
                class="separator-dot"></span><span class=" subject">Class 5</span>
            </div>
            <div>
              5.45MB/32MB
            </div>
            <div class="sb-card-actions">
              <button ion-button class="action-btn float-end delete mr-8" (click)="cancelActiveDownload()">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="popover-progress-container">
          <div class="progress-highlight" [ngStyle]="{'left': '50%'}">
          </div>
        </div>
      </div> -->

    <!-- STATIC UI START -->
    <!-- <div class="sb-card">
        <div class="img-container">
        </div>
        <div class="sb-card-details">
          <div class="title">Great thinkers and their new religion testing some long text</div>
          <div class="info grade_ellipsis"><span class=" class">Social science</span><span
              class="separator-dot"></span><span class=" subject">Class 5</span>
          </div>
          <div>
            Waiting To Download..
          </div>
          <div class="sb-card-actions">
            <button ion-button class="action-btn float-end delete mr-8" (click)="cancelActiveDownload()">
              Cancel
            </button>
          </div>
        </div>
      </div> -->
    <!-- STATIC UI END -->


    <!-- STATIC UI IMPLIMENTATION -->
    <!-- </div> -->

    <div class="sb-card-container sb-card-view-all-container">
      <div *ngFor="let activeDownload of (activeDownloadRequests$ | async); let i = index">
        <div class="sb-card">
          <div class="img-container">
            <img src="{{ activeDownload.contentMeta.appIcon || defaultImg }}">
          </div>
          <div class="sb-card-details">
            <div class="title">{{activeDownload.contentMeta.name}}</div>
            <div class="info grade_ellipsis"><span class=" class">{{activeDownload.contentMeta.subject}}</span><span
              class="separator-dot"></span><span
              class=" subject">{{activeDownload.contentMeta.gradeLevel?.join(', ')}}</span>
            </div>

            <div *ngIf="getContentDownloadProgress(activeDownload.identifier)">
              {{((getContentDownloadProgress(activeDownload.identifier) / 100) * activeDownload.contentMeta.size) | fileSize}}
              / {{activeDownload.contentMeta.size | fileSize}}
            </div>
            <div *ngIf="!getContentDownloadProgress(activeDownload.identifier)">
              Waiting To Download...
            </div>
            <div class="sb-card-actions">
              <button (click)="cancelDownload(activeDownload)" class="action-btn float-end delete mr-8" ion-button>
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="getContentDownloadProgress(activeDownload.identifier)" class="popover-progress-container">
          <div [ngStyle]="{'left': getContentDownloadProgress(activeDownload.identifier) + '%'}"
               class="progress-highlight">
          </div>
          </div>
      </div>
    </div>

  </div>
</ion-content>
