page-education {
    .form ion-label {
      @extend .text-uppercase;
    }
    .item-md {
      padding-left: 0 !important;
    }
  }

  .text-capitalize {
    text-transform: capitalize !important;
  }
  .text-uppercase {
    text-transform: uppercase !important;
  }