<ion-header>
  <ion-navbar>
    <ion-title>{{ 'TITLE_EDUCATION' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="educationForm" class="form">
    <ion-item>
      <ion-label stacked>{{ 'DEGREE' | translate }}
        <span ion-text color="danger">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" formControlName="degree" placeholder="{{ 'DEGREE' | translate }}" class="form-control"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'INSTITUTION_NAME' | translate }}
        <span ion-text color="danger">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" formControlName="name" placeholder="{{ 'INSTITUTION_NAME' | translate }}" class="form-control"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'YEAR_OF_PASSING' | translate }}</ion-label>
      <ion-select formControlName="yearOfPassing" interface="popover" placeholder="{{ 'OPTIONAL' | translate }}">
        <ion-option *ngFor="let year of yopList" value="{{year}}">{{year}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'PERCENTAGE' | translate }}</ion-label>
      <ion-input type="number" formControlName="percentage" placeholder="{{ 'OPTIONAL' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'GRADE' | translate }}</ion-label>
      <ion-input type="text" formControlName="grade" placeholder="{{ 'OPTIONAL' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'BOARD_UNIVERSITY' | translate }}</ion-label>
      <ion-input type="text" formControlName="boardOrUniversity" placeholder="{{ 'OPTIONAL' | translate }}"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col padding *ngIf="!isNewForm">
        <button class="action-button" type="submit" (click)="showDeleteConfirm()" ion-button block outline class="text-capitalize">{{ 'DELETE' | translate }}</button>
      </ion-col>
      <ion-col padding>
        <button class="action-button" type="submit" (click)="onSubmit()" ion-button block [disabled]="!educationForm.valid"
          class="text-capitalize">{{ 'SAVE' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>