page-education {

    .term
    {
      padding-top: 20px;
    }
  
    .terms-checkbox-label
    {
      overflow: visible;
      text-overflow: initial;
      white-space: initial;
      opacity: 0.5;
      font-size: 14px;
      font-weight: bold;
    }
  
    .error-message
    {
      color: red;
    }

    .action-button
    {
      width:100%; 
      height: 200%
    }

    .form-top-margin
    {
      margin-top:4%
    }
  }