.onboarding-alert .checkbox-scroll {
    max-height: 185px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.onboarding-alert .popover-content {
    margin: 0;
    width: 100% !important;
    max-height: 54vh !important;
    box-shadow: unset;
    position: fixed;
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    transform-origin: bottom -100% !important;
    transform: translateY(0) !important;
    overflow-y: hidden;
}

.onboarding-alert .popover-md .popover-viewport {
    overflow-y: hidden;
}

.onboarding-alert .cancel {
    background-color: map-get($colors, light);
    color: map-get($colors, primary);
    border: 1px solid map-get($colors, primary);
}

.onboarding-alert .footer-button {
    z-index: 999;
    background-color: map-get($colors, light);
    padding: 10px;
}

.onboarding-alert ion-backdrop {
    background-color: #000 !important;
    opacity: 0.4 !important;
}
