<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h5> {{ selectedSlide.title | translate }}</h5>
      </ion-col>
    </ion-row>

    <ion-spinner style="align-self: center" *ngIf="selectedSlide.options === undefined || selectedSlide.options.length === 0" padding></ion-spinner>

    <ion-list class="checkbox-scroll" radio-group [(ngModel)]="selectedSyllabus" *ngIf="selectedSlide?.options && selectedSlide?.options.length && selectedSlide?.id === 'syllabusList'">
      <ion-item no-lines *ngFor="let facetValue of selectedSlide.options;let i=index">
        <ion-label bold> {{ facetValue.text }}</ion-label>
        <ion-radio value="{{facetValue.value}}" (ionSelect)="onSyllabusSelect(i)"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-row class="checkbox-scroll " *ngIf="selectedSlide?.options && selectedSlide?.options.length && selectedSlide?.id
          !=='syllabusList' ">
      <ion-item no-lines *ngFor="let facetValue of selectedSlide.options;let i=index ">
        <ion-label bold> {{ facetValue.text }}</ion-label>
        <ion-checkbox [(ngModel)]="facetValue.checked "></ion-checkbox>
      </ion-item>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer class="footer-button ">
  <ion-row>
    <ion-col col-6 text-center>
      <button class="cancel " ion-button block (click)="cancel() ">{{ 'CANCEL' | translate }}</button>
    </ion-col>
    <ion-col col-6 text-center>
      <button ion-button block (click)="onSaveClick() ">{{ 'SAVE' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-footer>