home-announcement-card {
	.border-bottom {
		border-bottom: 2px solid #efeff4 !important;
		padding-bottom: 10px;
	}
	.icon {
		width: 15px;
		height: 15px;
	}
	.ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.view-all-link {
		font-size: 1.2rem;
		padding-top: 11px;
		font-family: 'sunbirdboldfont';
		font-weight: 500;
	}
	.announcement-heading {
		padding-top: 10px;
		font-weight: 500;
		font-family: 'sunbirdboldfont';
		font-size: 1.250em;
	}
	.display-inline {
		display: inline-block !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 90%;
	}
	.inline-block{
		display: inline-block;
	}
	.announcement-type {
		display: inline-block;
		color: #444;
		border: 1px solid #CCC;
		background: #DDD;
		box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		vertical-align: middle;
		max-width: 100px;
		padding: 1px 4px;
		text-align: center;
		border-radius: 2px;
		font-size: 6px;
	}
	.borderBottom {
		border-bottom: 5px solid #efeff4;
	}
	.border-none {
		border: none;
	}
	.link-div {
		margin-top: 15px;
		padding-bottom: 12px;
	}
	.width60{
		max-width: 60% !important;
		white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
	}
	.marginTop{
		margin-top: 6px;
	}
	.announcementDate{
		padding-bottom: 10px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.card-padding{
padding: 16px 16px 0 16px;
	}
.list-md {
		margin:0px;
	}
	.borderLeft{
    border-left: 4px solid #006DE5 !important;
	}
	.verticle-align{
		vertical-align: top;
	}
	a {
		text-decoration: none;
	}
}
