detail-card {

    .btn-progress-highlight{
        left: 0px;
        background: $primary-800;
        height: 5px;
        position: absolute;
        border-radius: inherit;
        border: 0px;
    }

    .btn-popover-progress-container{
        position: relative;
        border-radius: 33px;
        display: inline-block;
        background: $primary-200;
        height: 5px;
        width: 56px;
    }

}
