
<!-- Generated template for the DetailCardComponent component -->

<div class="sb-dt-card">
    <div class="sb-dt-content">

      <div class="left">
        <div (click)="rateContent()" class="sb-rating-view">
          <span class="sb-rating-value">4.5</span>
          <span class="sb-rating-star">
            <ion-icon ios="ios-star" md="md-star"></ion-icon>
          </span>
        </div>
        <div class="sb-dt-title"> Social Science term2</div>
        <div class="sb-dt-source">
          <span class="sb-by">by</span>
          <span class="sb-user">Bindu Priya</span>
        </div>
        <div class="sb-dt-class-info">
          <span class="sb-dt-label sb-dt-class">Third Class</span>
          <span class="sb-separator-dot"></span>
          <span class="sb-dt-label sb-dt-subject">Biology</span>
        </div>
      </div>

      <div class="right">
        <div class="img-container">
          <img src="">
        </div>
      </div>

    </div>

    <div class="sb-separator-line"></div>

    <div class="sb-dt-card-actions">

      <div class="sb-btn-tile-group">
        <button ion-button clear icon-only class="sb-btn-tile">
          <ion-icon ios="ios-cloud-download" md="md-cloud-download" class="sb-dt-card-blue-icon"></ion-icon>
          <span class="sb-btn-footer-text">Download</span>
        </button>
        <button ion-button clear icon-only class="sb-btn-tile">
          <ion-icon ios="ios-share" md="md-share" class="sb-dt-card-blue-icon"></ion-icon>
          <span class="sb-btn-footer-text">Share</span>
        </button>
        <button ion-button clear icon-only class="sb-btn-tile">
          <ion-icon ios="ios-trash" md="md-trash" class="sb-dt-card-danger-icon"></ion-icon>
          <span class="sb-btn-footer-text">Delete</span>
        </button>
      </div>
    </div>
  </div>