detail-card {

}

detail-card {

}
.sb-dt-card {
    border-radius: 2px;
    box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
    background-color: map-get($colors, white );
    @include margin(0,0,($base-block-space * 2),0);
    .sb-dt-content{
      display: grid;
      grid-gap: ($base-block-space * 1);
      grid-template-columns:  auto ($base-block-space * 9);
      padding: 16px;
      .right {
        .img-container {
          background-color: grey;
          max-width:($base-block-space * 9);
          height: ($base-block-space * 9);
          overflow:hidden;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        .sb-rating-view {
          .sb-rating-value {
            font-weight: bold;
            font-size: $font-size-base;
            @include margin(0,($base-block-space * 0.5),0,0);
          }
          .sb-rating-star {
            color: #f8e71c;
          }
        }
        .sb-dt-title {
          width:100%;
          overflow:hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          @include margin(($base-block-space * 0.5),0);
          font-weight: bold;
          font-size:($font-size-base + 2);
          color: #333333;
        }
        .sb-dt-source {
          .sb-by {
            font-size: ($font-size-base - 4);
          }
          .sb-user {
            font-size: ($font-size-base - 2);
            color: #979797;
          }
        }
        .sb-dt-class-info {
          @include margin(($base-block-space * 1),0);
          .sb-dt-label{
            font-size: ($font-size-base - 2);
            color: #979797;
          }
          &.sb-dt-class {

          }
          &.sb-dt-subject{

          }
          .sb-separator-dot {
            width: ($base-block-space * 0.5);
            height: ($base-block-space * 0.5);
            background-color: #d8d8d8;
            border-radius:50%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }  
    }
    // Details-Card 
    .sb-dt-card-actions {
      @include padding(($base-block-space),($base-block-space * 2));
      .sb-btn-tile-group {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: ($base-block-space*1);
        &:last-child{
          @include margin(null, 0, null, null);
        }
        .button-md{
          height: 4.6rem;
        }
        .sb-btn-tile {
          .button-inner {
            flex-direction: column;
          }
          .sb-dt-card-danger-icon{
            font-size : 30px;
            color: #e55a28;
            @include margin(0,0,($base-block-space * .5),0);
          }
          .sb-dt-card-blue-icon{
            font-size : 30px;
            color: #024f9d;
            @include margin(0,0,($base-block-space * .5),0);
          }   
          .sb-btn-footer-text {
            color : #979797;
            font-weight: 100;
            font-size: ($font-size-base - 2);
            text-align: center;
            text-transform: initial;
          }
          ion-icon {
            line-height: 30px;
          }
         
        }
      }
    }
  }