page-notifications {
  .clear-btn {
    float: right;
    padding-top: 10px;
  }
  .sb-view-all-title {
    width: inherit;
  }
  .scroll-content {
    padding-bottom: 80px;
    background-color: #f2f7f7;
  }
  .no-notification {
    text-align: center;
    margin-top: 20%;

    h4 {
      height: 22px;
      color: #979797;
      font-family: "Noto Sans";
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      text-align: center;
    }
  }
}
