page-search {

  text-overflow: ellipsis;

  .text-input-clear-icon {
    display: block !important;
  }

  .collection-list {
    margin-bottom: 0px !important;
  }

  .item-inner {
    .label {
      margin-right: 0 !important;
    }
    padding-right: 0 !important;
  }

  .spinner-container {
    width: 100%;
    height: 100%;
    display: block;

    .loader {
      display: block;
      margin: auto;
      top: 48%;
    }
  }

  .divider {
    width: 100%;
    height: 4px;
    background-color: #f3f3f3;
    margin: 20px 0 0 0;
  }


  ion-item {
    .collection-header {
      margin-bottom: 0 !important;
    }

    margin-top: unset !important;
    margin-bottom: 0 !important;
  }

  .content-list {
    margin-bottom: 0 !important;
    padding-top: 15px;


    .label {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }

  .view-collection {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10px;
    right: 0 !important;
    text-transform: none;
  }

  .collection-name {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

    span {
      color: grey;
      font-weight: 600;
      font-size: 1.3rem;
    }
    .cancel-btn span {
      color: map-get($colors, white) !important;
    }
  .empty-search-result {
    font-size: 1.2em;
  }
  .item-md p {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}
.item-md h3, {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
.ellipsis{

  overflow: hidden !important;
  text-overflow: ellipsis !important;
  color: grey;


}
.subject{

  color: grey;
  font-weight: 600;
  font-size: 1.3rem;

}
.inline-block{
  display: inline-block;
}
.width{
max-width: 60%;
vertical-align: top;
}
// .list-md {
//   margin: 16px 0 16px !important;
// }

  .loading-backdrop {
    .backdrop-container {
        width: 100%;
        padding: 16px;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -50px;
    }

    .backdrop-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-bottom: 16px;
    }

    background-color: #ffffff;
    height: 100%;
    z-index: 1000;
    opacity: 1 !important;
  }
}

