page-search {
  .sb-no-search-history {
    display: flex;
    height: 100%;

    color: #666666;

    justify-content: center;
    align-items: center;

    background-color: #F3F7FA;
  }

  .sb-search-history-entry {
    align-items: center;

    .invisible {
      visibility: hidden;
    }

    > div {
      font-size: 1.2rem;
      padding: 1rem 1.5rem !important;

      img {
        vertical-align: baseline;
      }
    }
  }

  .sb-search-header-meta {
    padding-top: 1rem;

    color: #024F9D;
    font-size: 1.2rem;
  }

  text-overflow: ellipsis;

  .text-input-clear-icon {
    display: block !important;
  }

  .collection-list {
    margin-bottom: 0px !important;
  }

  .item-inner {
    .label {
      margin-right: 0 !important;
    }
    padding-right: 0 !important;
  }

  .spinner-container {
    width: 100%;
    height: 100%;
    display: block;

    .loader {
      display: block;
      margin: auto;
      top: 48%;
    }
  }

  .divider {
    width: 100%;
    height: 6px;
    background-color: #f3f3f3;
    margin: 20px 0 0 0;
  }

  .inner-divider{
    width: 90%;
    height: 3px;
    background-color: #f3f3f3;
    margin:  0 5%;
  }


  ion-item {
    .collection-header {
      margin-bottom: 0 !important;
    }

    margin-top: unset !important;
    margin-bottom: 0 !important;
  }

  .content-list {
    margin-bottom: 0 !important;
    padding-top: 15px;


    .label {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }
  .dial-section-header{
    @extend .NotoSans-bold;
    font-size: 1.350em;
    padding: 11px;
    margin: 0;
    background-color: #f3f3f3;
  }

  .view-collection {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10px;
    right: 0 !important;
    text-transform: none;
    span.button-inner{
      color:#2E92FF;
    }

  }

  .collection-name {
    font-size: 14px;
    color: black;
  }

  span {
    // color: grey;
    @extend .font-weight-600;
    font-size: 1.3rem;
  }

  .cancel-btn span {
    color: map-get($colors, white) !important;
  }
  .empty-search-result {
    font-size: 1.2em;
  }
  .item-md p {
    font-size: 1.3rem !important;
    @extend .font-weight-600;
  }

  .item-md h3 {
    font-size: 1.5rem !important;
    @extend .font-weight-600;
  }

  .ellipsis {

    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: grey;


  }

  .subject {

    color: grey;
    @extend .font-weight-600;
    font-size: 1.3rem;

  }

  .inline-block {
    display: inline-block;
  }

  .width {
    max-width: 60%;
    vertical-align: top;
  }

  // .list-md {
  //   margin: 16px 0 16px !important;
  // }

  .loading-backdrop {
    .backdrop-container {
      width: 100%;
      padding: 16px;
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: -50px;
    }

    .backdrop-footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-bottom: 16px;
    }

    background-color: #ffffff;
    height: 100%;
    z-index: 1000;
    opacity: 1 !important;
  }

  .tb-border-btm{
    border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
  }


}
.sb-textbook-container {
  margin-top: ($base-block-space * 2);
  @include padding(($base-block-space * 1));
  width: 100%;
  &:last-child{
    margin-bottom: ($base-block-space * 2);
  }

  .sb-textbook-items {
    .sb-textbook-title-container {
      height: ($base-block-space * 3);
      @include margin(null, null, $base-block-space, null);

      .textbook-icon {
        height: 17px;
        transform: scaleX(-1);
        @include margin(0, ($base-block-space * 1), 0, 0);
        color: $tertiary-color;
      }

      .textbook-title {
        height: ($base-block-space * 3);
        color: #024F9D;
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: ($base-block-space * 3)
      }
    }
  }

  // .sb-view-all-container {
  //   width: 100%;
  //   .sb-view-all-items{
  //       background-color: $primary-color;
  //       height: ($base-block-space * 10);
  //       width: 100%;
  //       position: relative;
  //       display: flex;
  //       align-items: center;
  //       @include padding(0, ($base-block-space * 1));
  //       .sb-view-all-title{
  //           color: $white-color;
  //           .page-heading{
  //               font-size: $font-size-base + 2;
  //               font-weight: bold;
  //               line-height: 22px;
  //           }

  //           .page-info{
  //               display: block;
  //               font-size: $font-size-base - 2;
  //               line-height: 15px;
  //           }
  //       }
  //       .sb-card-scroll-container{
  //         overflow-x: auto;
  //         padding: 0 0 8px 0;
  //       }
  //   }
  // }

  .sb-view-all-container
  {
    .sb-card-container .sb-search-card .sb-card
    {
      padding: 8px 16px;
    }

    .sb-view-all-items.sb-search-items {
      padding: 0px;
      background-color: transparent;
    }


    .sb-card-result.sb-card-details {
      @include padding($base-block-space * 2);

      .sb-card-res-count {
        color: #979797;
        font-size: ($font-size-base  - 2);
        line-height: 15px;
      }

      .sb-card-result-content {
        color: #979797;
        font-size: ($font-size-base  + 2);
        font-weight: 500;
        line-height: 22px;
      }
    }
  }


  .sb-separator-line {
    margin: 0px;
  }

  .sb-card {
    @include margin(0);
    border-radius: 2px 2px 0 0;
    // border-bottom: 0.5px solid rgba(94, 94, 94, 0.75);
  }

  .sb-card-textbook-container {
    textbook-card {
      .sb-card.reverse {
        border-bottom: 0.5px solid rgba(151, 151, 151, 0.40) !important;

        &:last-child {
          border-bottom: 0.5px solid rgba(151, 151, 151, 0.40) !important;
        }
      }

      &:last-child {
        .sb-card.reverse {
          border-bottom: none;
        }

      }
    }
  }

}

  

