<ion-header>
  <ion-navbar>
    <ion-input type="search" #searchInput placeholder="Search" [(ngModel)]="searchKeywords" (ionChange)="searchOnChange($event)"
      (keyup.enter)="handleSearch()" clearInput></ion-input>
    <ion-buttons end>
      <button ion-button (click)="showFilter()" *ngIf="filterIcon">
        <img [src]="filterIcon" class="tool-icon" float-end/>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="spinner-container" *ngIf="showLoader">
    <ion-spinner padding class="loader"></ion-spinner>
  </div>
  <div text-center *ngIf="isEmptyResult">
    <h4>{{ 'EMPTY_SEARCH_RESULTS' | translate }}</h4>
  </div>
  <ion-list no-lines *ngIf="dialCodeResult && dialCodeResult.length" class="collection-list">
    <div ion-item no-margin *ngFor="let result of dialCodeResult" no-padding>
      <div no-lines class="collection-header" margin-start>
        <div class="collection-name">
          <span>{{'FROM' | translate}} </span>{{ result.name }}</div>
        <button ion-button clear no-padding class="view-collection" (click)="openCollection(result)">
          {{'VIEW' | translate}} {{ result.contentType }} &nbsp;
          <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </button>
      </div>
      <div *ngIf="result && result.content && result.content.length">
        <ion-list no-padding *ngFor="let content of result.content" class="content-list">
          <ion-item (click)="openContent(result, content,index)">
            <ion-avatar item-start>
              <img src="{{ defaultAppIcon }}" width="24px" height="24px">
            </ion-avatar>
            <h3> {{ (content.name && content.name.length > 30) ? (content.name | slice:0:30) + '...' : (content.name) }}</h3>
            <p>
              <span>{{ content.contentType }}</span>
              <span *ngIf="content.size"> • {{ content.size | fileSize: 0}}</span>
            </p>
          </ion-item>
          <div class="divider"></div>
        </ion-list>
      </div>

    </div>
  </ion-list>

  <ion-list no-lines *ngIf="dialCodeContentResult && dialCodeContentResult.length">
    <ion-list *ngFor="let content of dialCodeContentResult; let i = index; let last = last" class="content-list">
      <ion-item padding-start (click)="openContent(undefined, content,index)">
        <ion-avatar item-start>
          <img src="{{ defaultAppIcon }}" width="24px" height="24px">
        </ion-avatar>
        <h3> {{ (content.name && content.name.length > 30) ? (content.name | slice:0:30) + '...' : (content.name) }}</h3>
        <p>
          <span>{{ content.contentType }}</span>
          <span *ngIf="content.size"> • {{ content.size | fileSize: 0}}</span>
        </p>
        <p>
          <span *ngIf="content.gradeLevel && content.gradeLevel.length">
            {{ content?.gradeLevel[0] }}
          </span>
          <span *ngIf="content.subject"> • {{ content?.subject}}</span>
        </p>
      </ion-item>
      <div *ngIf="!last" class="divider"></div>
    </ion-list>

  </ion-list>


  <ion-list *ngIf="searchContentResult && searchContentResult.length">
    <ion-item padding-right *ngFor="let content of searchContentResult; let i = index" (click)="openContent(undefined, content,i)">
      <ion-avatar item-start>
        <!-- <img-loader src="{{ content.appIcon }}" backgroundSize="cover" width="100%" height="100%" spinner="true" fallback="./assets/imgs/ic_launcher.png"
          fallbackAsPlaceholder="true" useImg></img-loader> -->
        <img src="{{ content.appIcon || defaultAppIcon }}" width="24px" height="24px" />

      </ion-avatar>
      <h3> {{ (content.name && content.name.length > 30) ? (content.name | slice:0:30) + '...' : (content.name) }}</h3>
      <p>
        <span>{{ content.contentType }}</span>
        <span *ngIf="content.size"> • {{ content.size | fileSize: 0}}</span>
      </p>
      <div *ngIf="content.gradeLevel && content.gradeLevel.length">
        <div class="ellipsis inline-block width" *ngIf="content.subject">
          <span *ngFor="let gradelevel of content.gradeLevel; let i= index">{{i == 0 ? '' : ',' +' '}} {{ gradelevel }}
          </span>
        </div>
        <div *ngIf="content.subject" class="subject inline-block">
          <span>{{ content.gradeLevel && content.gradeLevel.length ? '•' : '' }} {{ content.subject }}</span>
        </div>
        <div *ngIf="!content.subject" class="ellipsis">
          <span *ngFor="let gradelevel of content.gradeLevel; let i= index"> {{i == 0 ? '' : ',' + ' '}} {{ gradelevel }}
          </span>
        </div>
      </div>
      <!-- <span *ngIf="!content.subject">
          <span *ngIf="content.gradeLevel.length">
            <span *ngFor="let gradelevel of content.gradeLevel; let i= index">{{i == 0 ? '' : ',' +' '}} {{ gradelevel }}</span>
          </span>
        </span> -->
      <!-- <span *ngIf="content.gradeLevel.length && !content.subject">
            <span  style="width:50%" *ngFor="let gradelevel of content.gradeLevel; let i= index">{{i == 0 ? '' : ',' +' '}} {{ gradelevel }}</span>
          </span> -->
      <!-- <span *ngIf="content.gradeLevel.length<=2 && !content.subject">
              <span  style="width:50%" *ngFor="let gradelevel of content.gradeLevel; let i= index">{{i == 0 ? '' : ',' +' '}} {{ gradelevel }}</span>
            </span> -->
      <!-- </span> -->
      <!-- <span *ngIf="content.subject">{{ content.gradeLevel && content.gradeLevel.length ? '•' : '' }} {{ content.subject }}</span> -->

    </ion-item>
  </ion-list>
  <div class="empty-search-result" *ngIf="!showLoader && showEmptyMessage" text-center padding-top>
    {{ 'EMPTY_SEARCH_RESULTS' | translate }}</div>

</ion-content>

<ion-backdrop class="loading-backdrop" *ngIf="showLoading" text-center>
  <div class="backdrop-container">
    <ion-label>{{ loadingDisplayText }}</ion-label>
    <pb-horizontal [progress]="downloadProgress" isOnBoardCard="false"></pb-horizontal>
  </div>

  <div class="backdrop-footer">
    <button ion-button small class="cancel-btn" (click)="cancelDownload()">{{'CANCEL' | translate}}</button>
  </div>
</ion-backdrop>
