<ion-menu [content]="content" class="sb-side-menu" persistent="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img class="img-container">
          <span>Diksha</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="sb-menu-list">
        <ion-item >
          <span class="sb-menu-icon">
            <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
          </span>
          <span class="sb-menu-item" menuClose>User and Gropus</span>
        </ion-item>
        <ion-item >
          <span class="sb-menu-icon">
            <ion-icon ios="ios-clipboard" md="md-clipboard" MR5></ion-icon>
          </span>
          <span class="sb-menu-item" menuClose>Reports</span>
        </ion-item>
        <ion-item >
          <span class="sb-menu-icon">
            <ion-icon ios="ios-planet" md="md-planet"></ion-icon>
          </span>
          <span class="sb-menu-item" menuClose>Language</span>
        </ion-item>
        <ion-item >
          <span class="sb-menu-icon">
            <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
          </span>
          <span class="sb-menu-item" menuClose>Settings</span>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer class="side-menu-footer">
      Version V1.12.27
    </ion-footer>
  </ion-menu>