user-search {
    .avatar {
        width: 60px !important;
        height: 60px !important;
    }
    [dir="ltr"] .item-md{
        padding-left: 10px !important;
    }
    [dir="ltr"] .label-md {
        margin: 13px 8px 0px 0px !important;
    }
    [dir="ltr"] .label-md {
        margin: 4px 0 4px 0 !important;
    }
}
.font-weight-500 {
    font-weight: 500 !important;
}
