user-search {
    .avatar {
        width: 60px !important;
        height: 60px !important;
    }
    .item-md{
        padding-left: 10px !important;
    }
    .label-md {
        margin: 4px 0 4px 0 !important;
    }
    .searchbar-md .searchbar-search-icon {
        height: 0 !important;
    }
    .searchbar-md .searchbar-input {
        padding: 0 !important;
        background-color: inherit !important;
        box-shadow: none !important;
    }
    .searchbar-md.searchbar-has-focus.searchbar-show-cancel .searchbar-md-cancel {
        display: none !important;
    }
}

