<ion-header>
    <ion-navbar>
        <ion-searchbar [(ngModel)]="searchInput" #input debounce="1000" [showCancelButton]="true" (ionInput)="checkClear()" (search)="onInput($event)" (ionCancel)="onCancel($event)"
            [spellcheck]="true" [autocomplete]="true">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content (ionScrollEnd)="onScrollEnd($event)">
    <ion-list>
        <ion-item *ngFor="let user of userList; let i=index; let last=last;" [id]="i" (click)="user?.status && openUserProfile(user?.id)">
            <ion-avatar item-start>
                <!-- <img src="{{ user?.avatar || fallBackImage }}" class="avatar" /> -->
                <img src="{{ fallBackImage }}" class="avatar" />
            </ion-avatar>
            <h2 class="ellipsis font-weight-700" text-capitalize>{{ user?.firstName }} {{ user?.lastName }}</h2>
            <div>
                <ion-badge *ngIf="user?.status" color="title" item-end>{{ 'ACTIVE' | translate }}</ion-badge>
                <ion-badge *ngIf="!user?.status" color="title" item-end>{{ 'INACTIVE' | translate }}</ion-badge>
            </div>        
        </ion-item>
    </ion-list>
    <h6 *ngIf="!userList?.length && showEmptyMessage" text-center>{{'EMPTY_SEARCH_RESULTS' | translate}}</h6>
    <ion-infinite-scroll *ngIf="enableInfiniteScroll" (ionInfinite)="doInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>