page-filter {
  .subtitle {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
    color: map-get($colors, primary_black);
    background-color: map-get($colors, white_f0);
  }
  .filter-item {
    width: auto;
    margin: 16px !important;
    background-color: map-get($colors, white_f0);
    color: map-get($colors, dark_gray);
    font-size: 1em;
    font-weight: 600;
    height: 2em;
    ion-icon {
      color: map-get($colors, dark_gray);
    }
  }
  .item-inner>ion-icon {
    min-height: 2rem !important;
    font-size: 2rem !important;
  }
  .apply-button {
    margin: 16px !important;
    width: 90%;
  }
}
