<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'FILTER' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h6 no-margin padding class="subtitle">{{ 'FILTER_BY' | translate }} </h6>
  <div>
    <ion-list *ngIf="facetsFilter && facetsFilter.length" no-lines>
      <ion-item class="filter-item" *ngFor="let facet of facetsFilter" (click)="openFilterOptions(facet)">
        <ion-label *ngIf="facet?.name !== 'gradeLevel' && facet?.name !== 'contentType'" text-capitalize>{{ facet.name }}</ion-label>
        <ion-label *ngIf="facet?.name === 'gradeLevel'" text-capitalize>{{ 'CLASS' | translate }}</ion-label>
        <ion-label *ngIf="facet?.name === 'contentType'" text-capitalize>{{ 'RESOURCE_TYPE' | translate }}</ion-label>
        <ion-label text-end>{{ getSelectedOptionCount(facet) }}</ion-label>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar padding-left padding-right>
    <button ion-button block (click)="applyFilter()">{{ 'APPLY_FILTER' | translate }}</button>
  </ion-toolbar>
</ion-footer>
