page-group-member {
    .blueBorder {
      border-color: map-get($colors, primary) !important;
      border-style: solid !important;
      border-width: 2px !important;
      border-radius: 4px;
    }
    .radius{
      border-radius: 6px;
    }
    .item-background.item-md {
        background-color: map-get($colors, light_gray) !important;
      }

    .radius{
        border-radius: 6px;
      }
      .bg-color-white {
        background-color: map-get($colors, light_gray) !important;
      }
      .advanced-menu{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-left:7% !important;
      }
      .advanced-menu ion-icon[item-end] {
            margin-top: 0 !important;
            padding-right: 8px !important;
        }
        .advanced-menu .item-md, .advanced-menu .item-ios {
          margin-top: 0 !important;
        }
        .padding-left-0 {
          padding-left: 0 !important;
        }
        .rm-label-margin ion-label {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }
        .image-text {
          text-align: center;
          margin-top: 38vh;
          background-color: map-get($colors, light-gray);
        }
        .image_style {
          width: 335px;
          height: 102px;
          border-radius: 50%;
        }
        .img-container {
          position: absolute;
          width: 100px;
          height: 100px;
          top: 30%;
          left: 60%;
          margin-left: -97px;
          margin-top: -144x;
        }
        .playcontent-label{
          margin-top: 55.2vh;
          background-color:#a1a1a1;
          color: white;
          width: 100%;
         
      
        }

        .error-message-contentplay{
          width: -webkit-fill-available;
          background-color: #a1a1a1;
          padding: 5px 0px 5px 20px;
          color: white;
          position: fixed !important;
          bottom: 12vh !important;
        }
        .no-padding{
          padding: 0px !important;
        }
        .playcontent-label{
          font-size: 1.4rem !important;
          padding: 1px 0px 1px 6px !important;
        }
        .footer{
          background-color: white;
        }
}

