edit-contact-verify-popup {
    .merged-input-container {
        border: 1px solid #4a90e2;
        display: flex;
        flex: 1 1 auto;
        border-radius: 4px;
        .decorator {
            display: inline-block;
            max-width: 45px;
        }
    }
}
.error {
    color: #e76026;
  }
