<ion-content>
    <ion-spinner *ngIf="loader" padding></ion-spinner>
    <ion-grid>
      <ion-row>
        <ion-col col-12 no-padding class="text-center">
          <p class="f18 padding-left-5">{{title}}</p>
          <p class="font-weight-bold f14">{{description}}</p>
        </ion-col>
        <section class="W100" *ngIf="type==='phone'">
          <ion-col col-12 no-padding class="text-center">
            <b>{{'ENTER_OTP' | translate}}</b>
          </ion-col>
          <ion-col col-12 no-padding class="text-center" *ngIf="invalidOtp">
            <p class="error">{{'ERROR_OTP' | translate}}</p>
          </ion-col>
          <ion-col col-12 no-padding class="text-center">
            <ion-input type="tel" placeholder="{{'OTP_PLACEHOLDER' | translate }}" class="form-control" [(ngModel)]="otp"></ion-input>
          </ion-col>
        </section>
        <section class="W100" *ngIf="type==='email'">
          <ion-row>
            <ion-col col-12 no-padding class="text-center">
              <b>{{'ENTER_OTP' | translate}}</b>
            </ion-col>
            <ion-col col-12 no-padding class="text-center" *ngIf="invalidOtp">
              <p class="error">{{'ERROR_OTP' | translate}}</p>
            </ion-col>
            <ion-col col-12 no-padding class="text-center">
            <div class="W100 merged-input-container MT10">              
              <ion-input type="tel" placeholder="{{'OTP_PLACEHOLDER' | translate }}" class="form-control" [(ngModel)]="otp"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </section>
        <ion-col col-12 no-padding class="text-center" >
            <button ion-button clear (click)="resendOTP();" [disabled]="!enableResend">{{'RESEND_OTP' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col padding>
        <button  ion-button block outline (click)="cancel()">{{ 'CANCEL' | translate }} </button>
      </ion-col>
      <ion-col padding>
        <button  ion-button block (click)="verify()">{{ 'BTN_SUBMIT' | translate }} </button>
      </ion-col>
    </ion-row>
  </ion-content>
