<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'USERS_AND_GROUPS' | translate}}</ion-title>
    <ion-buttons end>
      <button *ngIf="!playConfig" (click)="goToSharePage()" ion-button icon-only>
        <ion-icon name="share" float-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment no-padding [(ngModel)]="segmentType" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="users">
        {{'USERS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="groups">
        {{'GROUPS' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="segmentType">
    <ion-list *ngSwitchCase="'users'">
      <div padding>
        <div class="custom-margin-top">
          <div *ngIf="profileDetails?.handle">
            <p ion-text text-uppercase color="dark_gray" class="subTitle">{{ 'LOGGED_IN_AS' | translate}}</p>
            <ion-item class="item-background radius" margin-bottom no-lines [ngClass]="i===selectedUserIndex ? 'blueBorder' : ''">
              <ion-row class="bg-color-white">
                <ion-col col-12 class="bg-color-white" (click)="selectUser(i,  profileDetails?.uid, profileDetails?.handle)">
                  <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding>
                    <h6 [ngStyle]="{'color': currentUserId === profileDetails?.uid ? 'dodgerblue' : 'black'}"
                        class="line-height-2 padding-left-2 elipsis" color="primary">
                      <b
                        *ngIf="profileDetails">{{profileDetails.serverProfile ? profileDetails.serverProfile.firstName : profileDetails.handle}}&nbsp;{{profileDetails.serverProfile?.lastName}}</b>
                    </h6>
                    <!-- <p>{{profileDetails?.grade}}</p> -->
                    <p
                      *ngIf="profileDetails?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</p>
                    <p
                      *ngIf="profileDetails?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</p>
                  </ion-item>
                </ion-col>
                <!-- <ion-col col-1 class="advanced-menu">
  </ion-col> -->
              </ion-row>
            </ion-item>
          </div>
          <ion-label ion-text color="dark_gray" text-uppercase class="subTitle">{{'USERS' | translate}}</ion-label>
          <div *ngIf="noUsersPresent" class="nouser">
            <h6>{{'NO_USERS_CREATED_YET' | translate}}</h6>
            <div text-center class="description">
              {{ 'NO_USERS_CREATED_YET_MSG' | translate }}
            </div>
          </div>
          <div *ngIf="loadingUserList" class="nouser margin-bottom">
            <div text-center class="description">
              <b>{{'LOADING_USER_LIST' | translate}}</b>
            </div>
          </div>
          <ion-list *ngIf="!noUsersPresent && !loadingUserList">
            <ion-item *ngFor="let user of userList; let i=index;" class="item-background radius" margin-bottom [ngClass]="i===selectedUserIndex ? 'blueBorder' : ''"
              no-lines>
              <ion-row class="bg-color-white">
                <ion-col col-11 class="bg-color-white" (click)="selectUser(i, user?.uid, user?.handle)">
                  <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding>
                    <h6 class="line-height-2 elipsis" [ngStyle]="{'color': currentUserId === user?.uid ? 'dodgerblue' : 'black'}">
                      <b>{{user?.handle}}</b>
                    </h6>
                    <p>
                      <span
                        *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</span>
                      <span
                        *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</span>
                      <span *ngIf="user?.grade?.length">•</span> {{ getGradeNameFromCode(user) }}
                    </p>
                  </ion-item>
                </ion-col>
                <ion-col col-1 class="advanced-menu" *ngIf="!playConfig">
                  <ion-item item-end class="bg-color-white item-padding-left">
                    <ion-icon class="line-height-2 padding-left-2" name="more" item-end (click)="presentPopover($event ,i, true)"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </div>

      </div>
      
    </ion-list>
    <ion-list *ngSwitchCase="'groups'">
      <div padding>
        <div class="firstSection" *ngIf="showEmptyGroupsMessage">
          <div class="img-container">
            <img class="image_style" src="assets/imgs/ic_businessman.png">
          </div>
          <ion-row padding-top>
            <ion-col col-md-6 offset-md-3 col-lg-6 offset-lg-3>
              <div class="image-text">
                <h6>
                  <b>{{'NO_GROUPS_CREATED_YET' | translate}}</b>
                </h6>
                <div text-center class="description">
                  {{ 'NO_GROUP_MESSAGE' | translate }}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <ion-list>
          <div class="groupSecondSection" *ngIf="!showEmptyGroupsMessage">
            <ion-item *ngFor="let group of groupList; let i = index" class="item-background radius" margin-top margin-bottom no-lines>
              <ion-row class="bg-color-white">
                <ion-col col-11 class="bg-color-white">
                  <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding (click)="goToGroupDetail(i)">
                    <h6 class="line-height-2 elipsis" [ngStyle]="{'color': currentGroupId === group?.gid ? 'dodgerblue' : 'black'}">
                      <b>{{group?.name}}</b>
                    </h6>
                    <p>
                      <span ion-text color="text_gray" *ngIf="group?.grade && group?.grade[0]">{{ getGradeNameFromCode(group)
                        }}
                      </span>
                      <span ion-text *ngIf="group?.grade?.length">•</span>
                      <span ion-text color="text_gray" *ngIf="group?.profilesCount > 1">{{group?.profilesCount}} {{'USERS'
                        | translate}}</span>
                      <span ion-text color="text_gray" *ngIf="group?.profilesCount === 1">{{group?.profilesCount}} {{'USER'
                        | translate}}</span>
                      <span ion-text color="text_gray" *ngIf=" !group?.profilesCount || group?.profilesCount === 0">{{'NO_USERS'
                        | translate}}</span>
                    </p>
                  </ion-item>
                </ion-col>
                <ion-col col-1 class="advanced-menu" *ngIf="!playConfig">
                  <ion-item item-end class="bg-color-white item-padding-left">
                    <ion-icon class="line-height-2 padding-left-2" name="more" item-end (click)="presentPopover($event, i , false)"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-row *ngIf="segmentType === 'users'" >
      <div *ngIf="playConfig && selectedUserIndex === -1" class="error-message-contentplay">
          <div>
            <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
            {{ 'PLEASE_SELECT_USER' | translate }}
          </div>
        </div>
  </ion-row>
  <ion-row padding>
    <ion-col col-md-10 offset-md-1>
      <div *ngIf="selectedUserIndex !== -1; else enableCreateButton">
        <button *ngIf="!playConfig" ion-button block center (click)="switchAccountConfirmBox()" [disabled]="!selectedUsername">
          {{'SWITCH_ACCOUNT' | translate}}
        </button>
        <button *ngIf="playConfig" ion-button block (click)="play()" [disabled]="isCurUserSelected">
          {{'PLAY' | translate}}
        </button>
      </div>
      <ng-template #enableCreateButton>
        <button ion-button outline block *ngIf="segmentType=='users' && !this.playConfig" (click)="createUser()">{{ 'CREATE_NEW_USER'
          | translate}}</button>
        <button ion-button block *ngIf="this.playConfig && segmentType=='users'" [disabled]="true">{{ 'PLAY' | translate}}</button>
        <button ion-button outline block *ngIf="segmentType=='groups' && !this.playConfig" (click)="createGroup()">{{ 'CREATE_NEW_GROUP'
          | translate}}</button>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-footer>
