<ion-header>
  <ion-navbar color="white">
    <ion-title>{{'USERS_AND_GROUPS' | translate}}</ion-title>
    <ion-buttons end>
      <button (click)="goToSharePage()" ion-button icon-only>
        <ion-icon name="share" float-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment no-padding [(ngModel)]="segmentType" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="users">
        {{'USERS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="groups">
        {{'GROUPS' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div [ngSwitch]="segmentType" padding>
    <ion-list *ngSwitchCase="'users'">
      <div class="custom-margin-top">
        <div *ngIf="profileDetails?.firstName">
          <p ion-text text-uppercase color="dark_gray" class="subTitle">{{ 'LOGGED_IN_AS' | translate}}</p>
          <ion-item class="item-background radius" margin-bottom no-lines>
            <ion-row class="bg-color-white">
              <ion-col col-11 class="bg-color-white">
                <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding>
                  <h6 class="line-height-2" color="primary" (click)="selectUser(i, user?.name)">
                    <b>{{profileDetails?.firstName}}&nbsp;{{profileDetails?.lastName}}</b>
                  </h6>
                  <p>{{profileDetails?.grade | titlecase}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-1 class="advanced-menu">
              </ion-col>
            </ion-row>
          </ion-item>

        </div>
        <p ion-text color="dark_gray" text-uppercase class="subTitle">{{'USERS' | translate}}</p>
        <div *ngIf="showEmptyUsersMessage">
          <h6>{{'NO_USERS_CREATED_YET' | translate}}</h6>
          <p class="grey-color">{{'YOU_CAN_CREATE_GUEST_USER_ACCOUNTS_FOR' | translate}}
            <br> {{'YOUR_STUDENTS_OTHERS_TEACHERS' | translate}}
          </p>
        </div>
        <ion-list *ngIf="!showEmptyUsersMessage">
          <ion-item *ngFor="let user of userList; let i=index;" class="item-background radius" margin-bottom [ngClass]="i===selectedUserIndex ? 'blueBorder' : ''"
            no-lines>
            <ion-row class="bg-color-white">
              <ion-col col-11 class="bg-color-white" (click)="selectUser(i, user?.name)">
                <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding>
                  <h6 class="line-height-2" [ngStyle]="{'color': currentUserId === user?.uid ? 'dodgerblue' : 'black'}">
                    <b>{{user?.handle}}</b>
                  </h6>
                  <p>{{user?.profileType | titlecase}}
                    <span *ngIf="user?.grade?.length">•</span> {{user?.grade}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-1 class="advanced-menu">
                <ion-item item-end class="bg-color-white">
                  <ion-icon class="line-height-2" name="more" item-end (click)="presentPopover($event ,i, true)"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'groups'">
      <div class="firstSection" *ngIf="showEmptyGroupsMessage">
        <div class="img-container">
          <img class="image_style" src="assets/imgs/ic_businessman.png">
        </div>
        <ion-row padding-top>
          <ion-col col-md-6 offset-md-3 col-lg-6 offset-lg-3>
            <div class="image-text">
              <h6>
                <b>{{'NO_GROUPS_CREATED_YET' | translate}}</b>
              </h6>
              <p>{{'GROUPS_HELP_TO_ORGANIZE_THE_USER_BETTER' | translate}}.
                <br> {{'YOU_CAN_ALSO_USE_GROUPS_TO_MONITOR_BETTER' | translate}}
                <br>{{'PROGRESS_OVERALL' | translate}}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <ion-list>
        <div class="groupSecondSection" *ngIf="!showEmptyGroupsMessage">
          <ion-item *ngFor="let group of groupList; let i = index" class="item-background radius" margin-top margin-bottom no-lines>
            <ion-row class="bg-color-white">
              <ion-col col-11 class="bg-color-white">
                <ion-item class="bg-color-white padding-left-0 rm-label-margin" no-padding (click)="goToGroupDetail(i)">
                  <h6 class="line-height-2" [ngStyle]="{'color': currentGroupId === group?.gid ? 'dodgerblue' : 'black'}">
                    <b>{{group?.name}}</b>
                  </h6>
                  <p>
                    <span ion-text color="text_gray" *ngIf="group?.grade && group?.grade[0]">{{group?.grade[0]}}</span>
                    <span ion-text color="gray" *ngIf="group?.grade?.length">•</span>
                    <!-- <span><figure class="circle" *ngIf="group?.grade?.length"></figure></span> -->
                    <span ion-text color="text_gray" *ngIf="group?.profilesCount > 1">{{group?.profilesCount}} {{'USERS' | translate}}</span>
                    <span ion-text color="text_gray" *ngIf="group?.profilesCount === 1">{{group?.profilesCount}} {{'USER' | translate}}</span>
                    <span ion-text color="text_gray" *ngIf=" !group?.profilesCount || group?.profilesCount === 0">{{'NO_USERS' | translate}}</span>
                  </p>
                </ion-item>
              </ion-col>
              <ion-col col-1 class="advanced-menu">
                <ion-item item-end class="bg-color-white">
                  <ion-icon class="line-height-2" name="more" item-end (click)="presentPopover($event, i , false)"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-item>
        </div>
      </ion-list>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-row padding>
    <ion-col col-md-10 offset-md-1>
      <div *ngIf="selectedUserIndex !== -1; else enableCreateButton">
        <button ion-button block center (click)="switchAccountConfirmBox()">
          {{'SWITCH_ACCOUNT' | translate}}
        </button>
      </div>
      <ng-template #enableCreateButton>
        <button ion-button outline block *ngIf="segmentType==='users'" (click)="createUser()">{{ 'CREATE_NEW_USER' | translate}}</button>
        <button ion-button outline block (click)="createGroup()" *ngIf="segmentType==='groups'">{{ 'CREATE_NEW_GROUP' | translate}}</button>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-footer>