page-profile-settings {
    .form-position {
        margin-top: 50px;
    }

    /* This should be item-ios only as we are targeting mode as iOS for radio-button */
    .item-ios {
        background-color: map-get($colors, white_f7);
    }

    .button-inner {
        display: initial !important;
    }

    ion-icon {
        @include ltr {
            float: right !important;
        }

        @include rtl {
            float: left !important;
        }
    }

    ion-list[inset] {
        margin: 0 !important;
    }

    /* Change height of the ion-item*/
    .item-block {
        min-height: 5.5rem !important;
    }

    .item-select .label-md {
        color: map-get($colors, black);
    }

    .arrow-icon {
        @include padding(null, null, null, 2.8em !important);
    }

    .back-button {
        display: block !important;
    }

    .fill-in-style {
        font-size:20px; 
        text-align: center; 
        margin-top: 20px; 
        @include padding(0,5px);
        @extend .font-weight-bold;
    }
    .item-select-disabled {
        .label-md {
            color: map-get($colors, medium_gray);
            opacity: 1;
        }
    }

    .padding-bottom-if-header{
       padding-bottom: 80px !important;
    }
}