@import"../../assets/styles/variables";
page-profile-settings {
    
    .scroll-content, .fixed-content{
        padding-bottom: 53px;
    }

    .form-position {
        margin-top: 10px;
    }

    /* This should be item-ios only as we are targeting mode as iOS for radio-button */
    .item-ios {
        background-color: map-get($colors, white_f7);
    }

    .button-inner {
        display: initial !important;
    }

    ion-icon {
        @include ltr {
            float: right !important;
        }

        @include rtl {
            float: left !important;
        }
    }

    ion-list[inset] {
        margin: 0 !important;
    }

    /* Change height of the ion-item*/
    .item-block {
        min-height: 5.5rem !important;
    }

    // .item-select .label-md {
    //     color: map-get($colors, black);
    // }

    .arrow-icon {
        @include padding(null, null, null, 2.8em !important);
    }

    .back-button {
        display: block !important;
    }

    .fill-in-style {
        font-size:12px; 
        text-align: center; 
        margin-top: 30px; 
        @include padding(0,5px);
        // @extend .font-weight-bold;
    }
    .item-select-disabled {
        .label-md {
            color: map-get($colors, medium_gray);
            opacity: 1;
        }
    }
    
    .padding-bottom-if-header{
       padding-bottom: 80px !important;
    }

    .qr-container{
        padding: 10px 20px 0px 20px;
        background-color: $light-grey;
        border-bottom: 2px solid $gray-200;
        .qr-content{
            @include clearfix;
            .qr-img{
                border-right: 2px solid $gray-100;
                text-align: right;
                padding-right: 10px;
                .qr-img-container{
                    width: 50px;
                    img{
                        display: block;
                    } 
                    .qr-text{
                        text-align: center;
                        width: 50px;
                        background: #fff;
                        span{
                            font-weight: bold;
                            font-size: 10px;
                        }
                    }
                }
            }
            .qr-instruction-container{
                max-width: 70%;
                padding-left: 10px; 
                .qr-instruction{
                    .title{
                        display: block;
                        color: #006DE5;
                    }
                    .sub-titile{
                        display: block;
                        font-size: 12px;
                    }
                    
                }
            }
        }
        .qr-btn-container{
            text-align: center;
            margin-top: 5px; 
            .qr-btn{
                display: inline-block;
                background-color: #006DE5;
                padding: 10px 20px;
                text-align: center;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                img{
                    vertical-align: middle
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 20px;
                    padding-left: 10px;
                }
            }
        }
        .or-circle{
            display: block;
            width: 60px;
            height: 30px;
            border-radius: 15px;
            position: relative;
            top: 15px;
            background-color: $gray-800;
            text-align: center;
            color: #fff;
            font-size: 16px;
            line-height: 30px;
            margin: 0 auto;
        }
        
        
    }

    .item-label-stacked ion-select{
        border: 1px solid #006DE5;
        margin-top: 8px;
        padding-right: 15px !important;
        .select-icon{
            .select-icon-inner{
                border: solid blue;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 4px;
                transform: rotate(45deg);
                animation: dropDown 5s linear infinite;
                animation-duration: 0.9s;
            }
        }
        .select-placeholder{
            color: #006DE5;
            padding-left: 10px;
        }
    }
    .item-md.item-block .item-inner{
        border-bottom: none;
    }
    .item-select .label-md {
        color: #006DE5;
    }


    .item-label-stacked.item-select-disabled {
        .label-md {
            color: #CCCCCC;
        }
        ion-select {
            border-color: #CCCCCC;
            .select-icon{
                .select-icon-inner{
                    border-color: #CCCCCC;
                    animation: none;
                }
            }
            .select-placeholder{
                color: #CCCCCC;
            }
           
        }
    }

    .item-label-stacked.input-has-value.item-input-has-value {
        .label-md {
            color: $gray-800;
        }
        ion-select{
            border-color: $gray-300;
            .select-text {
                padding-left: 10px;
                font-weight: bold;
                color: $gray-800;
            }
            .select-icon{
                .select-icon-inner{
                    border-color: $gray-800;
                    animation: none;
                }
            }
        } 
    }
  @keyframes dropDown {
    0% {top: 0;}
    50% {top: 10px;}
    100% {top: 0;}
  }
}
