<ion-header>
  <ion-navbar>
    <ion-title *ngIf="addUsers">{{'ADD_USERS_TO_GROUP' | translate:{'%s': ""} }}</ion-title>
    <ion-title *ngIf="!addUsers">{{'REMOVE_USERS_FROM_GROUP' | translate:{'%s': ""} }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col class="rm-padding-left" col-md-4>
      <p text-left ion-text color="title" text-uppercase>
        <b *ngIf="addUsers">{{uniqueUserList?.length + groupMembers?.length}}&nbsp;{{'USERS' | translate}}</b>
        <b *ngIf="!addUsers && groupMembers?.length">{{groupMembers?.length}}&nbsp;{{'USERS' | translate}}</b>
      </p>
    </ion-col>
    <ion-col col-md-4 push-md-4 class="rm-padding-right">
      <button class="rm-padding-right" *ngIf="addUsers  && uniqueUserList?.length" text-uppercase ion-button float-end clear (click)="selectAll()">{{'SELECT_ALL'
        | translate}}</button>
      <button class="rm-padding-right" *ngIf="!addUsers" text-uppercase ion-button float-end clear (click)="unselectAll()">{{'UNSELECT_ALL'
        | translate}}</button>
    </ion-col>
  </ion-row>

  <ion-item *ngFor="let user of groupMembers; let i = index;" class="item-background" margin-bottom no-lines (click)="toggleMemberSelect(i)">
    <ion-label>
      <h6 class="line-height-2">
        <b>{{user?.handle}}</b>
      </h6>
      <p>
        <span *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</span>
        <span *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</span>
        <span *ngIf="user?.grade?.length">•</span> {{ getGradeNameFromCode(user) }}
      </p>
    </ion-label>
    <ion-checkbox item-end mode="ios" (click)="toggleMemberSelect(i)" checked="{{isGroupMemberSelected(i)}}" [disabled]="addUsers"></ion-checkbox>
  </ion-item>

  <div *ngIf="addUsers">
    <ion-item *ngFor="let user of uniqueUserList; let i = index;" class="item-background" margin-bottom no-lines (click)="toggleSelect(i)">
      <ion-label>
        <h6 class="line-height-2">
          <b>{{user?.handle}}</b>
        </h6>
        <p>
          <span *ngIf="user?.profileType === ProfileType.TEACHER">{{'USER_TYPE_1' | translate | titlecase}}</span>
          <span *ngIf="user?.profileType === ProfileType.STUDENT">{{'USER_TYPE_2' | translate | titlecase}}</span>
          <span *ngIf="user?.grade?.length">•</span> {{ getGradeNameFromCode(user) }}</p>
      </ion-label>
      <ion-checkbox item-end mode="ios" (click)="toggleSelect(i)" checked="{{isUserSelected(i)}}"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>


<ion-footer padding>
  <button block *ngIf="addUsers" (click)="add()" [disabled]="selectedUserLength === ''" ion-button>{{'ADD_USERS_TO_GROUP'
    | translate:{'%s': selectedUserLength} }}</button>
  <button block *ngIf="!addUsers" (click)="remove()" [disabled]="selectedGroupMemberLength === ''" ion-button>{{'REMOVE_USERS_FROM_GROUP'
    | translate:{'%s': selectedGroupMemberLength} }}</button>
</ion-footer>
