page-language-settings {
  /* This should be item-ios only as we are targeting mode as iOS for radio-button */
  .item-ios {
    background-color: map-get($colors, white_f7);
  }
  .button-inner {
    display: initial !important;
  }
  ion-icon {
    float: right !important;
  }
  ion-list[inset] {
    margin: 0 !important;
  }
  /* Change height of the ion-item*/
  .item-block {
    min-height: 5.5rem !important;
  }
  .gray-color {
    color: map-get($colors, secondary_black);
    font-size: 1.4rem;
    font-weight: 520;
  }
  .arrow-icon {
    padding-left: 2.8em !important;
  }
  .back-button {
    display: block !important;
  }
  .item-radio-checked.item-ios ion-label {
    color: map-get($colors, primary_black); /* Set Black color to the labe;l */
    font-weight: 700;
  }
}

.font-size-17 {
  font-size: 17px !important;
}

.languageSelectBtn {
  .toast-container{ 
    background-color: #FF0000;
    #toast-hdr-6{
      padding-left: 69px !important;
    }
    .toast-message {
      padding-left: 40px !important;
    }
    .toast-message:before{
      content: "\f19f";
      font-family: Ionicons;
     -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1;
      padding-left: 30px !important;
      padding-right: 16px !important;
      padding-bottom: 5px !important;
      text-rendering: auto;
      text-transform: none;
      margin-bottom:  29px !important;
      margin-top: 28px !important;
      margin-left: -39px !important;
      position: static;
      font-size: 2.1rem;
    }
  }
}