page-language-settings {
    /* This should be item-ios only as we are targeting mode as iOS for radio-button */
    .item-ios {
        background-color: map-get($colors, white_f7);
    }

    .button-inner {
        display: initial !important;
    }

    ion-icon {
        @include ltr {
            float: right !important;
        }


        @include rtl {
            float: left !important;
        }
    }
    
    .list-wrap{
       margin-bottom:8px; 
       padding-bottom:16px;
    }
    ion-list[inset] {
        margin: 0 !important;
    }

    /* Change height of the ion-item*/
    .item-block {
        min-height: 5.5rem !important;
    }

    .gray-color {
        color: map-get($colors, secondary_black);
        font-size: 1.4rem;
        @extend .font-weight-500;
    }

    .arrow-icon {
        @include padding(null, null, null, 2.8em !important);
    }

    .back-button {
        display: block !important;
    }

    .item-radio-checked.item-ios ion-label {
        color: map-get($colors, primary_black);
        @extend .font-weight-700;
    }
    .label{
        padding: 8px !important;
    }
}


.font-size-17 {
    font-size: 17px !important;
}

.redErrorToast {
    .toast-container {
        background-color: #FF0000;

        #toast-hdr-6 {
            padding-left: 69px !important;
        }

        .toast-message {
            padding-left: 40px !important;
        }

        .toast-message:before {
            content: "\f19f";
            font-family: Ionicons;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            @extend .font-weight-400;
            line-height: 1;
            padding-left: 30px !important;
            padding-right: 16px !important;
            padding-bottom: 5px !important;
            text-rendering: auto;
            text-transform: none;
            margin-bottom: 29px !important;
            margin-top: 28px !important;
            margin-left: -39px !important;
            position: static;
            font-size: 2.1rem;
        }
    }
}
