page-language-settings {
  /* This should be item-ios only as we are targeting mode as iOS for radio-button */
  .item-ios {
    background-color: map-get($colors, white_f7);
  }
  .button-inner {
    display: initial !important;
  }
  ion-icon {
    float: right !important;
  }
  ion-list[inset] {
    margin: 0 !important;
  }
  /* Change height of the ion-item*/
  .item-block {
    min-height: 5.5rem !important;
  }
  .gray-color {
    color: map-get($colors, secondary_black);
    font-size: 1.4rem;
    font-weight: 520;
  }
  .arrow-icon {
    padding-left: 2.8em !important;
  }
  .back-button {
    display: block !important;
  }
  .item-radio-checked.item-ios ion-label {
    color: map-get($colors, primary_black); /* Set Black color to the labe;l */
    font-weight: 700;
  }
}

.font-size-17 {
  font-size: 17px !important;
}
