<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="headerTitle === 'Courses In Progress'">{{ 'COURSES_IN_PROGRESS' | translate }}</span>
      <span *ngIf="headerTitle !== 'Courses In Progress'">{{ headerTitle }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding overflow-scroll = "true">
  <div *ngIf="searchList && searchList.length">
    <view-more-activity-list *ngFor="let item of searchList" [content]="item" [type]="pageType"></view-more-activity-list>
  </div>
  <!-- TODO: need good logic here -->
  <button ion-button block *ngIf="searchList && searchList.length && loadMoreBtn" (click)="loadMore();">{{ 'VIEW_MORE' | translate }}</button>
</ion-content>
