page-view-more-activity {
    .scroll-content{
        padding-bottom: 55px !important;
        contain: unset; 
    }
    button {
        border-radius: 5px !important;
    }
    .empty-search-result {
        font-size: 1.2em;
    }
    .loading-backdrop {
        .backdrop-container {
            width: 100%;
            padding: 16px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -50px;
        }
    
        .backdrop-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-bottom: 16px;
        }
    
        background-color: #ffffff;
        height: 100%;
        z-index: 1000;
        opacity: 1 !important;
    }

    .downloads-only {
        background: #f8f8f8; 
        @include margin(-16px, -16px, 16px, -16px);
        @include padding(0, 16px);
    }

}
.sb-view-all-container {
    width: 100%;
    .sb-view-all-items{
        background-color: $primary-color;
        height: ($base-block-space * 10);
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        @include padding(0, ($base-block-space * 2));
        .sb-view-all-title{
            color: $white-color;
            .page-heading{
                font-size: $font-size-base + 2;
                font-weight: bold;
                line-height: 22px;
            }
        
            .page-info{
                display: block;
                font-size: $font-size-base - 2;
                line-height: 15px;
            }
        }
        .sb-card-scroll-container{
          overflow-x: auto;
          padding: 0 0 8px 0;
        }
    }
    .sb-card-textbook-container, .sb-card-view-all-container{
        view-all-card {
          .sb-card{
            border-bottom: 0.5px solid rgba(151, 151, 151, 0.40);
            &:last-child{
              border-bottom: 0.5px solid rgba(151, 151, 151, 0.40);
            }
          }
          &:last-child{
            .sb-card{
              border-bottom: none;
            }
            
          }
        }
      }
      
}
