content-rating-alert {
    /* Sb-Rating Component Styling */
ul {
    @include padding($base-block-space);
      &.rating li {
        @include padding((($base-block-space * 2) - 4) !important);
        background: none;
        color: $info-color;
        ion-icon {
          font-size: (($font-size-base * 3) - 2);
        }
      }
    }

.content-rating-alert ion-backdrop {
    background-color: map-get($colors, dark) !important;
    opacity: 0.4 !important;
}
}