view-more-activity-list {
    .row-holder {
        border-radius: 0.2em;
        border: 1px solid #ccc!important;
    }
    .img-container {
        background-color: #000;
        width: 92%;
        height: 90%;
        // position: absolute;
        opacity: 0.4;
    }

    .button-position {
        margin-left: 60px;margin-top: 0px;
    }

    .padding-top-12 {
        padding-top: 12px
    }
    .float-left {
        float: left;
    }
    .width-64 {
        width: 64% !important;
    }

    .width-60 {
        width: 60%;
    }
    .margin-top-left-5 {
        margin-left: 5px;
        margin-top: 5px;
    }
    .btn-width-70{
        width: 70px;
    }
    .btn-width-80{
        width: 80px !important;
    }
    .content-type {
        color: #b4b4b3;
        font-size: 1.3rem;
    }
    .content-size {
        color: #b4b4b3;
        font-size: 1.3rem;
    }
    .content-name{
        color: #4F4F4F;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .content-created-date {
        font-family: 'OpenSans/Regular' !important;
    }
    .meta-data-holder {
        height: 100px !important;
    }
    // New changes
    .meta-name {
        font-size: 1.5rem !important;
        font-weight: 600;
    }
    .content-created-date1 {
        font-size: 1.2rem !important;
    }
    .content-size1{
        font-size: 1.1rem !important;
        color: #b4b4b3;
    }
    .width-90 {
        width: 90px !important;
    }
}
