<div class="row-holder">
  <ion-row>
    <ion-col col-4>
      <div class="img-container"></div>
      <img-loader src="{{ (content.appIcon) || (content.courseLogoUrl) || (defaultImg) }}" backgroundSize="cover" height="90px"
        spinner="true" fallback="{{defaultImg}}" fallbackAsPlaceholder="true" (load)="onImageLoad($event)"></img-loader>
    </ion-col>
    <ion-col col-8>
      <h6 style="margin-top: 0px;">{{(content.name.length > 21) ? (content.name | slice:0:10) + '...' : (content.name)}}</h6>
      <div class="row padding-top-5">
        <div>
          <span>Nov 5, 1955</span>
          <br/>
          <span *ngIf="content.contentType">{{ content.contentType }}</span>
          <br/>
          <span *ngIf="content.size">[{{ content.size | fileSize }}]</span>
        </div>
        <div>
          <button ion-button outline small border-radius-5 style="margin-left: 65px;margin-top: 0px;"
          (click)="navigateToDetailsPage(content)">OPEN</button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>