view-more-activity-list {
    .row-holder {
        border-radius: 0.2em;
        border: 1px solid #ccc!important;
    }
    .img-container {
        background-color: #000;
        width: 92%;
        height: 90%;
        // position: absolute;
        opacity: 0.4;
    }
    .padding{
        padding: 5px 0 !important;
    }

    .button-position {
        margin-left: 60px;margin-top: 0px;
    }

    .padding-top-12 {
        padding-top: 12px
    }
    .float-left {
        float: left;
    }
    .width-64 {
        width: 64% !important;
    }

    .width-60 {
        width: 60%;
    }
    .margin-top-left-5 {
        margin-left: 5px;
        margin-top: 5px;
    }
    .btn-width-70{
        width: 70px;
    }
    .btn-width-80{
        width: 80px !important;
    }
    .content-type {
        color: #b4b4b3;
        font-size: 1.3rem;
    }
    .content-size {
        color: #b4b4b3;
        font-size: 1.3rem;
    }
    .content-name{
        color: #4F4F4F;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .content-created-date {
        font-family: 'OpenSans/Regular' !important;
    }
    .meta-data-holder {
        height: 100px !important;
    }
    // New changes
    .meta-name {
        font-size: 1.5rem !important;
        font-weight: 600;
    }
    .content-created-date1 {
        font-size: 1.2rem !important;
    }
    .content-size1{
        font-size: 1.1rem !important;
        color: #b4b4b3;
    }
    .width-90 {
        width: 90px !important;
    }
    .content-meta {
        width: 100%; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; display: inline-block;color: #b4b4b3;
    }
    .row-border{
        margin-top: -5px; border: 2px solid #e9e9e9; border-radius: 6px;
    }
    .app-icon {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: auto;
        height: auto;
      }
    .image-align{
        border-radius: 5px 0 0 5px;
        background-color: #979797 !important;
        padding: 0 !important;

    }
    .col {
        max-height: 98px;
    }

    .course-progress {
        position: absolute;
        width: 100%;

        z-index: 10;

        .progress-outer {
          background-color: transparent !important;
        }

        .progress-inner {
          min-width: unset !important;
          padding: 2px !important;
        }

        .progress-inner-primary{
          background-color: #FF9F00 !important;
        }

        .progress-inner-secondary {
          background-color: #7ED321 !important;
        }
    }
}
