<ion-header>
  <ion-navbar>
    <ion-title>{{'USERS_AND_GROUPS'| translate}}</ion-title>
    <!-- <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-download"></ion-icon>
            </button>
            <button ion-button icon-only>
                <ion-icon name="md-share"></ion-icon>
            </button>
            <button ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-segment no-padding color="primary" [(ngModel)]="segmentType">
    <ion-segment-button value="users">
      {{'USERS' | translate}}
    </ion-segment-button>
    <ion-segment-button value="groups">
      {{'GROUPS' | translate}}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentType" padding>
    <ion-list *ngSwitchCase="'users'">
      <p ion-text color="light_gray">LOGGED IN AS</p>
      <ion-item class="custom-ion-list">
        <ion-thumbnail item-start>
          <img class="rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSEkBrNkKJxEV0sn35rirbf8pBC42UOMyedKQJWbs6quuqv1x5Cg">
        </ion-thumbnail>
        <ion-label>
          <h6 class="primary">Harish Bookwala</h6>
          <p>Jwaharlal Nagar Pune</p>
        </ion-label>
      </ion-item>
      <p class="grey-color">USERS</p>
      <div class="nouser" *ngIf="isShow">
        <h6>No Users Created Yet</h6>
        <p class="grey-color">you can create guest user accounts for
          <br> your students/others teachers
        </p>
      </div>
      <ion-list *ngIf="!isShow">
        <ion-item class="custom-ion-list" [style.border]="getStyle()">
          <ion-thumbnail item-start>
            <img class="rounded" (click)="showStyle = !showStyle;" src="http://srecalumni.org.in/user/resource/uploads/profile/male.png">
          </ion-thumbnail>
          <ion-label>
            <h6 class="primary">{{fullname}}</h6>
            <p>{{profession}}</p>
          </ion-label>
          <button ion-button icon-only item-end class="custom">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-list *ngSwitchCase="'groups'">
      <div class="firstSection" *ngIf="!isShow">
        <div class="img-container">
          <img class="image_style" src="assets/imgs/img_group.png">
        </div>
        <ion-row>
          <ion-col col-md-6 offset-md-3>
            <ion-col col-lg-6 offset-lg-3>
              <div class="image-text">
                <h6>
                  <b>No Groups Created Yet</b>
                </h6>
                <p>Gropus help to organize the user better.
                  <br> you can also use groups to monitior better
                  <br>progress overall</p>
              </div>
            </ion-col>
          </ion-col>
        </ion-row>
      </div>
      <div class="secondSection" *ngIf="isShow">
        <ion-list>
          <ion-item class="custom-ion-list">
            <ion-thumbnail item-start>
              <img class="rounded" (click)="members()" src="assets/imgs/male.png">
            </ion-thumbnail>
            <ion-label>
              <h6 (click)="members()">{{groupName}}</h6>
            </ion-label>
            <button ion-button icon-only item-end class="custom">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <div [ngSwitch]="segmentType">
    <div *ngSwitchCase="'groups'">
      <div>
        <ion-row>
          <ion-col col-md-10 offset-md-1>
            <button ion-button block outline (click)="createGroup()">{{'CREATE_NEW_GROUP'| translate}}</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngSwitchCase="'users'">
      <div class="createUser" *ngIf="!showStyle">
        <ion-row>
          <ion-col col-md-10 offset-md-1>
            <button ion-button block outline (click)="createUser()">{{'CREATE_NEW_USER' | translate}}</button>
          </ion-col>
        </ion-row>
      </div>
      <div class="switchUser" *ngIf="showStyle">
        <ion-row>
          <ion-col col-md-10 offset-md-1>
            <button ion-button block outline (click)="presentActionSheet()">{{'SWITCH_ACCOUNT'| translate}}</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-footer>
