/* card styles starts here */

.sb-card-container {
  display: inline-flex;
  
  .sb-card {
      min-width: ($base-block-space * 36);
      border-radius: 2px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12);
      grid-gap: ($base-block-space * 1);
      background-color: $bg-gray-0;
      @include margin(0, ($base-block-space * 1), 0, 0);
      @include padding(($base-block-space * 1));
      display: grid;
      grid-template-columns: ($base-block-space * 9) auto;
      background: $bg-white;
      
      .img-container {
          background-color: $bg-gray-0;
          width:($base-block-space * 9);
          height: ($base-block-space * 9);
          grid-column: 1;
      }
      .sb-card-details {
        overflow:hidden;
        display: flex;
        grid-column: 2;
        justify-content: center;
        flex-direction: column;
  
        .title {
          width:100%;
          overflow:hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin:0;
          margin-bottom: ($base-block-space * 0.5);
          padding:0;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          color: $gray-800;
          font-size: $font-size-base;
        }
        .info{
          font-size: 12px;
          // font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          color: $gray-200;
        }
      }
      &.about{
          display: block;
          ion-label{
            margin-bottom: 1px;
            font-size: ($font-size-base - 2);
            color: $gray-200;
          }
          p{
            margin-top: 0;
            font-size: $font-size-base;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            color: $black-color;
          }
        }
        &:first-child {
          @include margin(null, null, null, ($base-block-space * 1));
        }
        &:last-child {
          @include margin(null, ($base-block-space * 1), null, null);
        }
  
      
      &.full{
          grid-template-columns: ($base-block-space * 11) auto;
          @include padding(0);

          .img-container {
              background-color: $gray-100;
              width:($base-block-space * 11);
              height: ($base-block-space * 11);
          }

          .sb-card-details {
              @include padding(($base-block-space * 1));
          }
      }

      &.offline{
          .img-container {
            opacity: 0.5;
            display: flex;
            align-items: center;
          
              background-color: $tertiary-color;	
              box-shadow: 0 3px 5px 0 rgba(0,0,0,0.12);
          }

            .offline-icon{
              margin: auto;
              font-size: ($font-size-base + 10);
              color: $white-color;
            }
            .sb-card-details{
          opacity: 0.5;
         
        }
      }

      &.reverse{
        padding: 8px 16px;
        grid-auto-flow: dense;
        grid-template-columns:auto ($base-block-space * 9)  ;
        &.full{
          grid-template-columns: auto ($base-block-space * 11) ;
        }
        
        .img-container {
          grid-column: 2;
        }
        .sb-card-details{
          grid-column: 1;
        }
      }
  }

}

.sb-card-recently-container{
  flex-direction: row;
}

.sb-card-textbook-container{
  flex-direction: column;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.10);
  width: 100%;

  .sb-card{
      @include margin(0); 
      border-radius: 2px 2px 0 0;
      border-bottom: 0.5px solid rgba(151, 151, 151, 0.75);
      box-shadow: none;  
      &:first-child{
          @include margin(0); 
      }
      &:last-child{
         // border-bottom: none; 
          @include margin(0); 
      }
  }
}

.sb-card-view-all-container{
  flex-direction: column;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.10);
  width: 100%;
  .sb-card{
      @include margin(0); 
      border-radius: 2px 2px 0 0;
      border-bottom: 0.5px solid rgba(94, 94, 94, 0.75);
      box-shadow: none;  
      display: grid;
      grid-template-columns: ($base-block-space * 10) auto;

      .img-container {
          background-color: $bg-gray-0;
          width:($base-block-space * 10);
          height: ($base-block-space * 10);
      }
      
      &:first-child{
          @include margin(0); 
      }
      &:last-child{
          //border-bottom: none; 
          @include margin(0); 
      }

      .sb-card-details{
        position: relative;
        justify-content: flex-start;
        margin-bottom: -($base-block-space * 1);

        .info{
          @include margin(null, null, 4px, null);
        }
      }

      .sb-card-actions {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .action-btn {
          background: $primary-color;
          border-radius: 0px !important;
          box-shadow: none;
          height: ($base-block-space * 3);
          border-top-left-radius: 4px !important;
          border-top-right-radius: 4px !important;
          text-transform: capitalize;
          @include margin(0, 0, 0, ($base-block-space * 1));
          @include padding(null, ($base-block-space * 1));

          .button-inner {
            font-size: ($font-size-base - 2);
            line-height: 17px;
            font-weight: 100;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            text-align: center;
            color:$white-color;
            
            ion-icon{
              @include margin(0, ($base-block-space * 0.5), 0, 0);
            }
          }

          &.download{
            background-color: $success-color;
          }
          &.delete{
            background-color: $danger-color;
          }
        }
      }

  }
}

