/* Sb-Player Component Styling */

.sb-player-container {
    background-color: $gray-800;
    max-width:100%;
    height: ($base-block-space * 40);
    overflow:hidden;
    position: relative;
    text-align: center;
    .sb-arrow-back
    {
      @include padding($base-block-space * 0.5);
      color: $white;
    }
    .sb-circle
    {
      position: absolute;
      top: 16px;
      left: 16px;
      height:($base-block-space * 3);
      width:24px;
      //background-color: $white;
      border-radius: 50%;
      z-index: 100;
    }
    .sb-common-player-group{
      position: absolute;
      left: 0;
      right: 0;
      top: 58%;
      text-align: center;
      .sb-play-title-group{
        top: 58%;
      }
      .sb-common-title{
        height: 50px;
        .sb-common-white-icon{
          font-size: (($font-size-base * 3) - 2) ;
          color: $white;
        } 
      }
      .sb-offline-title {
       @include padding ($base-block-space);
        .sb-offline-white-icon{
          font-size :  (($font-size-base * 2) - 4);
          color: $white;
        } 
      }  
      .sb-common-footer-text {
        color : $white;
        font-weight: 500;
        font-size: ($font-size-base);
        text-align: center;
        text-transform: initial;
      }  
      .sb-common-footer-text.sb-sub-footer{
         font-size:($font-size-base  - 2);
      }  
    }
    .sb-common-player-group.sb-common-title-group{
      top: unset;
      text-align: center;
    }
    .sb-common-player-group.sb-download-title-group{
      top: 50%;
      text-align: center;
    }
    .sb-online-message
    {
      top: 0%;
      position: absolute;
      background-color: $secondary-100;
      height: ($base-block-space * 3);
      color: $white;
      text-align: center;
      font-size: ($font-size-base  - 2); 
      width: 100%;  
    }
    .sb-overlay-container{
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      height: 100%;
      position: absolute;
      //background: rgba(0,0,0,0.4);
      background: linear-gradient(180deg, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.71) 100%)
    }
  }
  // .sb-player-container.sb-offline-container{
  //   top: none;
  // }
