.permissionSettingToast{
    .toast-message{
        margin-left : 5px;
        padding-left: 5px;
        color: #F2F2F2;
        font-size: 12px;
        line-height: 16px;
    }
    .toast-button:before{
        content: url('../assets/imgs/ic_settings_error.png');
        margin-top: -6px;
        margin-left: -55px;
        z-index: 999;
        position: absolute;
        transform: scale(.7);
        
        height: 14px;
        width: 14px;
      }
      .button-inner{
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
      }
      .toast-button{
          padding-left: 26px;
      }
}