page-popover {
    .popover-content {
        width: 27% !important;
        top: 65% !important;
        left: 195px !important;
        width: 28% !important;
        height: 14% !important;
    }
}
