pb-horizontal {

    .progress-outer {
        width: 100%;
        text-align: center;
        background-color: map-get($colors, light_gray);
        color: map-get($colors, white);
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
    .progress-inner-onboard {
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 0;
        background-color: map-get($colors, primary);
    }

    .progress-inner-primary {
        background-color: map-get($colors, primary);
    }
    .progress-inner-secondary {
        background-color: map-get($colors, secondary);
    }
}
