@font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/natosans/NotoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
    .NotoSans {
        font-family: 'NotoSans' !important;
        font-weight: normal;
        font-style: normal;
    }
  
    .NotoSans-semi-bold {
      font-family: 'NotoSans' !important;
      font-weight: 600 !important;
    };

    .NotoSans-bold {
        font-family: 'NotoSans' !important;
        font-weight: 700 !important;
    }
    .NotoSans-extra-bold {
        font-family: 'NotoSans' !important;
        font-weight: 900 !important;
    }

  .font-weight-400 {
    font-weight: 400 !important;
  }

  .font-weight-500 {
    font-weight: 500 !important;
  }
  
  .font-weight-550 {
    font-weight: 550 !important;
  }

  .font-weight-600 {
    font-weight: 600 !important;
  }
 
  .font-weight-700 {
    font-weight: 700 !important;
  }
  
  .font-weight-900 {
    font-weight: 900 !important;
  }

  .font-weight-300 {
    font-weight: 300 !important;
  }

  .font-weight-bold {
    font-weight: bold !important;
  }

  .font-weight-bolder {
    font-weight: bolder !important;
  }

  