<pb-horizontal *ngIf="!onboardingService.isOnBoardingCardCompleted" [progress]="onboardingService.currentIndex" [isOnBoardCard]="isOnBoardCard"></pb-horizontal>
<div>
  <p class="onbording-card-header">{{ 'ONBOARDING_CARDS_HEADING' | translate }}</p>
  <ion-slides (ionSlideDrag)="onSlideDrag()" class="onbording-slides" pager="true"
    centeredSlides="false" speed="50">
    
    <ion-slide *ngFor="let slide of slideData; let i=index">
      <div class="onbording-slide-div">
        <ion-row>
          <span class="onbording-slide-title">
            {{slide?.title | translate}}
          </span>
        </ion-row>

        <ion-spinner *ngIf="loader" padding></ion-spinner>

      </div>
    </ion-slide>
  </ion-slides>
</div>