<ion-header>
  <ion-navbar>
    <ion-title>{{'EDIT_PROFILE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>
  <form [formGroup]="profileEditForm">
    <ion-item>
      <ion-label stacked class="label-font">{{'BOARD' | translate}} &lrm;<span ion-text color="danger">&nbsp;*</span></ion-label>
      <ion-select formControlName="syllabus" #boardSelect multiple="false" [selectOptions]="boardOptions" placeholder="{{'BOARD_OPTION_TEXT' | translate}}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" (ionChange)="resetForm(0)">
        <ion-option *ngFor="let eachSyllabus of syllabusList" value="{{eachSyllabus?.code}}">{{eachSyllabus?.name}} &lrm;</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked class="label-font">{{'MEDIUM' | translate}}<span ion-text color="danger">&nbsp;*</span></ion-label>
      <ion-select formControlName="medium" #mediumSelect multiple="true" [selectOptions]="mediumOptions" placeholder="{{'MEDIUM_OPTION_TEXT' | translate}}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" [disabled]="!(profileEditForm.value.boards != '')" (ionChange)="resetForm(2)">
        <ion-option *ngFor="let medium of mediumList" value="{{medium?.code}}">{{medium?.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked class="label-font">{{'CLASS' | translate}}<span ion-text color="danger">&nbsp;*</span></ion-label>
      <ion-select formControlName="grades" #gradeSelect multiple="true" [selectOptions]="classOptions" placeholder="{{'GRADE_OPTION_TEXT' | translate}}"
        okText="{{'BTN_SUBMIT' | translate}}" cancelText="{{'CANCEL' | translate}}" [disabled]="!(profileEditForm.value.medium != '')" (ionChange)="resetForm(3);enableSubmitButton();">
        <ion-option *ngFor="let grade of gradeList" text-capitalize value="{{grade?.code}}">{{grade?.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!showOnlyMandatoryFields">
      <ion-label stacked class="label-font">{{'SUBJECTS' | translate}}</ion-label>
      <ion-select formControlName="subjects" multiple="true" [selectOptions]="subjectOptions" placeholder="{{'SUBJECT_OPTION_TEXT' | translate}}"
        okText="{{'BTN_SUBMIT' | translate}}" [disabled]="!(profileEditForm.value.grades != '')" cancelText="{{'CANCEL' | translate}}">
        <ion-option *ngFor="let subject of subjectList" value="{{subject?.code}}">{{subject?.name}}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-row class="padding-12">
    <ion-col col-md-10 offset-md-1>
      <button ion-button block [ngStyle]="{'background-color': btnColor}" [disabled]="profileEditForm.invalid" (click)="onSubmit()">{{'SAVE' | translate}}</button>
    </ion-col>
  </ion-row>
</ion-footer>