<ion-content hide-header-footer overflow-scroll="true" style="background: #efeff4;"
  class="main-container avoid-bottom-tabs-space">
  <ion-refresher (ionRefresh)="getCourseTabData($event)"></ion-refresher>

  <div *ngIf="!guestUser && enrolledCourses && enrolledCourses.length" class="course-page-color"
    [ngClass]="{'height-130': showLoader}">
    <div class="item padding-11">
      <span float-start class="scroll-heading">
        {{ 'COURSES_IN_PROGRESS' | translate }}
      </span>
      <span float-end class="view-all-link" *ngIf="enrolledCourses && enrolledCourses.length"
        (click)="navigateToViewMoreContentsPage(true)">
        <a>{{ 'VIEW_ALL' | translate }}</a>
      </span>
    </div>
    <ion-scroll *ngIf="enrolledCourses && enrolledCourses.length" scrollX="true" style="width: 100%; height: 166px;"
      no-padding>
      <div class="inner inprogress-courses">
        <course-card *ngFor="let course of enrolledCourses; let i=index" [env]="'home'" [index]="i"
          [sectionName]="inProgressSection" [pageName]="'courses'" [course]="course" [guestUser]="guestUser"
          [layoutName]="layoutInProgress"></course-card>
      </div>
    </ion-scroll>
    <div *ngIf="enrolledCourses && enrolledCourses.length === 0 && !showLoader">{{ 'NO_DATA_FOUND' | translate }}</div>
    <ion-spinner *ngIf="showLoader" padding style="padding-top: 100px;"></ion-spinner>
  </div>

  <div *ngFor="let course of popularAndLatestCourses">
    <div *ngIf="course?.contents?.length">
      <div class="course-scroll-holder">
        <div class="item padding-11">
          <span float-start class="scroll-heading">{{course?.name}}</span>
          <span float-end class="view-all-link"
            (click)="navigateToViewMoreContentsPage(false,course.searchQuery, course.name)">
            <a>{{ 'VIEW_ALL' | translate }}</a>
          </span>
        </div>
        <ion-scroll scrollX="true" style="width: 100%; height: 166px;" no-padding>
          <div class="inner">
            <course-card *ngFor="let item of course.contents; let i=index" [env]="'home'" [index]="i"
              [sectionName]="course.name" [enrolledCourses]="enrolledCourses" [pageName]="'courses'" [course]="item"
              [layoutName]="layoutPopular" [guestUser]="guestUser">
            </course-card>
          </div>
        </ion-scroll>
      </div>
    </div>
    <!-- <div class="devider-line"></div> -->
  </div>
  <div *ngIf="pageApiLoader && popularAndLatestCourses && popularAndLatestCourses.length === 0">
    <div class="course-scroll-holder" style="height: 500px;">
      <ion-spinner padding style="padding-top: 110px;"></ion-spinner>
    </div>
  </div>
  <!-- </div> -->

  <div padding text-center *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">

    <img height="80" width="100" src="assets/imgs/ic_offline.png" />
    <h6 ion-text color="secondary_black">
      <b>{{ 'NO_INTERNET_TITLE' | translate }}</b>
    </h6>
    <p color="dark_gray">{{ 'OFFLINE_WARNING' | translate }}</p>
    <b ion-text text-uppercase color="primary"
      (click)="retryShowingPopularCourses(true); showOfflineWarning();">{{'RETRY_ACTION' | translate}}</b>
  </div>
  <div *ngIf="showSignInCard" class="signin-card-bg">
    <sign-in-card [source]="'courses'" (valueChange)="showOfflineWarning($event)"></sign-in-card>
  </div>
  <div class="bottom-cover"></div>
</ion-content>
<ion-backdrop class="loading-backdrop" *ngIf="showOverlay" text-center>
  <div class="backdrop-container">
    <span *ngIf="downloadPercentage !== 100">
      <ion-label>{{ 'LOADING_CONTENT' | translate }} {{ downloadPercentage ? (downloadPercentage) : '0' }} %</ion-label>
      <pb-horizontal [progress]="downloadPercentage" isOnBoardCard="false"></pb-horizontal>
    </span>
    <ion-label *ngIf="downloadPercentage === 100">{{ 'LOADING_CONTENT' | translate }}</ion-label>
  </div>

  <div class="backdrop-footer" *ngIf="downloadPercentage !== 100">
    <button ion-button small (click)="cancelDownload()">{{'CANCEL' | translate}}</button>
  </div>
</ion-backdrop>
