<ion-header>
  <ion-navbar>
    <ion-title>
      Courses
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="scanQRCode()">
        <img src="assets/imgs/ic_scanqr.png" class="tool-icon" float-end/>
      </button>
      <button ion-button icon-only (click)="search()">
        <img src="assets/imgs/ic_action_search.png" class="tool-icon" float-end/>
      </button>
      <button ion-button icon-only (click)="showFilter()">
        <img src="assets/imgs/ic_action_filter.png" class="tool-icon" float-end/>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" style="background: #efeff4;">
  <!-- onBoardingSLides starts here -->
  <div *ngIf="guestUser">
    <p class="onbording-card-header-text">{{ 'ONBOARDING_CARDS_HEADING' | translate }}</p>

    <ion-slides (ionSlideDrag)="onSlideDrag()" class="onbording-slides" pager=true centeredSlides=false speed=50 padding-left
      padding-right>

      <ion-slide *ngFor="let slide of onBoardingSlides; let i=index">
        <div class="onbording-slide-div">
          <ion-row>
            <p class="onbording-slide-title">
              {{slide.title}}
            </p>
          </ion-row>

          <ion-footer class="onbording-slide-footer" no-shadow no-border>
            <div *ngIf="!selectedValue[i]" (click)="openFilterOptions(slide, i)" style="font-size: 1.2rem; font-weight: bold; color: dodgerblue;">{{slide.desc}}</div>
            <div (click)="openFilterOptions(slide, i)" class="row">
              <div class="ellipsis" style="display:inline;font-size: 1.2rem;" text-uppercase>
                {{selectedValue[i]}}</div> &nbsp;
              <ion-icon *ngIf="selectedValue[i]" style="display:inline;font-size: 1.7rem;" name="md-create" color="primary"></ion-icon>
            </div>
          </ion-footer>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <!-- onBoardingSLides ends here -->


  <div *ngIf="!guestUser" class="course-page-color" [ngClass]="{'height-130': showLoader}">
    <div class="item padding-11">
      <span float-start class="scroll-heading">
        {{ 'COURSES_IN_PROGRESS' | translate }}
      </span>
      <span float-end class="view-all-link" *ngIf="enrolledCourse && enrolledCourse.length" (click)="viewMoreEnrolledCourses()">
        <a>{{ 'VIEW_ALL' | translate }}</a>
      </span>
    </div>
    <ion-scroll *ngIf="enrolledCourse && enrolledCourse.length" scrollX="true" style="width: 100%; height: 166px;" no-padding>
      <div class="inner inprogress-courses">
        <course-card *ngFor="let item of enrolledCourse" [course]="item" [layoutName]="'Inprogress'"></course-card>
      </div>
    </ion-scroll>
    <div *ngIf="enrolledCourse && enrolledCourse.length === 0 && !showLoader">No data found</div>
    <ion-spinner *ngIf="showLoader" padding></ion-spinner>
  </div>

  <div *ngFor="let items of popularAndLatestCourses">
    <div *ngIf="items.contents.length">
      <div class="course-scroll-holder">
        <div class="item padding-11">
          <span float-start class="scroll-heading">{{items.name}}</span>
          <span float-end class="view-all-link" (click)="viewAllCourses(items.searchQuery, items.name)">
            <a>{{ 'VIEW_ALL' | translate }}</a>
          </span>
        </div>
        <ion-scroll scrollX="true" style="width: 100%; height: 166px;" no-padding>
          <div class="inner">
            <course-card *ngFor="let item of items.contents" [course]="item" [layoutName]="'Popular'">
            </course-card>
          </div>
        </ion-scroll>
      </div>
    </div>
    <div class="devider-line"></div>
  </div>
  <!-- </div> -->
  <sign-in-card *ngIf="guestUser"></sign-in-card>
</ion-content>
