page-courses {
  .loading-backdrop {
    .backdrop-container {
        width: 100%;
        padding: 16px;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -50px;
    }

    .backdrop-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-bottom: 16px;
    }

    background-color: #ffffff;
    height: 100%;
    z-index: 1000;
    opacity: 1 !important;
}
  .inner {
    width: auto;
    height: 100%;
    course-card {
      display: table-cell;
    }
  }
  .inprogress-courses {
    .bottom-container {
      background: #efeff4;
    }
  }
  .scroll-heading {
    padding-top: 10px;
    font-weight: 700;
    font-family: 'opensans';
    font-size: 1.350em;
    font-weight: 600;
  }
  .view-all-link {
    font-size: 1.2rem;
    padding-top: 11px;
    font-family: 'opensans';
    font-weight: 700;
  }
  .course-scroll-holder {
    background-color: #FDFEFE;
  }
  .toolbar-title-md {
    margin-left: -5px !important;
  }
  .course-page-color {
    background: #efeff4;
  }
  .padding-11 {
    padding: 11px;
  }
  .height-130 {
    height: 134px;
  }
  .devider-line {
    background: #efeff4;
    height: 7px;
  }
  .signin-card-bg {
    background-color: map-get($colors, light_gray);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }
  ion-select {
    max-width: 75%;
    font-size: 14px;
    color: #488aff;
    font-weight: bold;
  }
  /* To give some space between the icons in the header */
  .tool-icon {
    margin: 10px 2px !important;
  }
  .offline-message {
    background-color: red !important;
    line-height: 2.5em !important;
    text-align: center !important;
    color: white;
    top: 0px;
    position: sticky;
    z-index: 11;
    display: block;
    width: 100%;
  }
}

ion-nav .driver-fix-stacking {
  //z-index: unset !important;
}

/* #driver-page-overlay {
  background-color: black;
}

#driver-highlighted-element-stage {
  width: 44px;
  height: 44px;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
} */

#driver-popover-item {
  left: unset !important;
  right: 10vw !important;
  width: 70vw !important;
}
div#driver-popover-item {
  min-width: 180px;
}
div#driver-popover-item .driver-popover-tip.top {
  right: 15vw;
}
div#driver-popover-item .driver-popover-title {
  color: map-get($colors, primary);
}
.toolbar.toolbar-md.driver-fix-stacking{
  //z-index: inherit !important;
}
#driver-highlighted-element-stage {
  border-radius: 50% !important;
}
.show-tab.driver-fix-stacking {
  //z-index: 9 !important;
}
.app-root.driver-fix-stacking {
  z-index: unset !important;
}
.driver-popover-footer {
  display: block !important;
}
.driver-btn-group {
  display: none !important;
}
div#driver-popover-item .driver-popover-footer button {
  background-color: map-get($colors, primary) !important;
  text-shadow: unset !important;
  color: map-get($colors, white);
  border-color: map-get($colors, primary) !important;
  font-family: inherit !important;
}