page-courses {
  .inner {
    width: auto;
    height: 100%;

    course-card {
      display: table-cell;
    }
  }
  .inprogress-courses {
    .bottom-container{
      background: #efeff4;
    }
  }

  .scroll-heading {
    padding-top: 10px;
    font-weight: 500;
    font-family: 'sunbirdboldfont';
    font-size: 1.350em;
    font-weight: 600;
  }
  .view-all-link {
    font-size: 1.4rem;
    padding-top: 11px;
    font-family: 'sunbirdboldfont';
    font-weight: 500;
  }
  .course-scroll-holder {
    background-color: #FDFEFE;
  }
  .toolbar-title-md {
    margin-left: -5px !important;
  }
  .course-page-color {
    background: #efeff4;
  }
  .padding-11 {
    padding: 11px;
  }

  .height-130 {
    height: 134px;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .onbording-card-header-text {
    color: rgb(90, 88, 88);
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    padding-top: 15px;
    .p {
       padding: 0%
    }
  }

  .onbording-slides {
    height: 180px;
  }

  .onbording-slide-div {
    height: 120px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -4%;
    padding-top:2%;
    padding-left: 4%;
    padding-right:3%;
    text-align: left;
    position:relative;
  }

  .onbording-slide-title {
    color:  rgb(90, 88, 88);
    font-size: 1.6rem;
  }

  .onbording-slide-footer {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 4%;
  }

  .board-select  .select-icon .select-icon-inner{
    border: none !important;
    padding: 0%;
  }

  ion-select {
    max-width: 75%;
    font-size:14px;
    color: #488aff;
    font-weight: bold;
  }

  .board-select.select-md .select-placeholder {
   color:#488aff !important;
  }

  /* To give some space between the icons in the header */
  .tool-icon {
    margin: 10px 2px !important;
  }
}
