page-user-type-selection {
  .card-related-style {
    border-style: solid;
    border-width: 2px;
    border-radius: 6px !important;
  }
  .description {
    color: map-get($colors, title);
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 25px !important;
  }
  .card-title {
    padding-left: 10px;
    font-weight: 700;
    font-size: 1.7rem;
    color: map-get($colors, secondary_black);
    margin-top: 10px !important;
  }
  .continue-related-style {
    margin: 0 20px 20px 20px;
  }
  .thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  .card-content-md {
    padding-left: 0 !important;
  }
  .item-md ion-avatar {
    padding-left: 8px;
  }
  ion-avatar img {
    width: 60px !important;
    height: 60px !important;
  }
  .item-md ion-avatar[item-start] {
    margin-right: 0 !important;
  }
  .card-md,
  .item-md {
    background-color: map-get($colors, white_f7) !important;
  }
  .card-md {
    margin: 20px 0 0 0 !important;
    width: 100% !important;
  }
  /* For Arrow icon at the end */
  .button-inner {
    display: initial !important;
  }
  ion-icon {
    float: right !important;
  }
  .arrow-icon {
    padding-left: 2.8em !important;
  }
  .gray-color {
    color: map-get($colors, primary_black);
  }
}
