menu-overflow{
    .popover-content{height:480px !important;}
}
.box.download-popover{
    .popover-content{
        top: 180px !important;
        background: #FAFAFA;
        .item{
            .label{
                color: $primary-600;
            }:first-child{
                margin-bottom: 0;
            }
            .item-inner{
                border: none; 
            }
        }
    }
}